<h1>Edit Parliament</h1>

<div class="grid-row">
  <div class="grid-column">
    <%= render "admin/shared/parliament_tabs" %>
  </div>

  <div class="column-two-thirds extra-gutter">
    <%= render "form" %>
  </div>
</div>
