<section class="about-item about-item-count-debate" id="debate-threshold" aria-labelledby="debate-threshold-heading">
  <h2 id="debate-threshold-heading">The Petitions Committee decided not to debate this petition</h2>
  <% if debate_outcome.overview? -%>
    <%= auto_link(simple_format(h(debate_outcome.overview)), html: { rel: 'nofollow' }) %>
  <% end -%>
</section>
