<section class="about-item about-item-count-debate" id="debate-threshold" aria-labelledby="debate-threshold-heading">
  <h2 id="debate-threshold-heading">At <%= Site.formatted_threshold_for_debate %> signatures...</h2>
  <p>At <%= Site.formatted_threshold_for_debate %> signatures, this petition will be considered for debate in Parliament</p>
</section>
