//  Petitions font stacks, referred to in typography.scss

// Petitions font stack
$petitions-font: "Helvetica Neue", Helvetica, Arial, sans-serif;

// No tabular font stack yet
$petitions-font-tabular: $petitions-font;

// Font reset for print
$print-reset: sans-serif;
