// Helpers
// ==========================================================================
// GOV.UK front end toolkit dependencies
@import "colours";
@import "shims";
@import "measurements";
@import "typography";
@import "css3";

// Path to assets for use with file-url()
$path: "/public/images/";

// Return ems from a pixel value
// This assumes a base of 19px
@function em($px, $base: 19) {
  @return ($px / $base) + em;
}

// Want to see how the grid works?
// add this class to the body to see how grid padding is set
.example-highlight-grid {
  .grid-row {
    background: $grey-2;
  }

  .column-highlight {
    background: $grey-3;
    width: 100%;
  }

}

// Used to space the "back" link on example pages
.example-back-link {
  @include inline-block;
  margin-top: $gutter;
}

// Hide, but not for screenreaders
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

// Hide, only when JavaScript is enabled
.js-enabled .js-hidden {
  display: none;
}
