// Panels
// ==========================================================================
// GOV.UK front end toolkit dependencies
@import "helpers";


// Indented panels with a grey left hand border
.panel-indent {
  @extend %contain-floats;
  clear: both;
  border-left: 4px solid $border-colour;

  padding: 10px 0 10px $gutter-half;
  margin: ($gutter $gutter-half $gutter*1.5 0);

  legend {
    margin-top: 0;
  }

  // Remove bottom margin on last paragraph
  p:only-child,
  p:last-child {
    margin-bottom: 0;
  }

  .form-group:last-child {
    margin-bottom: 0;
  }
}
