<h1>Surveys</h1>

<%= link_to 'New Survey', new_admin_survey_path, class: "button" %>

<table class="invalidation-list">
  <thead>
    <tr>
      <th>Petition</th>
      <th>Constituency</th>
      <th>Percentage Petitioners</th>
      <th>Subject</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
