// Petition item
// =============
.petition-item {
  color: $secondary-text-colour;
  margin: $gutter-two-thirds 0 $gutter;
  h3, p {
    margin-bottom: em(5, 16);
    @include media(tablet) {
      margin-bottom: em(5, 19);
    }
  }
  .count {
    @include core-36();
  }
  .additional-details {
    color: $text-colour;
  }
  .panel-indent {
    margin: 0;
  }
  p {
    margin-bottom: 0;
  }
}
.petition-item-existing {
  a {
    margin-bottom: em(10, 19);
  }
  a + p {
    margin-bottom: 0;
  }
}
.petition-item.petition-rejected {
  margin-bottom: $gutter;
}
