// Share petition
// ==============
.petition-share {
  $icon-size: 19px;
  @extend %contain-floats;
  @extend %mobile-outdent;
  border-bottom: 1px solid $panel-colour;
  li {
    float: left;
    @include box-sizing(border-box);
    width: 50%;
    border-top: 1px solid $panel-colour;
    padding: 10px $gutter-half;
  }
  li:nth-child(even) {
    border-left: 1px solid $panel-colour;
  }
  a {
    color: $text-colour;
    display: block;
    line-height: 1.8;
    padding-left: $icon-size + 10;
    position: relative;
    text-decoration: none;
  }
  a:hover {
    color: $secondary-text-colour;
    text-decoration: underline;
  }
  .icon {
    margin-right: 5px;
    width: $icon-size;
    height: $icon-size;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: $icon-size / 2 * -1;
    background-position: center left;
  }
  @include media(tablet) {
    li {
      width: 25%;
      border-left: 1px solid $panel-colour;
      border-right: none;
    }
    li:first-child {
      border-left: none;
    }
  }
  @include media(desktop) {
    li {
      width: 33.3333%;
    }
    .petition-share-whatsapp {
      display: none;
    }
  }
}
