<% content_for(:page_title) { "Accessibility - e-petitions" } %>
<div class="title_block">
  <h1>Accessibility</h1>
</div>

<div class="generic_text_block">
  <h2 class="top">Commitment to accessibility</h2>
  <p>
    We are committed to ensuring that the e-petitions website is usable and accessible to the widest possible audience, regardless of disability, capability or technology.
  </p>
  <p>
    We have maximised compatibility with current user agents, including assistive technologies, and will aim to be compatible with any future enhancements in assistive technology.
  </p>

  <h2>What did we do?</h2>
  <ul>
    <li>Our image content has a text equivalent that can be rendered by assistive technologies.</li>
    <li>We have provided text alternatives for any non-text content so that it can be changed into other forms people need such as large print, Braille, speech, symbols or simpler language.</li>
    <li>The navigation is clear, consistent and logical. </li>
    <li>All aspects of the navigation can be accessed using keyboard-only control and screen readers. </li>
    <li>An accessible search facility is provided. </li>
    <li>All links that can be selected via keyboard tabbing are visible or become visible when they receive focus. </li>
    <li>The tab order of the page is in a logical sequence that allows the user to be able to predict the next link to receive focus.</li>
    <li>The purpose of a link can be determined from the link text alone. </li>
    <li>Image links and buttons have an alt text that describes their purpose. </li>
    <li>Links that open in a new window can be identified by screen reader users from within the ‘links list’ dialogue of the screen reader. </li>
    <li>Where errors occur on a form, the user is informed as to which fields need attention and why. </li>
    <li>Our page titles help identify the general purpose and content of the page to the screen reader.</li>
    <li>Our online content complies with levels A and AA of the <%= new_window_link_to 'Web Content Accessibility Guidelines 2.0.', 'http://www.w3.org/TR/WCAG20/', :class => 'text_link_plain' %></li>
  </ul>

  <h2>Browsers</h2>
  <p>
    We have taken all reasonable steps to ensure that this website is as accessible as possible across the most common operating systems, internet-enabled hardware and web browsers currently available on the market.
  </p>
  <h3>Upgrading browsers</h3>
  <p>We would recommend upgrading your browser as far as your computer allows.  Later versions of browsers often have higher levels of security and better functions.</p>
  <p>Most browser suppliers will allow you to upgrade for free. Visit the browser's website to find out about the latest versions and to download them.  Browser downloads are very large; many browsers are also available on CDs such as those distributed by computer magazines.</p>

  <h2>Text resizing</h2>
  <p class="list_head">
    To resize the text on our pages you can follow these instructions:
  </p>
  <ul>
    <li>PC/Internet Explorer 6 - from the top menu bar, select ‘view’ and point to ‘text size’  </li>
    <li>PC/Internet Explorer 7 - from the menu bar underneath the search field, select ‘page’ and point to ‘text size’ </li>
    <li>PC/other browsers - to increase text size, hold down the CTRL key and press ‘+’ </li>
    <li>PC/other browsers - to reduce text size, hold down the CTRL key and press ‘-’ </li>
    <li>Mac/all browsers - to increase text size, hold down the Command key and press ‘+’ </li>
    <li>Mac/all browsers - to reduce text size, hold down the Command key and press ‘-’ </li>
  </ul>

  <h2>CAPTCHA</h2>

  <p>To prevent attacks by spamming, this site uses a CAPTCHA service when a user creates or signs an <span class="nowrap">e-petition</span>.</p>

  <p><%= new_window_link_to 'Find out more information about the CAPTCHA service', 'http://captchas.net', :class => 'text_link_plain' %></p>

</div>
