<% content_for(:page_title) { "Cookies" } %>
<div class="title_block">
  <h1>Cookies</h1>
</div>

<div class="generic_text_block">

  <p>This website puts small files (known as ‘cookies’) onto your computer to collect information about how you browse the site.</p>

  <p>Cookies are used to:</p>

  <ul>
    <li>measure how you use the petitions service so it can be updated and improved based on your needs</li>
    <li>remember the notifications you’ve seen so that we don’t show them to you again</li>
  </ul>

  <p>These cookies aren’t used to identify you personally.</p>

  <p>Find out more about <a rel="external" href="http://www.aboutcookies.org/">how to manage cookies.</a></p>  

  <h2>Google Analytics cookies</h2>

  <p>We use Google Analytics to collect information about how you use the service. This information helps us to improve the service.</p>
  <p>The Google analytics cookie collects and stores information about:</p>

  <ul>
      <li>the pages you visit - how long you spend on each page</li>
      <li>how you got to the service</li>
      <li>what you click on while you’re using the service</li>
  </ul>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Purpose</th>
        <th>Expires</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>_utma</td>
        <td>This lets us know if you’ve visited before, so we can count how many of our visitors are new to the petitions service or to a certain page</td>            
        <td>2 years</td>
      </tr>
      <tr>
        <td>_utmb</td>
        <td>This works with _utmc to calculate the average length of time you spend on the petitions service</td>
        <td>30 minutes</td>
      </tr>
      <tr>
        <td>_utmc</td>
        <td>This works with _utmb to calculate when you close your browser</td>
        <td>When you close your browser</td>
      </tr>
      <tr>
        <td>_utmt</td>
        <td>This tells us about events as you use the service</td>
        <td>10 minutes</td>
      </tr>
      <tr>
        <td>_utmz</td>
        <td>This tells us how you reached the petitions service (like from another website or a search engine)</td>
        <td>6 months</td>
      </tr>
    </tbody>
  </table>

  <p>Google isn’t allowed to use or share our analytics data with anyone, but you can opt out of Google Analytics cookies.</p>

  <h2>Session cookies</h2>
  <p>We store a session cookie on your computer to help keep your information secure while you use the service.</p>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Purpose</th>
        <th>Expires</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>_epets_session</td>
        <td>This keeps your information secure while you use the petitions service</td>
        <td>When you close your browser</td>
      </tr>
    </tbody>
  </table>

</div>
