<% content_for(:page_title) { "Crown copyright - e-petitions" } %>
<div class="title_block">
  <h1>&copy; Crown copyright</h1>
</div>

<div class="generic_text_block">
  <p>The material on this website is subject to Crown copyright protection unless otherwise indicated.</p>
  
  <h2>Re-using Crown copyright material</h2>
  
  <p>You may re-use the text information on this website provided you identify the source and state that it is Crown copyright.</p>
  
  <p class="list_head">You may re-use the information on this website free of charge in any format, but you must:</p>
  <ul>
    <li>re-use the information accurately</li>
    <li>acknowledge the source of the information</li>
    <li>not re-use the information in a deliberately misleading way</li>
    <li>not re-use the information for promotion or advertising purposes except for promoting an e-petition</li>
    <li>not imply endorsement by <span class="nowrap">e-petitions</span>, another government department or other public sector organisation</li>
    <li>not mimic the style and appearance of the original information, for example by replicating the look of the e-petitions site</li>
  </ul>
  
  <h2>Images and photography</h2>
  
  <p>Images and photographs on this site are subject to Crown copyright protection unless otherwise indicated. You may re-use Crown copyright images subject to the conditions listed above.</p>
  
  <h2>Linking to <span class="nowrap">e-petitions</span> pages</h2>
  
  <p>You can link to <span class="nowrap">e-petitions</span> information pages. You don't have to ask permission to link to the website.</p>
  
  <h2>Re-using third party material</h2>
  
  <p>The permission to reproduce Crown protected material does not extend to any material on this site that is identified as being the copyright of a third party. Permission to use such material must be obtained from the copyright holder concerned.</p>
  
  <h2>Further information</h2>
  
  <p>For further information on Crown copyright policy and licensing arrangements, see the guidance featured on The National Archives website:</p>
  
  <%= new_window_link_to "Crown copyright - The National Archives website", "http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm" %>
</div>
