<% content_for(:page_title) { "Help with the Petition Parliament service" } %>
<div class="title_block">
  <h1>Terms and conditions</h1>
</div>

<div class="generic_text_block">
  <p>The purpose of e-petitions is to provide an easy way for the public to engage with politics in this country. All <span class='nowrap'>e-petitions</span> will be accepted and published on this website providing they:</p>
  <ul>
    <li>call on the government for a specific action</li>
    <li>do not substantially duplicate an existing open <span class='nowrap'>e-petition</span></li>
    <li>meet the further criteria below</li>
  </ul>
  
  <h2>Submission Conditions</h2>

  <p>An <span class='nowrap'>e-petition</span> may freely disagree with the government or call for changes of policy. There will be no attempt to exclude critical views. Decisions to accept or reject will be made on an impartial basis.</p>
  
  <p>However, to protect this service from abuse, <span class='nowrap'>e-petitions</span> must satisfy some basic conditions.</p>
  <p class="list_head">To create or sign an <span class='nowrap'>e-petition</span>, you must be either:</p>
  <ul>
    <li>a British citizen</li>
    <li>a resident in the UK (you normally live in the UK)</li>
  </ul>
  
  <p class="list_head">To submit an <span class="nowrap">e-petition</span>, you must use the online form to provide:</p>
  <ul>
    <li>the title or subject of the <span class='nowrap'>e-petition</span></li>
    <li>a clear statement that covers the subject of the <span class='nowrap'>e-petition</span> and what action you want the government to take</li>
    <li>the government department to which the <span class='nowrap'>e-petition</span> is addressed</li>
    <li>the name of the person submitting the <span class='nowrap'>e-petition</span> (the 'petitioner') - names of organisations cannot be accepted</li>
    <li>the petitioner's email address (this will not be published on the website)</li>
    <li>the petitioner's home address (this will not be published on the website)</li>
  </ul>
  
  <h2>E-petition guidelines</h2>

  <p>All <span class='nowrap'>e-petitions</span> must call for a specific action from the government.</p>

  <p>If an e-petition does not include a clear statement explaining what action you want the government to take, it will be rejected.</p>

  <p>When submitting an <span class='nowrap'>e-petition</span>, you may not include the following:</p>

  <dl>
    <dt>Confidential, libellous, false or defamatory statements</dt>
    <dd>
      <ul>
        <li>Information which may be protected by an injunction or court order</li>
        <li>Material which is potentially confidential, commercially sensitive, or which may cause personal distress or loss</li>
        <li>Names of individuals if they have been accused of a crime or information that may identify them</li>
        <li>Names of individual officials of public bodies, unless they are part of the senior management of those organisations</li>
        <li>Names of family members of elected representatives, eg MPs, or officials of public bodies</li>
      </ul>
    </dd>
    
    <dt>Offensive, joke or nonsense <span class='nowrap'>e-petitions</span></dt>
    <dd>
      <ul>
        <li>Language that may cause offence, is provocative or extreme in its views</li>
        <li>Wording that is impossible to understand</li>
        <li>Statements that amount to advertisements</li>
        <li>Joke or nonsense content</li>
      </ul>
    </dd>
    
    <dt>Matters which are not the responsibility of HM Government</dt>
    <dd>
      <ul>
        <li>Party political material</li>
        <li>Commercial endorsements including the promotion of any product, service or publication</li>
        <li>Issues that are dealt with by devolved bodies, eg The Scottish Parliament</li>
        <li>Correspondence on personal issues</li>
        <li>Freedom of Information requests</li>
      </ul>
    </dd>
    
    <dt>Matters relating to honours or appointments</dt>
    <dd>
      <ul>
        <li>Nominations for honours. Find out how to submit nominations for honours at: <%= new_window_link_to "www.gov.uk/honours", "https://www.gov.uk/honours", :class => "text_link_plain" %></li>
      </ul>
    </dd>
  </dl>
  
  <p>E-petitions that do not follow these guidelines cannot be accepted. In these cases, you will be informed by email of the reason(s) your <span class='nowrap'>e-petition</span> has been refused.</p>

  <p>We will publish the full text of rejected <span class='nowrap'>e-petitions</span>, unless the content is illegal or offensive.</p>

  <p>It is not possible to alter a rejected <span class='nowrap'>e-petition</span>, and no correspondence will be entered into regarding rejected <span class='nowrap'>e-petitions</span>. Rejection of an <span class='nowrap'>e-petition</span> does not stop you from submitting a new <span class='nowrap'>e-petition</span> which meets the terms and conditions of the site.</p>

  <h2>Government departments and e-petitions</h2>

  <p>When submitting an e-petition, you must choose the government department that you believe owns the issue you have raised in your <span class='nowrap'>e-petition</span>. Individual departments will check <span class='nowrap'>e-petitions</span>. We reserve the right to transfer an <span class='nowrap'>e-petition</span> to a different department, based on ministerial responsibility.</p>

  <p>It will usually take up to seven days from the time an e-petition is submitted for it to appear on the website. During busy periods it may take longer.</p>

  <p>Once accepted, <span class='nowrap'>e-petitions</span> will be made available on this website for anyone to sign. Anyone signing the <span class='nowrap'>e-petition</span> must provide their name, home address and email address. No personal details will be published on the site. This information will not be used for any purpose other than in relation to the <span class='nowrap'>e-petition</span>.</p>

  <p class="list_head">The government may contact you by email to:</p>
  <ul>
    <li>confirm you have submitted an e-petition</li>
    <li>confirm you have signed an e-petition</li>
    <li>provide updates about the e-petition</li>
  </ul>

  <p>You will only receive a maximum of five emails for each e-petition.</p>

  <p>If you sign an e-petition (are a 'signatory'), you will only receive updates if you choose this option when you sign it.</p>

  <p>All petitioners and signatories will receive a first email that asks you to confirm your email address.</p>


  <h2>Paper based Parliamentary Petitions</h2>
 
  <p>The e-petitions system is not intended to replace the current paper based system of public petitions in the House of Commons.</p>
  <p>For more information about the paper based Parliamentary Petitions, you can visit the <%= new_window_link_to "UK Parliament website", "http://www.parliament.uk/get-involved/have-your-say/petitioning/" %>.</p>

</div>
