<% content_for :strap_line do -%>
<p class="strap-line">Tell the government what you think</p>
<% end -%>

<div class="section-panel">
  <% if @trending_petitions.present? %>
    <section class="trending">
      <h2>Popular petitions</h2>
      <ul>
        <% @trending_petitions.each do |trending_petition| %>
          <%= render 'petitions/trending_petition', :trending_petition => trending_petition %>
        <% end -%>
      </ul>
    </section>
  <% end %>
  <%= link_to 'View all petitions', petitions_path, :class => 'view-all' %>
</div>

<section class="section-panel local-to-you">
  <h2>Local to you</h2>
  <p>Find petitions about local issues</p>
  <%= render 'local_petitions/search' %>
</section>

<section class="section-panel">
  <h2>Start a new petition</h2>
  <p>Anyone can start a petition as long as they are a British citizen or UK resident</p>
  <%= link_to "Start a new petition", check_petitions_path, :class => 'button' %>
</section>

<form method="get" action="/search" class="search-form search-inline">
  <label for="search" class="form-label">Search petitions</label>
  <input type='text' name="q" id="search" class="form-control" />
  <input type='submit' value='Search' class="inline-submit" />
</form>
