<% content_for(:page_title) { "Privacy policy - e-petitions" } %>
<div class="title_block">
  <h1>Privacy policy</h1>
</div>

<div class="generic_text_block">
  <h2>Personal data - creating an e-petition</h2>

  <p>If you create an e-petition on this website, you must provide us with your name, address and email so we can contact you about your e-petition. Your personal information will only be used for this purpose. </p>

  <p>Your name (but no other details) will be published on your e-petition.</p>

  <h2>Personal data - signing an e-petition</h2>
  <p>When you sign an e-petition on this website, you must provide us with your name, address and email so we can check that signatures are genuine. Your personal information will only be used for this purpose. </p>

  <p>Your personal details will not be published on the site and the person who created the e-petition can’t see them. </p>

  <p>We will only contact you about an e-petition if you ask to receive updates when you sign it.</p>

  <h2>Cookies</h2>
  
  <p>We use cookies to collect information about how visitors use our site. We use the information to compile reports and to help us improve the site. </p>

  <p class='list_head'>The cookies we use collect information anonymously. They let us:</p>
  <ul>
    <li>count the number of visitors to the site</li>
    <li>understand how visitors got to the site</li>
    <li>understand which pages are viewed</li>
  </ul>

  <p>Our web servers automatically log the IP/internet address of your computer to help prevent attacks on the e-petitions website.</p>

  <h2>Freedom of information</h2>
  
  <p>We already publish on this website the data we hold that you can request under the Freedom of Information Act.</p>

  <p>If you wish to see the personal data that we hold about you, send a <%= new_window_link_to "Subject Access Request", "http://www.ico.gov.uk/for_the_public/personal_information/how_manage/access_info.aspx" %> to <%= mail_to "foiteam@cabinet-office.x.gsi.gov.uk" %>. You must include the email address you used to create or sign an e-petition. Our response will be sent to this email address to protect your privacy. </p>

  <p>We reserve the right to charge a fee for providing your data.</p>
</div>
