/* Give a strong clear visual idea as to what is currently in focus */
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

a:focus {
  background-color: $focus-colour;
  outline: 3px solid $focus-colour;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: 3px solid $focus-colour;
}
