$house-of-commons-green: #080;
$petitions-brand: $house-of-commons-green;
$petitions-header-colour: $petitions-brand;
$petitions-panel-colour: $petitions-brand;
$petitions-button-colour: $petitions-brand;
$petitions-footer-colour: $grey-3;

$flash-green: #adff2f;
$flash-blue: #add8e6;
$flash-red: #b10e1e;

$caution: #ff6700;
$danger: #b10e1e;
$success: #005ea5;
