#logout-warning {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;

  .logout-warning-modal {
    background-color: #FFF;
    margin: 10% auto 0;
    width: 40%;
    padding: 24px;
    box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.3);
  }

  .logout-warning-message {
    margin: 0 0 24px 0;
  }

  .logout-warning-actions {
    margin: 0;

    button {
      font-size: 16px;
      margin-bottom: 2px;
    }
  }
}
