.admin {
  a {
    text-decoration: none;
  }

  select.form-control {
    height: 40px;
  }

  #content {
    margin-top: $gutter-half;
  }

  select#state {
    margin-bottom: $gutter-half;
  }

  .flash-notice {
    background-color: $flash-green;
    padding: $gutter-half;
    @include bold-19;
  }

  .flash-error,
  .flash-alert {
    background-color: $flash-red;
    color: $white;
    padding: $gutter-half;
    @include bold-19;
  }

  .reject-flash-notice {
    background-color: $flash-blue;
    clear: both;
    padding: $gutter-half;
    margin: 5px 0 30px;

    p:last-child {
      margin-bottom: 0;
    }
  }

  .search-petitions, .search-invalidations, .search-signatures {
    margin-bottom: $gutter-half;
  }

  .character-count {
    margin-bottom: 0;
  }

  .tabs {
    margin-bottom: $gutter-half;
  }

  // Pagination
  .pagination {
    margin: $gutter-half 0;
    text-align: right;
    .icon {
      display: none;
    }
    .disabled {
      color: $panel-colour;
    }
    .current {
      background-color: $panel-colour;
      padding: 1px 0.2em;
    }
    a {
      padding: 1px 0.1em;
    }
    a:visited {
      color: $link-colour;
    }
    .previous_page {
      margin-right: 5px;
    }
    .next_page {
      margin-left: 5px;
    }
  }

  .login {
    margin-top: $gutter;
  }

  .mandatory {
    color: $red-50;
    font-weight: bold;
    font-size: 24px;
  }

  .form-label-inline {
    display: inline-block;
  }

  .button_to {
    display: inline-block;

    button, input[type=submit] {
      margin: 0;
      font-size: 12px;
      padding: 2px 8px;
      line-height: 16px;
    }
  }

  .button-small {
    margin: 0;
    font-size: 14px;
    padding: 4px 12px;
    line-height: 18px;
  }

  .partial-list,
  .template-list,
  .page-list,
  .petition-emails,
  .domain-list,
  .petition-emails,
  .rejection-reason-list {
    .button, .button-secondary, .button-warning {
      margin: 0;
      font-size: 12px;
      padding: 2px 8px;
      line-height: 16px;
      white-space: nowrap;
      width: auto;
    }
  }

  .edit-petition-link {
    margin-top: 15px;
  }

  .auto-width {
    width: auto;
  }

  .actions-right {
    .inline-button {
      margin-right: 0;
    }
  }

  .inline-actions {
    overflow: hidden;

    form {
      float: left;
    }
  }

  .department-list, .tag-list, .topic-list {
    label {
      font-size: 14px;
      padding: 2px 0 0 0;
      margin: 0;

      &::before {
        height: 18px;
        width: 18px;
      }

      &::after {
        border-width: 0 0 3px 3px;
        width: 9px;
        height: 5px;
        top: 6px;
        left: 5px;
      }
    }

    .multiple-choice {
      padding: 0 0 0 27px;
      margin: 0 10px 10px 0;

      input {
        height: 20px;
        width: 20px;
      }
    }

    .panel-indent {
      margin: 15px 0 15px 0;
      padding: 5px 0 5px 15px;

      p {
        margin-top: 0;
      }
    }
  }

  .department-selector,
  .tag-selector,
  .topic-selector {
    padding-top: 10px;
    clear: both;

    summary {
      font-size: 16px;
    }

    small {
      font-size: 16px;
    }

    .department-list, .tag-list, .topic-list {
      margin-top: 5px;
    }
  }

  .search-period {
    padding-top: 5px;

    small {
      font-size: 16px;

      label {
        display: inline-block;
        margin-left: 6px;

        input {
          display: inline-block;
          margin-right: 6px;
        }
      }
    }
  }
}
