<div class="grid-row">

  <div class="column-two-thirds extra-gutter">
    <%= render 'admin/archived/petitions/petition_content' %>
    <%= render 'admin/archived/petitions/petition_actions' %>
  </div>

  <div class="petition-meta column-third">
    <%= render 'admin/archived/petitions/petition_details' %>
  </div>

</div>
