<div class="signature-number" aria-hidden>
  <div class="tumble">
    <% signature_count = number_with_delimiter(@signature.number) %>
    <% signature_count.split("").each do |c| %>
      <span class="tumble-digit">
        <span class="tumble-digit-spacer"><%= c %></span>
        <span class="tumble-digit-inner">
          <span class="tumble-ribbon">
            <span class="tumble-ribbon-inner">
              <% if c == ',' %>
                <span class="tumble-value tumble-last-value">,</span>
              <% else %>
                <% for i in (c.to_i).downto(0) %>
                   <span class="tumble-value tumble-last-value"><%= i %></span>
                <% end %>
              <% end %>
              <span class="tumble-value tumble-first-value"> </span>
            </span>
          </span>
        </span>
      </span>
    <% end %>
  </div> <span class="signatures"><%= t(:"ui.signatures.confirmation.signatures") %></span>
</div>
