<div class="grid-row margin-top-7">
  <div class="grid-column-two-thirds-from-laptop">
    <h1>
      Confirm your email address
    </h1>

    <p>
      We’ve sent you an email. Follow the link in the email to confirm your address.
    </p>

    <div class="highlight">
      <p>
        Your signature will not be counted until you click the link in the email
      </p>
    </div>

    <h2 class="heading-4">
      If you do not receive a confirmation email:
    </h2>

    <ul class="bulleted-list">
      <li>check your spam or junk mail folders</li>
      <li>allow up to 24 hours for the email to arrive</li>
    </ul>
  </div>
</div>
