<h1 class="page-title page-title-with-icon">
  <span class="icon icon-email"></span>
  One more step…
</h1>

<p>Check your email and click the link to sign this petition.</p>

<%= render "notification", message: "You have not signed until you click the link in the email" %>
