<h1 class="page-title page-title-with-icon">
  <span class="icon icon-email"></span>
  One more step…
</h1>

<p>
  We’ve sent you an email. Please click on the link in the email to confirm your address.
</p>

<%= render "notification", message: "Your signature will not be counted until you click the link in the email" %>

<details>
  <summary><span class="summary">Not received a confirmation email?</span></summary>

  <div class="panel-indent">
    <p>
      If you haven’t received a confirmation email:
    </p>

    <ul class="list-bullet">
      <li>check your spam or junk mail folders</li>
      <li>allow up to 24 hours for the email to arrive</li>
    </ul>
  </div>
</details>
