<h1 class="page-title page-title-with-icon">
  <span class="icon icon-email"></span>
  One more step&hellip;
</h1>

<p>Please check your inbox and click the link in the email to sign this petition.</p>

<%= render partial: "shared/notification", locals: { text: "You have not signed until you click the link in the email" } %>
