<% if @signature.already_unsubscribed? %>
  <h1>Already unsubscribed</h1>
  <p>You have already unsubscribed from future email updates on this petition.</p>
<% elsif @signature.invalid_unsubscribe_token? %>
  <h1>Failed to unsubscribe</h1>
  <p>Failed to unsubscribe. Your unsubscription token is invalid.</p>
<% else %>
  <h1>Successfully unsubscribed</h1>
  <p>You have now unsubscribed from future email updates on this petition.</p>
<% end %>

<%= link_to "Return to home page", home_path %>
