<% content_for(:page_title) { "Thank you for verifying your email address - e-petitions" } %>
<% content_for :title do %>
<div class="title_block">
  <h1>Thank you.</h1>
</div>
<% end %>

<div class="cta_block thank_you_block">
  <p>You have now confirmed your email address.</p>

  <p>Your e-petition will now be checked to make sure it complies with the terms &amp; conditions for creating an e-petition.</p>

  <p>Checking can take up to 7 days, so we'll send you an email once this is done.</p>

  <%= link_to "Return to home page", home_path, :class => 'link_button large_link_button return_to_homepage_button' %>
</div>
