.bundle
.project
.rvmrc
db/*.sqlite3
log/*
tmp/
config/database.yml
public/cucumber
public/index.html
public/javascripts/all.js
public/api/**
solr/data
vendor/bundle
vendor/ruby
vendor/plugins/query_reviewer
coverage
.DS_Store
*/.DS_Store
*/*/.DS_Store
.idea
