dist: xenial
language: ruby
sudo: false

cache:
  bundler: true

rvm:
  - 2.5.5

services:
  - memcached
  - postgresql

addons:
  chrome: stable
  postgresql: "10"

before_install:
  - gem install bundler -v 1.17.3

before_script:
  - bundle install
  - psql -c 'create database wpets_test;' -U postgres
  - RAILS_ENV=test bundle exec rake db:structure:load

script: RAILS_ENV=test bundle exec rake
