<%= hidden_field_tag :tab, "allowed_ips" %>

<%= form_row for: [form.object, :allowed_ips] do %>
  <%= error_messages_for_field @rate_limit, :allowed_ips %>
  <%= form.text_area :allowed_ips, tabindex: increment, rows: 15, class: 'form-control' %>
  <p><small>use CIDR addressing to match ranges, e.g. 192.168.0.0/24</small></p>
<% end %>
