<%= hidden_field_tag :tab, "blocked_domains" %>

<%= form_row for: [form.object, :blocked_domains] do %>
  <%= error_messages_for_field @rate_limit, :blocked_domains %>
  <%= form.text_area :blocked_domains, tabindex: increment, rows: 15, class: 'form-control' %>
  <p><small>use *.example.com to match one subdomain and **.example.com to match nested subdomains</small></p>
<% end %>
