<h1 class="page-title">
  Sorry, you can’t sign this petition
</h1>

<p>
  Only British citizens or UK residents have the right to sign petitions.
</p>

<p>
  <%= link_to "Back to the petition", petition_path(@petition) %>
</p>
