<h1 class="page-title">Make sure this is right</h1>

<%= render 'signatures/email', f: f, signature: signature,  hide_label: true %>

<%= f.submit 'Yes - this is my email address', :name => 'move:next', :class => 'button', :tabindex => increment %>

<p>If your email address is wrong, just change it above</p>
