<%= render 'replay_email_ui_heading' %>

<%= render 'signatures/email', f: f, signature: signature,  hide_label: true %>

<%= f.submit 'Yes – this is my email address', :name => 'move:next', :class => 'button', :tabindex => increment %>

<p>If your email address is wrong, just change it above</p>
