<h1 class="page-title">Sign petition</h1>
<h2 class="page-subtitle"><%= @petition.action %></h2>

<%= render 'signatures/form', f: f, signature: signature, context: 'sign' %>

<%= form_row do %>
  <%= f.submit 'Sign this petition', :name => 'move:next', :class => 'button', :tabindex => increment %>
<% end %>

<section class="secondary">
  <p>We won't publish your personal details anywhere or use them for anything other than this petition.</p>
  <p>We will email you about this petition, and nothing else.</p>
</section>
