<%= render 'signer_ui_heading' %>

<%= render 'signatures/form', f: f, signature: signature, context: 'sign' %>

<%= f.submit 'Sign this petition', :name => 'move:next', :class => 'button', :tabindex => increment %>

<section class="secondary">
  <p>We won't publish your personal details anywhere or use them for anything other than this petition.</p>
  <p>We will email you about this petition, and nothing else. You can unsubscribe at any time.</p>
</section>
