<p>Dear <%= @signature_one.name %> and <%= @signature_two.name %>,</p>

<p>Your signatures have already been added to the petition "<%= @signature_one.petition.title %>"</p>

<p>Thanks,</p>

<p>HM Government e-petitions <%= home_url %></p>
