<p>Dear <%= @signature.name %>,</p>

<p>Your email has been used to sign the petition: “<%= link_to @petition.action, petition_url(@petition) %>”.</p>

<p>You have already signed it, so your signature cannot be accepted.</p>

<%= render "footer" %>
