<p>Hi <%= @signature.name %>,</p>

<p>You’ve already signed the petition “<%= @signature.petition.action %>”</p>

<p>You can’t sign a second time.</p>

<p>Thanks,<br />
<%= t("petitions.emails.signoff_prefix") %><br />
<%= t("petitions.emails.signoff_suffix") %></p>
