<p>Click this link to sign the petition "<%= @petition.action %>"</p>

<p><%= link_to nil, verify_signature_url(@signature, @signature.perishable_token) %></p>

<p>Thanks,<br />
<%= t("petitions.emails.signoff_prefix") %><br />
<%= t("petitions.emails.signoff_suffix") %></p>
