<p>Dear <%= @signature.name %>,</p>

<p>Thanks for creating an e-petition.</p>

<p>Before your e-petition is reviewed, you need to confirm your email address by clicking on the link below:</p>

<%=
  link_to nil, verify_signature_url(@signature, @signature.perishable_token)
%>

<p>If you don't want to submit this e-petition or believe this message was sent in error, please ignore this e-mail.</p>

<p>Thanks,</p>

<p>HM Government e-petitions <%= link_to home_url, home_url %></p>
