<p>Dear <%= @signature.name %>,</p>

<p>Please <%= link_to "confirm your email", verify_signature_url(@signature, token: @signature.perishable_token) %> to sign the petition: “<%= link_to @petition.action, petition_url(@petition) %>”.</p>

<%= render "footer" %>
