<p>You’re receiving this email because your email has been used to sign the petition “<%= @petition.action %>”, but you have already signed this petition.</p>

<p>View the petition “<%= @petition.action %>” at: <br>
<%= link_to nil, petition_url(@petition) %></p>

<%= render "footer" %>
