<p>Dear <%= @signature.name %>,</p>

<p>Your signature has already been added to the petition "<%= @signature.petition.title %>"</p>

<p>Thanks,</p>

<p><%= t("petitions.emails.signoff_prefix") %> <%= home_url %></p>
