<p>Dear <%= @signature.name %>,</p>

<p>Because of the General Election, the petitions site had to close. This is because Parliament is now dissolved which means that all parliamentary business – including petitions – must stop for a few weeks before the vote.</p>

<p>We’re very sorry that you didn’t have time to collect your five signatures before this happened.</p>

<p>Petitions started before the election won’t restart when the site opens again. You are very welcome to resubmit your petition once the site reopens, but you’ll need to collect your sponsor signatures again.</p>

<p>The petitions site will open again after the election, but at the moment we don’t know exactly when. You can follow us on Twitter <a href="https://twitter.com/WelshPetitions">@WelshPetitions</a> for updates, or check back on the petitions site for news if you prefer.</p>

<% if Parliament.dissolution_faq_url? %>
<p>You can find out more about what the General Election means for your petitions on our website: <%= link_to(nil, Parliament.dissolution_faq_url) %></p>
<% end %>

<p>Many thanks,<br />
<%= t("petitions.emails.signoff_prefix") %><br />
<%= t("petitions.emails.signoff_suffix") %></p>
