<p>Dear <%= @signature.name %>,</p>

<p>We published the petition you supported – “<%= @petition.action %>”</p>

<p>Click this link to see the petition and start sharing it:<br />
<%= link_to nil, petition_url(@petition) %></p>

<%= render "footer" %>
