.no-petitions-yet {
  padding-top: $gutter-half;
}

.actioned-petitions {
  ul {
    display: flex;
    margin: 30px 0 0 0;
  }

  li {
    margin: 0;
    padding: 0;
    width: 50%;
  }

  a {
    display: block;
    margin-right: 10px;
    text-decoration: none;

    @include media(tablet) {
      margin-right: 20px;
    }

    .count {
      display: block;
      font-size: 36px;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 5px;

      @include media(tablet) {
        font-size: 48px;
      }
    }

    .suffix {
      display: block;
      font-size: 14px;
      text-wrap: balance;
      text-decoration: underline;
      text-decoration-thickness: max(1px, .05rem);
      text-underline-offset: 0.1578em;

      @include media(tablet) {
        font-size: 19px;
      }
    }

    &:hover {
      .suffix {
        text-decoration-thickness: max(3px, .15rem);
        text-decoration-skip-ink: none;
        text-decoration-skip: none;
      }
    }

    &:focus {
      .suffix {
        text-decoration: none;
      }
    }
  }
}

.trending {
  h2 {
    margin-bottom: 0;
  }
  .petition-item {
    margin: $gutter-half 0;

    @include media(tablet) {
      margin: $gutter-half 0;
    }

    h3 {
      margin-top: $gutter-half;

      @include media(tablet) {
        margin-top: $gutter-half;
      }
    }
  }
}

.view-all {
  margin-top: $gutter-half;
}

// Threshold panel links
a.threshold-panel {
  color: $white;
  display: block;
  @extend %outdent-to-full-width;
  background-color: $petitions-panel-colour;
  background-position: 15px 15px;
  background-repeat: no-repeat;
  padding: $gutter-half $gutter*2 $gutter-two-thirds $gutter-half;
  margin: $gutter*1.5 $gutter-half*-1 $gutter;
  text-decoration: none;

  @include media(tablet) {
    margin: $gutter*1.5 0 $gutter;
  }

  h2 {
    font-size: 24px;
    line-height: 1.25;
    margin-top: 0;
    padding-left: $text-indent - 5px;
  }

  p {
    margin: 0;
    text-decoration: underline;
    text-decoration-thickness: max(1px, .05rem);
    text-underline-offset: 0.1578em;
  }

  &:hover {
    p {
      text-decoration-thickness: max(3px, .15rem);
      text-decoration-skip-ink: none;
      text-decoration-skip: none;
    }
  }

  &:focus {
    p {
      text-decoration: none;
    }
  }
}

a.threshold-panel:hover {
  background-color: darken($petitions-panel-colour, 5%);
}

a.threshold-panel:focus {
  background-color: $focus-colour;
  color: $focus-text-colour;
}

a.threshold-panel-response {
  background-position: 15px 16px;
  background-image: url("graphics/graphic_crown-white.png");

  @include device-pixel-ratio() {
    background-image: url("graphics/graphic_crown-white-2x.png");
    background-size: 27px;
  }

  &:focus {
    background-image: url("graphics/graphic_crown.png");
    @include device-pixel-ratio() {
      background-image: url("graphics/graphic_crown-2x.png");
    }
  }
}

a.threshold-panel-debate {
  background-position: 15px 12px;
  background-image: url("graphics/graphic_portcullis-white.png");

  @include device-pixel-ratio() {
    background-image: url("graphics/graphic_portcullis-white-2x.png");
    background-size: 26px;
  }

  &:focus {
    background-image: url("graphics/graphic_portcullis.png");
    @include device-pixel-ratio() {
      background-image: url("graphics/graphic_portcullis-2x.png");
    }
  }
}

// Threshold petitions
.threshold-petitions {
  .intro {
    margin: 10px 0;
  }
  .pull-quote {
    margin-top: 5px;
  }
  .pull-quote:before, .pull-quote p {
    color: $black;
  }
}

.get-involved,
.register-to-vote {
  font-weight: bold;
  margin-top: $gutter-half;
  display: block;
  padding: $gutter-one-third;
  background-color: $panel-colour;
  @include media(tablet) {
  margin-top: $gutter;
    padding: $gutter-one-third $gutter-half;
  }
}

.local-to-you,
.start-petition {
  border-top: 1px solid #dee0e2;
  border-bottom: none;
  margin-top: $gutter;
  padding-bottom: 0;
}

.local-to-you h2,
.start-petition h2 {
  @include bold-24();

  margin-top: em(40, 20);
  margin-bottom: em(10, 20);

  @include media(tablet) {
    margin-top: em(60, 24);
    margin-bottom: em(20, 24);
  }
}

.search-petitions {
  margin-top: $gutter;
  padding-bottom: 0;
}

.search-petitions h2 {
  @include bold-36();

  margin-top: em(30, 20);
  margin-bottom: em(10, 20);

  @include media(tablet) {
    margin-top: em(30, 24);
    margin-bottom: em(10, 24);
  }

  label {
    display: block;
    margin: 0;
  }
}
