.text-page {
  h1 {
    margin: em(25, 24) 0;

    @include media(tablet) {
      margin: em(35, 36) 0;
    }
  }

  h2 {
    @include bold-24();

    margin-top: em(40, 20);
    margin-bottom: em(10, 20);

    @include media(tablet) {
      margin-top: em(60, 24);
      margin-bottom: em(20, 24);
    }
  }

  ul {
    list-style-type: disc;
    padding-left: 20px;
  }

  ol {
    list-style-type: decimal;
    padding-left: 20px;
  }

  ul, ol {
    margin-top: 5px;
    margin-bottom: 20px;
  }

  ul li,
  ol li {
    margin-bottom: 5px;
  }
}
