<details class="form-group-help">
  <summary><span class="summary">Show more examples</span></summary>
  <div class="panel-indent">
    <p>Good examples (they say clearly what they want the government to do):</p>
    <ul class="list-bullet">
      <li>Introduce Black History to the primary curriculum</li>
      <li>Stop the increase to MP’s wages</li>
    </ul>
    <p>Bad examples (they don’t say what they want the government to do):</p>
    <ul class="list-bullet">
      <li>Russia Problem on US ruling</li>
      <li>Justice for David Thomas</li>
    </ul>
    <p>You don’t need to say “Petition to ...” or “We the undersigned ...”.</p>
  </div>
</details>
