<% unless petition.emails.empty? %>
  <section class="about-item about-item-other-business" id="other-business" aria-labelledby="other-business-heading">
    <h2 id="other-business-heading">Other parliamentary business</h2>

    <% petition.emails.each do |email| %>
      <details>
        <summary><span class="summary"><%= email.subject %></span></summary>
        <div class="panel-indent panel-no-border">
          <%= markdown_to_html(email.body, link_attributes: { rel: 'nofollow' }) %>
        </div>
      </details>
    <% end %>
  </section>
<% end %>
