<% if @petition.open? %>
  <section class="about-item about-item-count-referral" id="referral-threshold" aria-labelledby="referral-threshold-heading">
    <% if @petition.will_be_referred? %>
      <h2 id="referral-threshold-heading"><%= t(:"ui.petitions.referral_threshold.waiting.heading") %></h2>
      <p><%= t(:"ui.petitions.referral_threshold.waiting.referral_threshold", threshold: Site.formatted_threshold_for_referral) %></p>
    <% else -%>
      <h2 id="referral-threshold-heading"><%= t(:"ui.petitions.referral_threshold.needs_more_signatures.heading", threshold: Site.formatted_threshold_for_referral) %></h2>
      <p><%= t(:"ui.petitions.referral_threshold.needs_more_signatures.referral_threshold", threshold: Site.formatted_threshold_for_referral) %></p>
    <% end -%>
  </section>
<% end %>
