<section class="about-item about-item-count-response" aria-labelledby="response-threshold-heading">
  <span class="graphic graphic-crown"></span>
  <h2 id="response-threshold-heading"><%= Site.formatted_threshold_for_response %></h2>
  <%# Has response #%>
  <% if government_response = petition.government_response? -%>
    <h3>The government responded</h3>
    <blockquote>
      <%= auto_link(simple_format(h(government_response.summary)), html: { rel: 'nofollow' }) %>
    </blockquote>

    <% if government_response.details? -%>
      <details>
        <summary><span class="summary">Read the response in full</span></summary>
        <div class="panel-indent panel-no-border">
          <%= auto_link(simple_format(h(government_response.details)), html: { rel: 'nofollow' }) %>
        </div>
      </details>
    <% end -%>
  <% else -%>
    <p>If a petition gets <%= Site.formatted_threshold_for_response %> signatures, the government will respond</p>
  <% end -%>
</section>
