<section class="about-item about-item-count-10000">
  <h2>10,000 <span>signatures</span></h2>
  <%# Has response #%>
  <% if petition.response_summary.present? -%>
    <h2>This petition has received the following response:</h2>
    <%= raw auto_link(simple_format( h(petition.response_summary) ), :html => { :target => '_blank' }) %>

    <% if petition.response.present? -%>
      <details>
        <summary><span class="summary">Read the response in full</span></summary>
        <div class="panel-indent">
          <%= raw auto_link(simple_format( h(petition.response) ), :html => { :target => '_blank' }) %>
        </div>
      </details>
    <% end -%>
  <% else -%>
    <p>If a petition gets 10,000 signatures, the government will respond</p>
  <% end -%>
</section>
