<div class="about-petitions">
  <%-
    order = ['response_threshold', 'debate_threshold']
    order.reverse! if petition.debate_outcome? or petition.scheduled_debate_date?
  -%>
  <% order.each do |partial_name| -%>
    <%= render "petitions/#{partial_name}", petition: petition %>
  <% end -%>
</div>
