<div class="about-petitions <%= local_assigns[:variation] %>">
  <%-
    order = ['response_threshold', 'debate_threshold']
    order.reverse! if petition.debate_outcome.present?
  -%>
  <% order.each do |partial_name| -%>
    <%= render "petitions/#{partial_name}", petition: petition %>
  <% end -%>
</div>
