<h1 class="page-title">Start a petition</h1>

<form method="get" action="/petitions/check_results">
  <div class="form-group">
    <label for="q" class="form-label">What do you want us to do?</label>
    <textarea name="q" id="q" value="<%= @petitions.try(:query) %>" class="form-control" rows="3"></textarea>
    <p class="character-count">80 characters max</p>
    <%= render 'petitions/action_help' %>
  </div>

  <section class="create-warning" aria-labelledby="just-so-you-know-heading">
    <h2 id="just-so-you-know-heading">Just so you know</h2>
    <span aria-hidden="true"><%= Site.minimum_number_of_sponsors %></span>
    <p>Later on, you'll need email addresses for <%= Site.minimum_number_of_sponsors %> supporters to get your petition started</p>
  </section>

  <input type="submit" value="Continue" class="button" />
</form>
