<% content_for(:page_title) { "Create a new e-petition - e-petitions" } %>
<% content_for :title do %>
<div class="title_block">
  <h1>Create a new e-petition</h1>
</div>
<% end %>

<%= render "pre_creation_search_form" %>

<div class="petition_index_view">
  <div class="petition_pre_create_results">
    <% if @petitions.empty? %>
      <p class="no_petitions_warning">We didn't find any existing e-petitions that match your subject, click the 'Create e-petition' button to continue.</p>
    <% else %>
      <%= render 'search/results_for_pre_create_petition', petitions: @petitions %>
    <% end %>
  </div>
</div>

<div class="cta_block reduced_padding_block" id="create_pet_cta_block">
  <p>If there are no existing e-petitions on the same subject, click the 'Create e-petition' button to continue.</p>
  <%= link_to "Create e-petition", new_petition_path(title: @petitions.query) %>
</div>
