<%= render 'parliament_dissolution_warning' %>

<h1 class="page-title">Start a petition</h1>

<form method="get" action="/petitions/check_results">
  <div class="form-group">
    <label for="action" class="form-label">
      What do you want us to do?
      <span class="form-hint">Example: Change the day General Elections are held to Wednesday</span>
    </label>
    <textarea name="q" id="action" class="form-control" data-max-length="80" rows="3"><%= @new_petition.action %></textarea>
    <p class="character-count">80 characters max</p>
    <details class="form-group-help">
      <summary><span class="summary">Show more examples</span></summary>
      <div class="panel-indent">
        <p>Good examples:</p>
        <ul class="list-bullet">
          <li>Introduce Black History to the primary curriculum</li>
          <li>Lower the voting age to 16</li>
        </ul>
        <p>Bad examples:</p>
        <ul class="list-bullet">
          <li>Russia Problem on US ruling</li>
          <li>Justice for David Thomas</li>
        </ul>
        <p>Good petitions say clearly what they want government or parliament to do.</p>
      </div>
    </details>
  </div>

  <section class="create-warning" aria-labelledby="just-so-you-know-heading">
    <h2 id="just-so-you-know-heading">Just so you know</h2>
    <span aria-hidden="true"><%= Site.minimum_number_of_sponsors %></span>
    <p>Later on, you’ll need email addresses for <%= Site.minimum_number_of_sponsors %> supporters to get your petition started</p>
  </section>

  <input type="submit" value="Continue" class="button">
</form>
