<% content_for(:page_title) { "Start a petition - Petitions" } %>

<%= link_to check_petitions_path, class: "back-page" do %>
  &#9664; Back
<% end %>

<% if @petitions.empty? %>
  <h1 class="page-title">We did not find any similar petitions</h1>
  <p>We didn't find any existing petitions that match your subject, click the 'Start a petition' button to continue.</p>
  <% create_button_text = "Start a petition" -%>
<% else %>
  <h1 class="page-title">We found some similar petitions</h1>
  <p>If there's already a petition on the same topic, your petition is likely to be rejected</p>
  <%= render 'petitions/search/results_for_pre_create_petition', petitions: @petitions %>
  <% create_button_text = "My petition is different" -%>
  <%= render 'shared/notification', text: 'If there\'s already a petition on the same topic, your petition is likely to be rejected' %>

  <p>If one of the petitions above matches yours, sign it and share it instead.</p>
  <p>You're more likely to get to 10,000 and 100,000 signatures that way.</p>
<% end %>
<%= link_to create_button_text, new_petition_path(:petition_action => @petitions.query.first(80)),
    :class => 'button' %>
