<h1><%= t(:"ui.petitions.gathering_support.heading") %></h1>

<p><%= t(:"ui.petitions.gathering_support.supporters_needed_html", creator_name: @petition.creator.name, n_sponsors: Site.minimum_number_of_sponsors, standards_link: petition_standards_link) %></p>

<p><%= t(:"ui.petitions.gathering_support.try_again_later") %></p>
