<% content_for(:page_title) { "View all petitions - e-petitions" } %>
<a class="lists-of-petitions" href="#other-search-lists">Lists of petitions</a>

<h1 class="page-title"><%= t(@petitions.scope, scope: :"petitions.page_titles") %></h1>

<%= render 'search/results' %>

<%= render 'search/filter_nav' %>
