<div class="title_block">
  <h2>Confirmation email re-sent</h2>
</div>

<div class="petition_view">
  <p>
    If you signed the petition with this email address, you will shortly receive
    an email to confirm your signature.
  </p>
</div>
