<% content_for(:page_title) { "Confirmation email re-sent - e-petitions" } %>
<% content_for :title do %>
<div class="title_block">
  <h2>Confirmation email re-sent</h2>
</div>
<% end %>


<div class="petition_view">
  <p>
    If you signed the petition with this email address, you will shortly receive
    an email to confirm your signature.
  </p>
</div>
