<% if Site.show_petition_page_message? %>
  <div class="notification important">
    <%= markdown_to_html(Site.petition_page_message) %>
  </div>
<% end %>

<% if @petition.open? %>
  <%= render 'open_petition_show', petition: @petition %>
<% elsif @petition.rejected? %>
  <%= render 'rejected_petition_show', petition: @petition %>
<% else %>
  <%= render 'closed_petition_show', petition: @petition %>
<% end %>
