<%= render 'parliament_dissolution_warning' %>

<h1 class="page-title">
  Start your petition
</h1>

<p class="lede">
  Petitions are a way to ask the UK Government or Parliament to take action on
  an issue that’s important to you. Follow the steps to create your petition.
</p>

<h2>
  How it works
</h2>

<ul class="bulleted-list">
  <li>Write a clear and specific petition action</li>
  <li>Provide details about what you want to happen and why</li>
  <li>Share your petition to gather at least five supporters</li>
</ul>

<h2>
  How it works
</h2>

<p>
  After you’ve submitted your petition, you will need to share it with at least
  five supporters. Your petition must also meet the <a href="/standards">petition standards</a>.
</p>

<p>
  <%= link_to "Start a petition", new_petition_path, class: "button" %>
</p>
