<% content_for(:page_title) { "Thank you - e-petitions" } %>
<% content_for :title do %>
<div class="title_block">
  <h1>Thank you for submitting your e-petition</h1>
</div>
<% end %>

<div class="cta_block thank_you_block">
  <p>An email will be sent to you now to confirm your email address. If we're busy this may take a few hours to arrive, thanks for your patience.</p>

  <p>We can't check your e-petition until you've clicked on the link in this email.</p>

  <%= link_to "Return to home page", home_path, :class => 'link_button large_link_button return_to_homepage_button' %>
</div>
