<div class="grid-row margin-top-7">
  <div class="grid-column-two-thirds-from-laptop">
    <h1>
      <span class="heading-secondary">Start a petition</span>

      What happens next
    </h1>

    <p>
      We’ve emailed you a link to send to your potential supporters.
      We sent it to the email address you gave us.
    </p>

    <h2>
      Find five supporters for your petition
    </h2>

    <p>
      Five people will need to sign your petition. Share the link with them
      and ask them to confirm their support.
    </p>

    <p>
      Your petition will only go live after:
    </p>

    <ul class="bulleted-list">
      <li>five people have confirmed their support</li>
      <li>the Petitions Team have checked it meets the standards</li>
    </ul>

    <h2>
      What to do next
    </h2>

    <ul class="bulleted-list">
      <li>
        Check your inbox including spam or junk folders for an email from UK Petitions
      </li>
      <li>
        Share your petition by following the instructions in the email.
        Up to 20 supporters can sign your petition at this point.
      </li>
    </ul>
  </div>
</div>
