<% content_for(:page_title) { "Thank you - e-petitions" } %>

<h1 class="page-title">
  <span class="icon icon-email" aria-hidden></span>
  One more step&hellip;
</h1>

<p class="lede">We've emailed you a link to send to your potential supporters</p>

<h2>You need <%= Site.minimum_number_of_sponsors %> supporters</h2>
<p><%= Site.minimum_number_of_sponsors %> people need to click this link and confirm their support for your petition to go live</p>

<%= render 'shared/notification', text: "Your petition will only go live when #{Site.minimum_number_of_sponsors} people confirm their support" %>
