<nav id="other-search-lists">
  <h2>Other lists of petitions</h2>
  <ul>
  <% @petitions.facets.each do |facet, count| %>
    <li>
      <%= link_to petitions_url(state: facet) do %>
        <%= t(facet, scope: :"petitions.lists", quantity: number_with_delimiter(count)) %>
      <% end %>
    </li>
  <% end %>
  </ul>
</nav>
