<% petitions.each do |petition| %>
  <ul>
    <li>
      <%= link_to petition.title, petition_path(petition), class: 'link_prompt text_link' %>
    </li>
    <% unless petition.rejected? -%>
      <li><%= number_with_delimiter(petition.signature_count) %> signatures</li>
    <% end %>
    <li><%= petition.closed? ? "closed" : petition.state %></li>
    <li><%= petition.action %></li>
  </ul>
<% end %>
