<% petitions.each do |petition| %>
  <ul>
    <li class="petition-item petition-item-existing">
      <div class="panel-indent">
        <%= link_to petition.title, petition_path(petition) %>
        <p>
          <% unless petition.rejected? -%>
            <%= signature_count(:default, petition.signature_count) %>
          <% end %>
        </p>
        <p class="description">
          <%= petition.description %>
        </p>
      </div>
    </li>
  </ul>
<% end %>
