<ol>
  <% petition_search.results.each do |petition| %>
    <li class="petition-item">
      <%= link_to petition.title, petition_path(petition) %>
      <p>
        <%= number_with_delimiter(petition.signature_count) %> signatures
      </p>
    </li>
  <% end -%>
</ol>
