<div class="petition_index_view">
  <%= render 'search/result_tabs' %>
  <div class="petition_list">
    <% unless @petitions.empty? -%>
      <div class="title_pagination_row">
        <%= render 'search/result_list_header', :petitions => @petitions, :state => @petitions.state %>
      </div>
      <%= render 'search/results_table', :petitions => @petitions %>
      <%= render 'search/result_list_footer', :petitions => @petitions %>
    <% else -%>
      <p class="no_petitions_warning">No petitions could be found matching your search terms.</p>
    <% end -%>
  </div>
</div>
