<div class="petition_index_view">
  <%= render 'search/result_tabs' %>
  <div class="petition_list">
    <% if @petition_search.petitions.present? -%>
      <div class="title_pagination_row">
        <%= render 'search/result_list_header', :petitions => @petition_search.petitions, :state => @petition_search.state %>
      </div>
      <%= render 'search/results_table', :petition_search => @petition_search %>
      <%= render 'search/result_list_footer', :petitions => @petition_search.petitions %>
    <% else -%>
      <p class="no_petitions_warning">No petitions could be found matching your search terms.</p>
    <% end -%>
  </div>
</div>
