<h1>Domain admin</h1>

<%= render 'form' %>

<% if @domains.present? %>
  <table class="domain-list">
    <thead>
      <tr>
        <th>Domain Name</th>
        <th title="Current signature rate per hour">Current</th>
        <th title="Maximum signature rate per hour">Maximum</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render @domains %>
    </tbody>
  </table>
<% else %>
  <p>
    No trending domains found
  </p>
<% end %>
