<h1>Sign in</h1>
<div class="grid-row">
  <div class="column-half">
    <%= form_for(@user, as: :user, url: admin_login_path, authenticity_token: form_authenticity_token) do |form| %>
      <div class="form-group">
        <%= form.label :email, "Email", class: "form-label" %>
        <%= form.text_field :email, class: "form-control", type: "email", autofocus: "autofocus" %>
      </div>

      <%= form.submit "Sign in", class: "button" %>
    <% end %>
  </div>
</div>
