<h1>Sign in</h1>
<div class="grid-row">
  <div class="column-half">
    <%= form_tag(admin_auth_developer_path, method: :post) do %>
      <button type="submit" class="button">Login with developer strategy</button>
    <% end %>
  </div>
</div>
