<div class="title_block">
  <h1>Successfully unsubscribed</h1>
</div>

<div>
  <p>You have now unsubscribed for future email updates on the petition.</p>
  <%= link_to "Return to home page", home_path, :class => 'link_button large_link_button return_to_homepage_button' %>
</div>
