<h1 class="page-title">
  Sorry, you can’t create a petition
</h1>

<p>
  Only British citizens or UK residents have the right to create petitions.
</p>

<p>
  <%= link_to "Back to the home page", home_path %>
</p>
