<div class="grid-row margin-top-7">
  <div class="grid-column">
    <h1>
      <span class="heading-secondary">Start a petition</span>

      Sorry, you can’t create a petition
    </h1>

    <p>
      Only British citizens or UK residents have the right to create petitions.
    </p>

    <p>
      <%= link_to "Back to the home page", home_path %>
    </p>
  </div>
</div>
