<%= f.submit raw('&#9664; Back'), :name => 'move:back', :class => 'back-page' %>

<h1 class="page-title">Make sure this is right</h1>

<%= f.fields_for :creator, petition.creator do |csf| %>
  <%= render 'petitions/create/signature_email', f: csf, signature: csf.object,  hide_label: true %>
<% end %>

<%= f.submit 'Yes – this is my email address', :name => 'move:next', :class => 'button', :tabindex => increment %>

<p>If your email address is wrong, just change it above</p>
