<fieldset id="petition_submit_section">
  <% increment(2) # Skip 2 tabindexes for next/back buttons -%>
  <legend>Submit Petition</legend>

  <div class="strap_block">
    <p>Here's your chance to review your e-petition. Once you press 'submit', you can't go back.
    This is how it will appear on the website. If you like what you see, press 'submit'.
    If you want to make changes, press 'back'.</p>
  </div>
  <div class="generic_block" id="petition_summary_block">
    <h2 id="title_summary_field"></h2>
    <p id="department_summary_field"></p>
    <p id="action_summary_field"></p>
    <p id="description_summary_field"></p>
  </div>

  <%= f.fields_for :creator_signature do |csf| %>
    <%= render :partial => 'signatures/terms_and_conditions', :locals => { :f => csf, :signature => petition.creator_signature } %>
  <% end %>

  <%= form_row :class => 'button_row' do %>
    <%= f.button 'Submit', :class => 'button forward_action', :tabindex => increment(0) %>
  <% end %>
</fieldset>
