<section id='info'></section>
<section id='controls'></section>
<section id='map'></section>

<script id='data' type="application/json">
  <%= raw render template: 'petitions/show.json', layout:  false %>
</script>
