<% actioned_petitions do |actions| %>
  <div class="section-panel actioned-petitions">
    <ul>
      <% actions.with_result.each do |state, action| %>
        <li>
          <%= link_to petition_count(state, action[:count]), home_path(anchor: 'petitions-' + state.to_s.dasherize) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
