<h2 id="archived-petitions">View petitions from previous parliaments</h2>

<ul>
  <% archived_parliaments.each do |parliament| %>
    <li>
      <%= link_to archived_petitions_path(parliament: parliament, state: "published") do %>
        <%= parliament.period %>
      <% end %>
    </li>
  <% end %>
</ul>
