<h2 id="archived-petitions"><%= t(:"ui.home_page.heading") %></h2>

<ul>
  <% archived_parliaments.each do |parliament| %>
    <li>
      <%= link_to archived_petitions_path(parliament: parliament, state: "published") do %>
        <%= parliament.period %> <%= parliament.government %> government
      <% end %>
    </li>
  <% end %>
</ul>
