<section id="archived-petitions">
  <h2>
    View petitions from previous Parliaments
  </h2>

  <ul>
    <% archived_parliaments.each do |parliament| %>
      <li>
        <%= link_to archived_petitions_path(parliament: parliament, state: "published") do %>
          <%= parliament.start_year %> to <%= parliament.end_year %>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>
