  <h2 id="debate-threshold-heading"><%= Site.formatted_threshold_for_debate %><span class="visuallyhidden"> signatures</span></h2>
  <p>If a petition gets <%= Site.formatted_threshold_for_debate %> signatures, it will be considered for debate in Parliament</p>
