<%= render 'parliament_dissolution_warning' %>

<% if Parliament.registration_closed? %>
  <a href="https://www.parliament.uk/get-involved/" class="get-involved">
    Get involved with the UK Parliament
  </a>
<% else %>
  <a href="https://www.gov.uk/register-to-vote" class="register-to-vote">
    Register to vote in the General Election
  </a>
<% end %>

<%= render "pages/home/search_petitions", search_path: petitions_path %>
<%= render "pages/home/explanation_petitions" %>
