<section class="section-panel local-to-you" aria-labelledby="local-to-you-heading">
  <h2 id="local-to-you-heading"><%= t(:"ui.home_page.local_petitions.heading") %></h2>
  <p><%= t(:"ui.home_page.local_petitions.find_local_petitions") %></p>
  <%= render 'local_search' %>
</section>
