<% unless Parliament.closed? %>
  <section class="section-panel local-to-you" aria-labelledby="local-to-you-heading">
    <h2 id="local-to-you-heading">Local to you</h2>
    <p>Find petitions being signed by people near you</p>
    <%= render 'local_search' %>
  </section>
<% end %>
