<h2 id="response-threshold-heading"><%= Site.formatted_threshold_for_response %><span class="visuallyhidden"> signatures</span></h2>
<p>If a petition gets <%= Site.formatted_threshold_for_response %> signatures, the government will respond</p>
