<section class="search-petitions" aria-labelledby="search-petitions-heading">
  <%= form_tag search_path, method: 'get', enforce_utf8: false do %>
    <% if Parliament.dissolved? %>
      <input type="hidden" name="state" value="closed">
    <% elsif Parliament.dissolution_announced? %>
      <input type="hidden" name="state" value="open">
    <% elsif Parliament.opened? %>
      <input type="hidden" name="state" value="open">
    <% else %>
      <input type="hidden" name="state" value="published">
    <% end %>

    <h2 id="search-petitions-heading">
      <%= label_tag 'search' do %>
        Search petitions
      <% end %>
    </h2>

    <div class="search-inline">
      <%= search_field_tag 'q', nil, class: 'form-control', id: 'search' %>
      <%= button_tag name: nil do %>
        <span class="visuallyhidden">Search</span>
      <% end %>
    </div>
  <% end %>
</section>
