<section id="start-petition" class="hero-card">
  <h2>
    Start a petition
  </h2>

  <p>
    British citizens or UK residents can create petitions
  </p>

  <p class="button-group">
    <%= link_to start_petitions_path, class: "button" do %>
      Start a petition
    <% end %>
  </p>
</section>
