<% trending_petitions do |petitions| %>
  <section id="trending-petitions" aria-labelledby="trending-petitions-heading">
    <h2 id="trending-petitions-heading">
      Popular petitions
    </h2>

    <p>
      Petitions that gained the most signatures in the last hour
    </p>

    <ul>
      <% petitions.each do |id, action, signature_count| %>
        <li class="petition-item">
          <h3>
            <%= link_to truncate(action, length: 100), petition_path(id) %>
          </h3>
          <p class="signature-count">
            <%= signature_count(:trending, signature_count) %>
          </p>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>
