.no-petitions-yet {
  padding-top: $gutter-half;
}

.actioned-petitions {
  ul {
    display: flex;
    margin: 30px 0 0 0;
  }

  li {
    margin: 0;
    padding: 0;
    width: 50%;
  }

  .count {
    display: block;
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 5px;

    @include media(tablet) {
      font-size: 48px;
    }
  }

  .suffix {
    display: block;
    font-size: 14px;
    padding-right: 10px;
    text-wrap: balance;

    @include media(tablet) {
      font-size: 19px;
      padding-right: 20px;
    }
  }
}

.trending {
  h2 {
    margin-bottom: 0;
  }
  .petition-item {
    margin: $gutter-half 0;

    @include media(tablet) {
      margin: $gutter-half 0;
    }

    h3 {
      margin-top: $gutter-half;

      @include media(tablet) {
        margin-top: $gutter-half;
      }
    }
  }
}

.view-all {
  margin-top: $gutter-half;
  text-decoration: underline;
}

// Threshold panel links
.threshold-panel {
  display: block;
  @extend %outdent-to-full-width;
  background-color: $petitions-panel-colour;
  background-position: 15px 15px;
  background-repeat: no-repeat;
  padding: $gutter-half $gutter*2 $gutter-two-thirds $gutter-half;
  margin: $gutter*1.5 $gutter-half*-1 $gutter;
  @include media(tablet) {
    margin: $gutter*1.5 0 $gutter;
  }

  h2, p {
    color: $white;
  }

  h2 {
    font-size: 24px;
    line-height: 30/24;
    margin-top: 0;
    padding-left: $text-indent - 5px;
  }

  p {
    margin: 0;
  }
}
a.threshold-panel:hover, a.threshold-panel:focus {
  background-color: darken($petitions-panel-colour, 5%);
}
.threshold-panel-response {
  background-position: 15px 16px;
  background-image: image-url("graphics/graphic_crown-white.png");
  @include device-pixel-ratio() {
    background-image: image-url("graphics/graphic_crown-white-2x.png");
    background-size: 27px;
  }
}
.threshold-panel-debate {
  background-position: 15px 12px;
  background-image: image-url("graphics/graphic_portcullis-white.png");
  @include device-pixel-ratio() {
    background-image: image-url("graphics/graphic_portcullis-white-2x.png");
    background-size: 26px;
  }
}

// Threshold petitions
.threshold-petitions {
  .intro {
    margin: 10px 0;
  }
  .pull-quote {
    margin-top: 5px;
  }
  .pull-quote:before, .pull-quote p {
    color: $black;
  }
}

.get-involved,
.register-to-vote {
  font-weight: bold;
  margin-top: $gutter-half;
  display: block;
  padding: $gutter-one-third;
  background-color: $panel-colour;
  @include media(tablet) {
  margin-top: $gutter;
    padding: $gutter-one-third $gutter-half;
  }
  text-decoration: underline;
}

.local-to-you,
.start-petition {
  border-top: 1px solid #dee0e2;
  border-bottom: none;
  margin-top: $gutter;
  padding-bottom: 0;
}

.local-to-you h2,
.start-petition h2 {
  @include bold-24();

  margin-top: em(40, 20);
  margin-bottom: em(10, 20);

  @include media(tablet) {
    margin-top: em(60, 24);
    margin-bottom: em(20, 24);
  }
}

.search-petitions {
  margin-top: $gutter;
  padding-bottom: 0;
}

.search-petitions label {
  @include bold-36();

  display: block;
  margin-top: em(30, 20);
  margin-bottom: em(10, 20);

  @include media(tablet) {
    margin-top: em(30, 24);
    margin-bottom: em(10, 24);
  }
}
