.no-petitions-yet {
  padding-top: $gutter-half;
}

.actioned-petitions {
  @extend %contain-floats;
  li {
    float: left;
    width: 50%;
    @include box-sizing(border-box);
    @include media(tablet) {
      padding-right: $gutter*3;
    }
  }
  li:first-child {
    padding-right: $gutter-half;
  }
  .count {
    font-size: 36px;
    line-height: 40/36;
    font-weight: 700;
    display: block;
  }
}

.trending {
  h2 {
    margin-bottom: 0;
  }
}

.view-all {
  margin-top: $gutter-half;
  text-decoration: underline;
}

// Threshold panel links
.threshold-panel {
  display: block;
  @extend %outdent-to-full-width;
  background-color: $petitions-panel-colour;
  background-position: 15px 15px;
  background-repeat: no-repeat;
  padding: $gutter-half $gutter*2 $gutter-two-thirds $gutter-half;
  margin: $gutter*1.5 $gutter-half*-1 $gutter;
  @include media(tablet) {
    margin: $gutter*1.5 0 $gutter;
  }

  h2, p {
    color: $white;
  }

  h2 {
    font-size: 24px;
    line-height: 30/24;
    margin-top: 0;
    padding-left: $text-indent;
  }

  p {
    margin: 0;
  }
}
a.threshold-panel:hover, a.threshold-panel:focus {
  background-color: darken($petitions-panel-colour, 5%);
}
.threshold-panel-response {
  background-image: image-url("graphics/graphic_crown-white.png");
  @include device-pixel-ratio() {
    background-image: image-url("graphics/graphic_crown-white-2x.png");
    background-size: 36px;
  }
}
.threshold-panel-debate {
  background-position: 15px 12px;
  background-image: image-url("graphics/graphic_portcullis-white.png");
  @include device-pixel-ratio() {
    background-image: image-url("graphics/graphic_portcullis-white-2x.png");
    background-size: 26px;
  }
}

// Threshold petitions
.threshold-petitions {
  .intro {
    margin: 10px 0;
  }
  .pull-quote {
    margin-top: 5px;
  }
  .pull-quote:before, .pull-quote p {
    color: $black;
  }
}

.local-to-you h2,
.start-petition h2 {
  @include bold-24();

  margin-top: em(40, 20);
  margin-bottom: em(10, 20);

  @include media(tablet) {
    margin-top: em(60, 24);
    margin-bottom: em(20, 24);
  }
}
