.petitions-details {
  border-bottom: 1px solid $panel-colour;
  padding: $gutter-half;
  @extend %outdent-to-full-width;

  li {
    margin-bottom: $gutter-half;
  }
}

.signature-count {
  @include bold-48;

  span {
    @include bold-36;
  }
}

.petition-meta {
  @extend %contain-floats;
  margin: $gutter 0;
  li {
    @include bold-24;
    margin-bottom: $gutter-two-thirds;
  }
  .label {
    display: block;
    @include core-16;
    margin-bottom: 5px;
  }
}
