.petitions-details {
  border-bottom: 1px solid $panel-colour;
  padding: $gutter-half;
  @extend %outdent-to-full-width;

  li {
    margin-bottom: $gutter-half;
  }
}

.signature-count {
  @include bold-48;

  span {
    @include bold-36;
  }
}

.petition-meta {
  @extend %contain-floats;
  margin: 0 $gutter-half * -1;
  margin-top: $gutter;
  li {
    @include bold-24;
    float: left;
    @include box-sizing(border-box);
    width: 50%;
    padding: 0px $gutter-half;
  }
  .label {
    display: block;
    @include core-16;
  }
}
