// Signature count and signature graph

.signature-count {
  @extend %contain-floats;

  .signature-count-number {
    @include bold-48();
    font-weight: 700;
    margin-top: em(15, 36);
    margin-bottom: em(10, 36);
    @include media(tablet) {
      margin-top: em(25, 48);
      margin-bottom: em(10, 48);
    }

    span {
      @include bold-27();
    }
  }

  .signatures-on-a-map, .signature-count-goal {
    margin: $gutter-half 0 $gutter-half *-1;
    @include media(desktop) {
      margin-bottom: $gutter-half 0 $gutter-one-third *-1;
    }
  }
  .signatures-on-a-map {
    float: left;
    @extend %contain-floats;
  }
  .signature-count-goal {
    width: 30%;
    float: right;
    text-align: right;
    color: $secondary-text-colour;
    @extend %contain-floats;
  }

  .signature-count-graph {
    clear: both;
    width: 100%;
    height: 10px;
    overflow: hidden;
    background-color: $border-colour;
    padding: 0;

    .signature-count-current {
      display: block;
      height: 10px;
      background-color: $petitions-brand;
      @extend %animated;
      @extend %fadeInLeft;
    }
  }
}

// Petition meta

.petition-meta {
  @extend %contain-floats;
  margin: $gutter 0;
  li {
    @include bold-24;
    margin-bottom: $gutter-two-thirds;
  }
  .label, .note {
    display: block;
    @include core-16;
    margin-bottom: 5px;
  }
  .note {
    color: $secondary-text-colour;
    margin-top: 10px;
  }
}
