.create-warning {
  @extend %contain-floats;
  margin-bottom: $gutter;
  span {
    float: left;
    width: 1.2em;
    @include bold-80;

    @include media(tablet) {
      @include bold-48;
    }
  }
}
