.lists-of-petitions {
  margin-top: $gutter-half;
  display: block;
  padding: $gutter-one-third;
  background-color: $panel-colour;

  @include media(tablet) {
    margin-top: $gutter;
    padding: $gutter-one-third $gutter-half;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  summary {
    @include bold-19;
    margin-bottom: 0;
  }

  li {
    margin: $gutter-half 0;

    &:last-child {
      margin-bottom: 5px;
    }
  }
}

.search-pagination + p {
  a {
    text-decoration: underline;
  }
}

.search-results {
  margin-top: $gutter-half;
  margin-bottom: $gutter;
}

.search-results {
  ol {
    margin-top: $gutter;
  }
}

.filtered-petition-count {
  margin-top: $gutter-half;
  margin-bottom: $gutter;
}

#other-search-lists {
  h1 {
    @include bold-24();
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  li {
    margin: $gutter-half 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.list-header {
  .text-secondary {
    margin-top: -$gutter-one-quarter;
    @include core-16;

    @media (max-width: 280px){
      // The Samsung Galaxy Fold is super narrow when folded
      @include core-14;
    }

    a {
      white-space: nowrap;
    }
  }
}
