.lists-of-petitions {
  margin-top: $gutter-half;
  display: block;
  padding: $gutter-one-third;
  background-color: $panel-colour;
  @include media(tablet) {
  margin-top: $gutter;
    padding: $gutter-one-third $gutter-half;
  }

  summary {
    @include bold-19;
  }

  ul {
    padding-top: $gutter-one-third;
  }

  li {
    padding: $gutter-one-third 0;
  }
}

.search-inline {
  @extend %contain-floats;

  .form-control {
    @include appearance(none);
    @include box-sizing(content-box);
    float: left;
    min-width: 0;
    margin: 0;
    border-right: 0;
    padding: 6px;
    height: 26px;
    width: 77%;
    @include calc(width, "100% - 53px");
  }
  #postcode {
    text-transform: uppercase;
  }

  .inline-submit {
    float: left;
    width: 40px;
    height: 40px;
    border: 0;
    overflow: hidden;
    text-indent: -5000px;
    cursor: pointer;
    color: $white;
    background-color: $petitions-brand;
    background-repeat: no-repeat;
    background-position: 45% 50%;
    @include background-image("icons/icon_search-white", 18px, 18px);
  }
}

.search-results {
  margin-top: $gutter-half;
  margin-bottom: $gutter;
}

.search-results {
  ol {
    margin-top: $gutter;
  }
}

.filtered-petition-count {
  margin-top: $gutter-half;
  margin-bottom: $gutter;
}

#other-search-lists {
  a {
    display: block;
    padding-top: $gutter-one-third;
    padding-bottom: $gutter-one-third;
  }
  h1 {
    @include bold-24();
  }
}
