.lists-of-petitions {
  margin-top: $gutter-half;
  display: block;
  padding: $gutter-one-third;
  background-color: $panel-colour;
  @include media(tablet) {
  margin-top: $gutter;
    padding: $gutter-one-third $gutter-half;
  }

  summary {
    @include bold-19;
  }

  ul {
    padding-top: $gutter-one-third;
  }

  li {
    padding: $gutter-one-third 0;
  }
}

.search-results {
  margin-top: $gutter-half;
  margin-bottom: $gutter;
}

.search-results {
  ol {
    margin-top: $gutter;
  }
}

.filtered-petition-count {
  margin-top: $gutter-half;
  margin-bottom: $gutter;
}

#other-search-lists {
  a {
    display: block;
    padding-top: $gutter-one-third;
    padding-bottom: $gutter-one-third;
  }
  h1 {
    @include bold-24();
  }
}
