@import "shared/share-petition";
@import "shared/petition-item";

// Common page title
// =================
.page-title {
  position: relative;
  margin: em(25, 24) 0;
  @include media(tablet) {
    margin: em(35, 36) 0;
  }

  .icon {
    background-position: left center;
    position: absolute;
    left: 0;
    top: 0;
    height: 25px;

    @include media(tablet) {
      top: em(10, 36);
    }

  }
}
.page-title-with-icon {
  padding-left: ($text-indent)-3px;
}
.page-subtitle {
  @include bold-27();
  margin-bottom: em(35, 27);
}
.back-page + .page-title {
  margin-top: em(30, 36);
}

// Back
// =================
.back-page {
  @include core-16();
  margin-top: em(20, 16);
  color: $secondary-text-colour;
}
a.back-page {
  display: block;
}
input.back-page {
  border-width: 0px;
  background-color: $white;
  padding: 0;
  cursor: pointer;
}
.back-page:visited {
  color: $secondary-text-colour;
}
.back-page:hover {
  color: $text-colour;
}

// Section panel
// =================
.section-panel {
  @extend %mobile-outdent-and-pad;
  margin-top: $gutter-half;
  padding-bottom: $gutter-half*2;
  margin-bottom: $gutter-half;
  border-bottom: 1px solid $panel-colour;
}
.section-panel-borderless {
  @extend .section-panel;
  border-bottom: none;
  padding-bottom: 0;
}

// Notifications
// =============
.notification {
  background-color: $link-colour;
  color: $white;
  padding: $gutter-half $gutter-half 1px (25px + $gutter-half * 2);
  position: relative;
  margin-bottom: $gutter;
  @extend %animated;
  @extend %bounce;

  .icon {
    position: absolute;
    top: $gutter-half;
    left: $gutter-half;
  }

  h2, h3, .header {
    margin-top: 0px;
    @include bold-24();
  }

  p {
    margin-top: 0px;
    @include core-19();
  }

  p.content {
    @include bold-19();
  }

  p.link {
    @include core-16();
  }

  a {
    color: $white;
    text-decoration: underline;
  }

  details {
    color: $white;
  }

  summary {
    color: $white;

    &:hover {
      color: $white;
    }

    &:focus {
      outline: 3px solid $focus-colour;
    }
  }

  .summary {
    text-decoration: underline;
  }

  .list-of-parliaments {
    margin-top: $gutter-half;
    display: block;
    @include core-16();

    ul {
      padding: $gutter/6;
    }

    li {
      padding: $gutter/6 0;
    }
  }
}

.notification-grey {
  background-color: $grey-1;
}

.notification-orange {
  background-color: $orange;
}

.notification-red {
  background-color: $red;
}

.notification-black {
  background-color: $black;
}

// Flash messages
// =========
.flash-notice {
  color: $white;
  background: $grey-1;
  margin: $gutter-half 0;
  text-align: center;
  @include bold-24();
  padding: em(15, 18) em(30, 18);
  @include media(tablet) {
    padding: em(15, 24) em(30, 24);
  }
  span {
    @include bold-19();
    display: block;
    margin: em(5) 0;
  }
  a {
    color: $white;
    text-decoration: underline;
  }
}

.flash-notice-description {
  @include bold-16();
}

// Pagination
// ==========
.search-pagination {
  @extend %contain-floats;
  @include bold-27();
  margin-top: $gutter;
  padding-bottom: $gutter-half;
}

.search-pagination a {
  width: 40%;
}

.search-pagination a:visited {
  color: $link-colour
}

.paginate {
  display: block;
  line-height: 55px;
}

.disabled .paginate {
  display: none;
}

.previous {
  float: left;
  text-align: left;
  margin-top: 5px;
}

.previous::before {
  content: " ";
  float: left;
  display: block;
  width: 32px;
  height: 57px;
  margin-right: 20px;
  background-image: image-url("icons/icon_paginate-previous.png");

  @include device-pixel-ratio() {
    background-image: image-url("icons/icon_paginate-previous-2x.png");
    background-size: 32px 57px;
  }
}

.next {
  float: right;
  text-align: right;
  margin-top: 5px;
}

.next::before {
  content: " ";
  float: right;
  display: block;
  width: 32px;
  height: 57px;
  margin-left: 20px;
  background-image: image-url("icons/icon_paginate-next.png");

  @include device-pixel-ratio() {
    background-image: image-url("icons/icon_paginate-next-2x.png");
    background-size: 32px 57px;
  }
}

.paginate-label {
  display: inline-block;
  margin-top: 5px;
}

.page-count {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

// About petitions
// ==========
.about-petitions {
  margin: $gutter 0;
}

.about-item {
  padding: $gutter-two-thirds 0 0 0;

  p {
    margin: em(5, 16) 0;

    @include media(tablet) {
      margin: em(10, 19) 0;
    }
  }

  h2 {
    font-size: 24px;
    line-height: 30/24;
    margin: 0 0 em(10, 24) 0;
    padding: em(5, 24) 0 0 $text-indent;

    @include media(tablet) {
      margin: 0 0 em(10, 24) 0;
      padding: em(5, 24) 0 0 $text-indent;
    }
  }
  h3 {
    margin-top: em(10, 16);

    @include media(tablet) {
      margin: em(5, 19) 0;
    }
  }
}
.about-item-count-response h2, .about-item-count-debate h2, .about-item-other-business h2 {
  background-repeat: no-repeat;
}
.about-item-count-response h2 {
  background-position: 0 6px;
  @include background-image("graphics/graphic_crown", 36px, 25px);
}
.about-item-count-debate h2, .about-item-other-business h2 {
  background-position: 4px 0;
  @include background-image("graphics/graphic_portcullis", 26px, 32px);
}
.about-item-scheduled-debate-date {
  @include bold-19;
}

// Pull-quote
.pull-quote {
  quotes: "“" "”";
}
@include media(tablet) {
  .pull-quote:before {
    content: open-quote;
    font-size: 48px;
    line-height: 50/48;
    float: left;
    margin-left: $gutter * -1;
    margin-top: $gutter-one-third * -1;
  }
}

.pull-quote p {
  @include core-24;
  margin-top: em(5, 18);
  margin-bottom: em(15, 18);

  @include media(tablet) {
    margin-top: em(5, 24);
    margin-bottom: em(15, 24);
  }
}

// Video panel thing

.debate-video {
  position: relative;
  width: 100%;
  @include inline-block;
  &:hover, &:focus {
    opacity: 0.9;
  }

  img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
  }

  .play-button {
    background-color: $petitions-brand;
    width: $gutter * 2.5;
    height: $gutter * 2;
    position: absolute;
    bottom: 0;
    left: 0;
    background-position: 50% 50%;
    &:hover, &:focus {
      background-color: darken($petitions-panel-colour, 5%);
    }
    @include media(tablet) {
      width: $gutter * 3;
      height: $gutter * 2;
    }
  }
}

.debate-outcome-links {
  margin: em(10, 19) 0;

  li {
    margin: em(5, 16) 0;

    @include media(tablet) {
      display: inline;
    }
  }

  li:before {
    @include media(tablet) {
      content: "• ";
    }
  }

  li:first-child:before {
    @include media(tablet) {
      content: "";
    }
  }
}
