@import "shared/share-petition";
@import "shared/petition-item";

// Common page title
// =================
.page-title {
  margin-top: em(40, 36);
  margin-bottom: 1em;

  .icon {
    margin-right: $gutter;
  }
}
.page-subtitle {
  @include bold-27();
  margin-bottom: em(35, 27);
}
.back-page + .page-title {
  margin-top: em(30, 36);
}

// Back
// =================
.back-page {
  @include core-16();
  margin-top: em(20, 16);
  color: $secondary-text-colour;
}
a.back-page {
  display: block;
}
input.back-page {
  border-width: 0px;
  background-color: $white;
  padding: 0;
  cursor: pointer;
}
.back-page:visited {
  color: $secondary-text-colour;
}
.back-page:hover {
  color: $text-colour;
}

// Section panel
// =================
.section-panel {
  @extend %outdent-to-full-width;
  border-bottom: 1px solid $panel-colour;
  margin-top: $gutter-half;
  margin-bottom: $gutter-half;
  padding: 0 $gutter-half $gutter-half;
}

// Notifications
// =============
.notification {
  background-color: $text-colour;
  color: $white;
  padding: $gutter-half $gutter-half 1px (25px + $gutter-half * 2);
  position: relative;
  margin-bottom: $gutter-half;

  .icon {
    position: absolute;
    top: $gutter-half;
    left: $gutter-half;
  }

  .content {
    margin-top: 0px;
    @include bold-19();
  }
}

// Flash messages
// =========
.flash-notice {
  color: $white;
  background: $grey-1;
  padding: $gutter-one-quarter;
  @include bold-27();
  text-align: center;
}

// Pagination
// ==========
.search-pagination {
  @extend %contain-floats;
  @include bold-27();
  margin-top: $gutter;
  padding-bottom: $gutter-half;
}

.search-pagination a:visited {
  color: $link-colour
}

.paginate {
  display: block;
  line-height: 55px;
}

.disabled .paginate {
  display: none;
}

.paginate-previous {
  float: left;
  padding-left: 10px;
}

.paginate-next {
  float: right;
  padding-right: 20px;
}

// About item
// ==========
.about-item {
  padding: 0 0 0 50px;
  h2 {
    @include bold-36;

    span {
      @include bold-19;
    }
  }
}
.about-item-sign {
  @include background-image("graphics/graphic_pen", 25px, 35px);
  background-repeat: no-repeat;
  background-position: 10px 0px;
}
.about-item-count-10000 {
  @include background-image("graphics/graphic_crown", 36px, 25px);
  background-repeat: no-repeat;
  background-position: 4px 0px;
}
.about-item-count-100000 {
  @include background-image("graphics/graphic_portcullis", 26px, 32px);
  background-repeat: no-repeat;
  background-position: 5px 0px;
}

// Light variation
.about-petitions-light {
  .about-item {
    color: $secondary-text-colour;
  }
  .about-item-count-10000 {
    @include background-image("graphics/graphic_crown-grey", 35px, 25px);
  }
  .about-item-count-100000 {
    @include background-image("graphics/graphic_portcullis-grey", 26px, 32px);
  }
}
