@import "shared/share-petition";
@import "shared/petition-item";

// Common page title
// =================
.page-title {
  margin-top: em(40, 36);
  margin-bottom: 1em;
  position: relative;

  .icon {
    background-position: left center;
    position: absolute;
    left: 0;
    top: 0;
    height: 25px;

    @include media(tablet) {
      top: em(5, 36);
    }

  }
}
.page-title-with-icon {
  padding-left: $gutter * 1.5;
}
.page-subtitle {
  @include bold-27();
  margin-bottom: em(35, 27);
}
.back-page + .page-title {
  margin-top: em(30, 36);
}

// Back
// =================
.back-page {
  @include core-16();
  margin-top: em(20, 16);
  color: $secondary-text-colour;
}
a.back-page {
  display: block;
}
input.back-page {
  border-width: 0px;
  background-color: $white;
  padding: 0;
  cursor: pointer;
}
.back-page:visited {
  color: $secondary-text-colour;
}
.back-page:hover {
  color: $text-colour;
}

// Section panel
// =================
.section-panel {
  @extend %mobile-outdent-and-pad;
  margin-top: $gutter-half;
  padding-bottom: $gutter-half*2;
  margin-bottom: $gutter-half;
  border-bottom: 1px solid $panel-colour;
}
.section-panel-borderless {
  @extend .section-panel;
  border-bottom: none;
  padding-bottom: 0;
}
.section-panel-final {
  border: 0;
  padding-bottom: 0;
}

// Notifications
// =============
.notification {
  background-color: $text-colour;
  color: $white;
  padding: $gutter-half $gutter-half 1px (25px + $gutter-half * 2);
  position: relative;
  margin-bottom: $gutter;
  @extend %animated;
  @extend %bounce;

  .icon {
    position: absolute;
    top: $gutter-half;
    left: $gutter-half;
  }

  .content {
    margin-top: 0px;
    @include bold-19();
  }
}

// Flash messages
// =========
.flash-notice {
  color: $white;
  background: $grey-1;
  margin: $gutter-half 0;
  padding: em(15, 24) em(15, 24);
  @include bold-24();
  text-align: center;
  span {
    @include bold-19();
    display: block;
    margin: em(5) 0;
  }
}

.flash-notice-description {
  @include bold-16();
}

// Pagination
// ==========
.search-pagination {
  @extend %contain-floats;
  @include bold-27();
  margin-top: $gutter;
  padding-bottom: $gutter-half;
}

.search-pagination a:visited {
  color: $link-colour
}

.paginate {
  display: block;
  line-height: 55px;
}

.disabled .paginate {
  display: none;
}

.paginate-previous {
  float: left;
  padding-left: 10px;
}

.paginate-next {
  float: right;
  padding-right: 20px;
}

// About petitions
// ==========
.about-petitions {
  margin-bottom: $gutter;
}

.about-item {
  padding: $gutter-two-thirds 0 0 0;

  p {
    margin: em(5, 16) 0;

    @include media(tablet) {
      margin: em(10, 19) 0;
    }
  }

  h2 {
    @include bold-36;
    span { @include bold-19; }
    margin: em(5, 24) 0;

    @include media(tablet) {
      margin: em(10, 36) 0;
    }
  }
  h3 {
    margin-top: em(10, 16);

    @include media(tablet) {
      margin: em(5, 19) 0;
    }
  }
}

.about-item-scheduled-debate-date {
  @include bold-19;
}

// Pull-quote
.pull-quote {
  quotes: "“" "”" "‘" "’";
}
@include media(tablet) {
  .pull-quote:before {
    content: open-quote;
    font-size: 48px;
    line-height: 50/48;
    float: left;
    margin-left: $gutter * -1;
    margin-top: $gutter-one-third * -1;
  }
}

.pull-quote p {
  @include core-24;
  margin-top: em(5, 18);
  margin-bottom: em(15, 18);

  @include media(tablet) {
    margin-top: em(5, 24);
    margin-bottom: em(15, 24);
  }
}
