.uk-citizen p {
  margin-bottom: 0;
}

.signed-petition-title {
  padding-left: $gutter * 1.5;
  margin-bottom: $gutter * 1.3;
}

#signature_postcode, #petition_creator_signature_postcode {
  text-transform: uppercase;
}
