.signature-confirmation {
  padding-left: $text-indent;
  margin-bottom: $gutter * 1.3;
  @include background-image("icons/icon_confirmation-tick", 22px, 17px);
  background-repeat: no-repeat;
  background-position: 0px 10px;
  @include media(tablet) {
    background-position: 0px 20px;
  }

  .signature-number {
    .tumble, .tumble-digit {
      @include bold-48();
    }
    .tumble {
      padding-right: $gutter-two-thirds;
    }

    @include bold-27();
    margin-top: em(15, 20);
    margin-bottom: em(10, 20);
    @include media(tablet) {
      margin-top: em(25, 27);
      margin-bottom: em(10, 27);
    }
  }

  p {
    margin-bottom: $gutter-one-third;
  }
}
