/* Generic Styling */
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 62.5%;
  font-family: arial;
  color: #231F20;
  background-color: #B2B6B9;
  background-image: url(/images/backgrounds/gray_texture.gif);
}

h1, h2 {
  font-size: 3em;
  color: #414042;
  font-weight: bold;
  margin-bottom: 18px;
}

p, .search_form label {
  font-size: 1.3em;
  letter-spacing: 0.01em;
  line-height: 1.53em;
}

em {
  font-weight: bold;
  font-style: normal;
}

ul, ol {
  list-style-type: none;
}

dl dt,
dl dd {
  font-size: 1.3em;
  letter-spacing: 0.01em;
  line-height: 1.53em;
}
dl dt {
  font-weight: bold;
  margin-right: 6px;
}
dl dd {
  margin-bottom: 15px;
}

/*Lightboxes*/
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #231F20;
  top: 0px;
  left: 0px;
  z-index: 1000;
}
.lightbox {
  width: 580px;
  padding: 45px 60px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 15px;
  margin-left: -340px;
  z-index: 1100;
}
.lightbox .content h2 {
  font-size: 1.5em;
  margin-bottom: 16px;
}
.lightbox .content p {
  margin-bottom: 16px;
}
.lightbox .close_btn {
  margin-top: 12px;
  float: left;
}
.lightbox .close_message {
  float: left;
  margin: 15px 0 0 12px;
}
.lightbox .window_close_btn {
  display: block;
  width: 33px;
  height: 33px;
  background-image: url(/images/icons/close.png);
  position: absolute;
  top: -25px;
  right: -24px;
  cursor: pointer;
}

/* Layout */
#outer_page_wrapper {
  width: 100%;
  text-align: center;
  background: transparent url(/images/shadows/gray_top.gif) no-repeat 50% 5px;
  padding-top: 18px;
}
#inner_page_wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 820px;
  text-align: left;
  background: white url(/images/shadows/gray_bottom.gif) no-repeat bottom center;
  padding-bottom: 14px;
}

#header {
  height: 100px;
  border-bottom: solid 1px #CCCCCC;
  background: transparent url(/images/shadows/white_bottom.gif) no-repeat bottom center;
  overflow-y: auto;
}

#header .logo {
  float: left;
}

#header .logo_link {
  display: inline-block;
  background-image: none;
  margin: 31px 0 0 58px;
  padding-left: 0;
}

#header #header_content {
  margin: 18px 60px 0 0;
  float: right;
  width: 250px;
}

#header #header_content form.search_form {
  padding-bottom: 5px;
  overflow-y: auto;
  clear: both;
}
#header #header_content form.search_form input#search_header {
  float: left;
  width: 210px;
  padding: 5px 5px 4px 4px;
  border-right: none;
}
#header #header_content form.search_form #search_button_header {
  float: left;
  height: auto;
  width: 27px;
  height: 27px;
  padding: 0 0 0 0;
  background: #781D7E url("/images/buttons/magnify.gif") no-repeat center center;
  overflow: hidden;
  line-height: 150px;
  text-indent: -999px;
}

.flash_notice {
  font-size: 1.5em;
  color: white;
  background-color: #781D7E;
  font-weight: bold;
  padding: 5px 90px 5px 60px;
}
.flash_notice.expandable {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}
.flash_notice .expandable_link {
  font-size: 0.77em; /* Back to 1.3 em */
  font-weight: normal;
  margin-left: 10px;
}
.flash_notice .expandable_content {
  font-weight: normal;
}
.flash_notice .expandable_content p {
  font-size: 1em; /* Back to 1.3 em */
  margin-top: 1em;
}


 .flash_notice_link {
  color: white;
  background-color: #781D7E;
  text-decoration: underline;
  font-weight: bold;
}

#footer {
  border-top: solid 1px #CCCCCC;
  background: transparent url(/images/shadows/white_top.gif) no-repeat top center;
  padding: 31px 62px 36px;
  clear: both;
}
#footer #footer_nav {
  overflow-y: auto;
}
#footer #footer_nav li {
  float: left;
  margin-right: 32px;
}
#footer #footer_nav li a {
  color: #404041;
  font-weight: normal;
  background-image: none;
  padding: 0;
}
#footer #footer_nav li a:hover {
  text-decoration: underline;
}

/* block styling */

.generic_block {
  border-bottom: solid 1px #CCCCCC;
  background: transparent url(/images/shadows/white_bottom.gif) no-repeat bottom center;
  padding: 35px 62px;
}
.generic_block h2 {
  font-size: 1.7em;
  font-weight: bold;
}
.generic_block p {
  margin-bottom: 15px;
}

.strap_block {
  border-bottom: solid 1px #CCCCCC;
  background: transparent url(/images/shadows/white_bottom.gif) no-repeat bottom center;
  padding: 35px 62px;
}
.strap_block p {
  font-size: 1.5em;
  font-weight: bold;
}

.title_block {
  border-bottom: solid 1px #CCCCCC;
  padding: 19px 62px;
}
.title_block h1,
.title_block h2 {
  margin: 0;
}

.cta_block {
  border-top: solid 1px #CCCCCC;
  background: transparent url(/images/shadows/white_top.gif) no-repeat top center;
  padding: 35px 62px;
}
.cta_block h1,
.cta_block h2 {
  font-size: 3em;
  font-weight: bold;
}
.cta_block p {
  margin-bottom: 15px;
  font-size: 1.5em;
}

.cut_in_block {
  border-bottom: solid 1px #CCCCCC;
  background: transparent url(/images/shadows/white_bottom.gif) no-repeat bottom center;
}
.cut_in_block .wrapper {
  padding: 25px 59px;
  background: transparent url(/images/shadows/white_top.gif) no-repeat top center;
}
.cut_in_block p {
  font-size: 1.5em;
  font-weight: bold;
}

#create_pet_cta_block.reduced_padding_block a.link_button {
  margin: 0;
}

#search_pet_cta_block form#pre_creation_search {
  margin: 0;
}

.generic_text_block {
  background: transparent url(/images/shadows/white_top.gif) no-repeat top center;
  padding: 35px 62px 50px;
}
.generic_text_block h2 {
  font-size: 2.0em;
  margin: 30px 0 14px;
  color: #414042;
}
.generic_text_block h2.top {
  margin: 0 0 14px;
}
.generic_text_block h3 {
  font-size: 1.6em;
  margin: 30px 0 16px;
  color: #414042;
}
.generic_text_block p {
  margin-bottom: 20px;
}
.generic_text_block p.list_head {
  margin-bottom: 10px;
}
.generic_text_block ul {
  list-style-type: disc;
  margin: 0 14px 30px;
}
.generic_text_block ul li {
  font-size: 1.3em;
  margin-bottom: 10px;
  letter-spacing: 0.01em;
  line-height: 1.53em;
  padding-left: 8px;
}
.generic_text_block ul li .joiner_clause {
  display: block;
  margin: 10px 20px 0;
}
.generic_text_block dl dt {
  margin-bottom: 10px;
}
.generic_text_block dl dd {
  margin-bottom: 30px;
}
.generic_text_block dl ul li {
  font-size: 1em;
}
.generic_text_block dl dd a {
  font-size: 1em;
  display: inline-block;
  margin-left: 2px;
}

/*Styled Links and buttons*/
a {
  text-decoration: none;
  color: #781D7E;
  background: transparent url(/images/buttons/link_arrow.gif) no-repeat left center;
  padding-left: 12px;
  font-size: 1.3em;
}

a .link_description {
  display: none;
}
a .new_window_icon {
  display: inline-block;
  background-image: url(/images/icons/new_window.gif);
  width: 20px;
  height: 14px;
  overflow: hidden;
  text-indent: -9999px;
  text-decoration: none;
}

p a {
  font-size: 1em;
  padding: 0;
  background-image: none;
}
a img {
  border: none;
}
a.large_link {
  font-size: 1.5em;
  font-weight: bold;
}
a.text_link_plain {
  background-image: none;
  padding: 0;
  font-size: 1em;
}
a.text_link_plain:hover {
  text-decoration: underline;
}
a.text_link {
  color: #231F20;
  background-image: none;
  padding: 0;
}
a.text_link:hover {
  text-decoration: underline;
}
a.plain {
  font-size: 1.0em;
  color: #414042;
}
a.text_link.link_prompt {
  color: #781D7E;
  margin-left: 5px;
}

a#resend_confirmation_email_link{
  display: none;
}

.nowrap {
  white-space: nowrap;
}

.link_button {
  background: #781D7E url(/images/buttons/white_purple_arrow_right.gif) no-repeat right center;
  border: solid 1px #781D7E;
  font-family: arial;
  color: white;
  font-size: 1.4em;
  font-weight: bold;
  width: auto;
  line-height: 26px;
  padding: 0 35px 0 23px;
  cursor: pointer;
  display: inline-block;
}
.link_button.backwards_action {
  background: white url(/images/buttons/purple_white_arrow_left.gif) no-repeat left center;
  border: solid 1px #BFBFBF;
  line-height: 26px;
  color: #781D7E;
  padding: 0 23px 0 35px;
}
.link_button.backwards_action:hover {
  background: #781D7E url(/images/buttons/white_purple_arrow_left.gif) no-repeat left center;
  border: solid 1px #781D7E;
  color: white;
}
.link_button.cancel_action{
  background-image: url(/images/buttons/close.gif);
}
.link_button.large_link_button {
  font-size: 1.8em;
  line-height: 1.6em;
  padding-bottom: 2px;
}
button,
input.button {
  background: #781D7E url(/images/buttons/white_purple_arrow_right.gif) no-repeat right center;
  border: solid 1px #781D7E;
  font-family: arial;
  color: white;
  font-size: 1.4em;
  font-weight: bold;
  width: auto;
  height: 28px;
  padding: 0 35px 2px 23px;
  cursor: pointer;
}
button.backwards_action,
input.button.backwards_action {
  background: white url(/images/buttons/purple_white_arrow_left.gif) no-repeat left center;
  border: solid 1px #BFBFBF;
  color: #781D7E;
  padding: 0 23px 2px 35px;
}
button.backwards_action:hover,
input.button.backwards_action:hover {
  background: #781D7E url(/images/buttons/white_purple_arrow_left.gif) no-repeat left center;
  border: solid 1px #781D7E;
  color: white;
}

.button_row {
  overflow-y: auto;
}
.button_row input,
.button_row button,
.button_row .link_button {
  display: block;
  float: left;
  margin-right: 4px;
}

.pagination {
  overflow-y: auto;
  float: right;
}
.pagination span, .pagination em, .pagination a {
  float: left;
  display: block;
  font-size: 1.3em;
  margin-left: 4px;
}
.pagination a {
  border-bottom: solid 1px #414042;
  display: block;
  padding: 0;
  background-image: none;
  color: #414042;
}
.pagination em {
  display: block;
  color: #414042;
}
.pagination em {
  background-color: #231F20;
  color: white;
  padding: 0 4px;
}
.pagination li.inactive {
 display: none;
}

.info_link {
  background: transparent url(/images/icons/info.gif) no-repeat center center;
  display: inline-block;
  width: 16px;
  overflow: hidden;
  text-indent: -9999px;
  vertical-align: top;
}

/*Form stuff*/
form input,
form textarea {
  border: solid 1px #BFBFBF;
  background-color: white;
  font-family: arial;
  font-size: 1.3em;
  padding: 5px 5px 5px 4px;
}
form input[type='radio'],
form input[type='checkbox'] {
  border: none;
  padding: 0;
}


form fieldset {
  border: none;
  padding: 34px 43px;
}
form fieldset legend {
  display: none;
}

.form_header {
  margin: 0px 0px 30px 20px;
}

form .row {
  position: relative;
  margin: 10px 20px;
  clear: both;
}

form .row label,
form .row .label {
  width: 110px;
  display: block;
  float: left;
  font-size: 1.3em;
  color: #414042;
  margin: 3px 9px 0 0;
}
form .row input,
form .row textarea {
  width: 328px;
}
form .row textarea {
  height: 150px;
}
form .row select {
  width: 340px;
  margin-top: 2px;
}
form .row .errors {
  position: absolute;
  left: 485px;
  top: 5px;
  width: 180px;
  font-size: 1.3em;
  color: red;
}

form .row.invalid_row input,
form .row.invalid_row textarea {
  background-color: #f8f8f8;
  border: solid 1px #FF0000;
}

form .row p {
  font-size: 1.3em;
  color: black;
  margin: 5px 121px 0;
}

form .row .tip {
  display: none;
  position: absolute;
  top: -2px;
  left: 477px;
  width: 185px;
  padding: 3px 15px;
  background-color: #EAE0ED;
  z-index: 1000;
  border: solid 1px #ccc;
  -moz-box-shadow: 2px 2px 2px #ddd;
  -webkit-box-shadow: 2px 2px 4px #ccc;
  box-shadow: 2px 2px 2px #ddd;
}
form .row .tip .arrow {
  background-image: url(/images/backgrounds/tooltip_arrow.gif);
  width: 13px;
  height: 18px;
  position: absolute;
  left: -13px;
  top: 4px;
}
form .row .tip p {
  margin: 5px 0;
  line-height: 1.2em;
}
form .row .tip p.error {
  font-style: italic;
}
form .row .radio_button_list {
}
form .row .radio_button_list li {
  float: left;
}
form .row .radio_button_list input {
  padding: 0;
  width: auto;
  height: auto;
  margin-top: 5px;
  display: inline-block;
  float: left;
  margin-right: 10px;
}
form .row .radio_button_list label {
  width: auto;
  display: inline-block;
  float: left;
  margin-right: 25px;
}
form .checkbox_row {
  margin: 12px 20px 12px 140px;
}
form .checkbox_row input {
  float: left;
  width: auto;
  padding: 0;
  margin: 3px 5px 0 0;
}
form .checkbox_row label {
  width: 390px;
  float: none;
}
form .checkbox_row .errors {
  left: 410px;
  width: 210px;
}

form .row textarea.address {
  height: 90px;
}
form .row input.postcode {
  width: 108px;
}

form .button_row {
  padding-left: 119px;
  margin-top: 29px;
  margin-bottom: 50px;
}
form .button_row input,
form .button_row button {
  width: auto;
}
form .errorExplanation {
  margin: 34px 63px;
  background-color: #F8F8F8;
  border: 1px solid #FF0000;
  padding: 10px;
}
form .errorExplanation h2 {
  font-size: 1.6em;
  margin-bottom: 15px;
}
form .errorExplanation p {
  margin-bottom: 8px;
}
form .errorExplanation ul {
  list-style-type: disc;
  margin-left: 17px;
}
form .errorExplanation ul li {
  font-size: 1.3em;
  line-height: 1.53em;
}

/*Home Page*/
#cta_block {
  clear: both;
}

#search_pet_cta_block {
  background: none;
  border-top: none;
  padding: 29px 62px;
}
#search_pet_cta_block form {
  margin: 38px 0 0 0;
}
#search_pet_cta_block form label {
  display: block;
  font-size: 1.7em;
  font-weight: bold;
  margin-bottom: 8px;
}
#search_pet_cta_block form input#search {
  width: 560px;
  font-size: 1.7em;
  padding: 7px;
  margin-right: 4px;
}
#search_pet_cta_block form input#home_search_button {
  width: 113px;
  padding-right: 26px;
  padding-left: 13px;
}
#search_pet_cta_block form input.button {
  background: #7B1C79 url(/images/buttons/arrow_right.gif) no-repeat center right;
  font-size: 1.8em;
  font-weight: bold;
  padding: 0 29px 2px 16px;
  height: 36px;
}

#search_pet_cta_block a.view_all_epetitions {
  display: block;
  margin: 13px 0;
}

#trending_cta_block ul {
}

#trending_cta_block p.explanatory_text {
  color: #999;
  font-size: 1.25em;
}

#trending_cta_block ul li.petition {
  float: left;
  width: 331px;
  border: 1px solid #ccc;
  margin: 0px 15px 15px 0px;

  -moz-box-shadow: 1px 1px 2px #ddd;
  -webkit-box-shadow: 1px 1px 4px #ccc;
  box-shadow: 1px 1px 5px #ddd;

  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
}

#trending_cta_block ul li.petition .name {
  padding: 10px;
}

#trending_cta_block ul li.petition .name a {
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 1em;
  text-decoration: none;
  background: none;
  padding-left: 0px;
}

#trending_cta_block ul li.petition .total_signatures {
  font-size: 1.25em;
  color: #999;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#trending_cta_block ul li.petition .signature_count {
  padding: 45px 10px 15px 10px;
  float: right;
  margin-left: 10px;
  width: 80px;
  background-color: #f6f6f6;
  text-align: center;
  position: relative;
}

#trending_cta_block ul li.petition .signature_count .count {
  font-size: 2.8em;
  position: absolute;
  top: 10px;
  width: 80px;
  right: 10px;
}

#trending_cta_block #additional_trending_petitions_block{
  display: none;
}

#trending_cta_block #see_more_trending_petitions{
  float: right;
  margin-right: 15px;
  display: none;
}

#create_pet_cta_block {
  overflow-y: auto;
}
#create_pet_cta_block .link_button {
  float: right;
  margin: 42px 0 10px;
}

/* Show Petition */
.petition_view {
  padding: 32px 60px 70px;
  overflow-y: hidden;
}
.petition_view .content {
  width: 405px;
  float: left;
}
.petition_view .content * {
  word-wrap: break-word;
}
.petition_view .content p {
  margin-bottom: 16px;
}
.petition_view .content .petition_rejected {
  padding-top: 30px;
}
.petition_view .content .petition_rejected h2 {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 1.55em;
}
.petition_view .content .petition_rejected ul {
  list-style-type: disc;
  margin: 0 14px 30px;
}
.petition_view .content .petition_rejected ul li {
  font-size: 1.3em;
   margin-bottom: 10px;
   letter-spacing: 0.01em;
   line-height: 1.53em;
   padding-left: 8px;
 }
.petition_view .content .petition_response {
  padding-top: 30px;
}
.petition_view .content .petition_response h2 {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 1.55em;
}
.petition_view .content .petition_response p {
  margin: 10px 0;
}

.petition_view h1, .petition_title {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.55em;
  margin-bottom: 23px;
}
.petition_view .button_row {
  margin-top: 58px;
}

.petition_view .data {
  float: right;
  width: 250px;
}
.petition_view .data dt,
.petition_view .data dd {
  font-size: 15px;
  line-height: 1.55em;
  float: none;
}
.petition_view .data dt {
  font-weight: bold;
}
.petition_view .data dd {
  padding: 2px 0 10px;
  border-bottom: solid 1px #cdcdcd;
  margin-bottom: 10px;
  font-weight: normal;
}
.petition_view .data dd.share_links {
  width: 250px;
  padding: 0px;
}

.petition_view .data .share {
  padding: 5px;
  float: left;
}

/*New Petition*/
form.new_petition_form .form_pagination {
  border-bottom: solid 1px #CCCCCC;
  overflow-y: auto;
  background: transparent url(/images/shadows/white_top.gif) no-repeat top center;
}
form.new_petition_form .form_pagination ul {
  margin: 24px 61px 38px;
  background: transparent url(/images/backgrounds/wizard_pagination.gif) repeat-x top left;
  position: relative;
}
form.new_petition_form .form_pagination li {
  font-size: 1.5em;
  font-weight: bold;
  color: #414042;
}
form.new_petition_form .form_pagination li .step_no {
  display: block;
  width: 98px;
  text-align: center;
  font-size: 3.2em;
  font-weight: normal;
  line-height: 1em;
  padding: 25px 0;
  background-color: #D1D3D4;
  color: white;
  margin-bottom: 15px;
  font-weight: bold;
}
form.new_petition_form .form_pagination li.active .step_no {
  background-color: #781D7E;
}
form.new_petition_form .form_pagination li.step_2 {
  position: absolute;
  top: 0px;
  left: 150px;
}
form.new_petition_form .form_pagination li.step_3 {
  position: absolute;
  top: 0px;
  left: 300px;
}
form.new_petition_form .form_pagination li.step_4 {
  position: absolute;
  top: 0px;
  left: 450px;
}
form.new_petition_form .form_pagination li.step_5 {
  position: absolute;
  top: 0px;
  right: -12px;
}

form.new_petition_form fieldset {
  background: transparent url(/images/shadows/white_top.gif) no-repeat top center;
}

form.new_petition_form .is_uk_citizen_row {
  margin-top: 33px;
  margin-bottom: 13px;
  padding-bottom: 10px;
}
form.new_petition_form .is_uk_citizen_row .info_link {
  float: right;
  margin-right: 10px;
}
form.new_petition_form .is_uk_citizen_row #uk_citizen_info {
  clear: both;
  border-top: solid 1px #BFBFBF;
  margin-left: 119px;
  width: 338px;
}
form.new_petition_form .is_uk_citizen_row #uk_citizen_info p {
  margin: 10px 0 10px;
}

form fieldset#petition_submit_section {
  padding: 0 0 20px 0;
}
form fieldset#petition_submit_section #petition_summary_block {
  padding-top: 47px;
  width: 696px;
}
form fieldset#petition_submit_section #petition_summary_block p,
form fieldset#petition_submit_section #petition_summary_block h2 {
  word-wrap: break-word;
}
form fieldset#petition_submit_section #petition_summary_block #title_summary_field {
  font-size: 1.3em;
  margin-bottom: 25px;
}
form fieldset#petition_submit_section #petition_summary_block #description_summary_field {
  font-size: 1.0em;
}
form fieldset#petition_submit_section .row {
  margin-left: 62px;
}
form fieldset#petition_submit_section .checkbox_row {
  margin-left: 62px;
}
form fieldset#petition_submit_section .button_row {
  padding-left: 0px;
  margin-top: 43px;
}

/* New Signature */
#new_signature .button_row {
  margin-top: 43px;
}

/* Search results / Petition list */
.title_block h1 .search_terms {
  font-size: 0.5em;
  margin-left: 15px;
}
.petition_index_view {
  background: transparent url(/images/shadows/white_top.gif) no-repeat top center;
}
#petition_state_tabs {
  height: 65px;
  background: transparent url(/images/shadows/white_bottom.gif) no-repeat bottom center;
  border-bottom: solid 1px #ccc;
  padding: 14px 0 0 59px;
}
#petition_state_tabs li {
  border: solid 1px #ccc;
  border-bottom: none;
  height: 65px;
  float: left;
  margin-right: -1px;
  display: block;
}
#petition_state_tabs li a {
  font-size: 3em;
  color: #808285;
  font-weight: bold;
  display: block;
  padding: 0;
  background-image: none;
  width: 232px;
  text-align: center;
  padding-top: 5px;
  height: 43px;
  position: relative;
}
#petition_state_tabs li.active a {
  background-color: white;
  color: #414042;
}

#petition_state_tabs li .count {
  font-size: 0.4em;
  display:block;
}

.petition_index_view .petition_list {
  overflow-y: auto;
  padding-bottom: 58px;
}
.petition_index_view .petition_list .pagination {
  margin: 50px 60px 20px 0;
}
.petition_index_view .petition_list .title_pagination_row {
  margin: 62px 60px 30px 60px;
  overflow-y: auto;
}
.petition_index_view .petition_list .title_pagination_row h2 {
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
  float: left;
  margin-bottom: 0px;
}
.petition_index_view .petition_list .title_pagination_row .pagination {
  float: right;
  margin: 0;
}
.petition_index_view .petition_list table {
  width: 700px;
  margin: 0 0 0 60px;
  border-bottom: solid 1px #ccc;
  border-spacing: 0;
  table-layout: fixed;
}
.petition_index_view .petition_list table * {
  word-wrap: break-word;
}
.petition_index_view .petition_list table caption {
  display: none;
}
.petition_index_view .petition_list table th {
  background-color: #781D7E;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: solid 5px white;
  padding: 8px 11px;
  text-align: left;
}
.petition_index_view .petition_list table th a {
  padding: 0;
  min-height: 18px;
  background-image: none;
  color: white;
  font-size: 1em;
  background-repeat: no-repeat;
  background-position: right center;
  display: block;
}
.petition_index_view .petition_list table th a.search_normal {
  background-image: url(/images/icons/search_down.gif);
}
.petition_index_view .petition_list table th a.search_inverse {
  background-image: url(/images/icons/search_up.gif);
}
.petition_index_view .petition_list table th a.active_search_normal {
  background-image: url(/images/icons/search_active_down.gif);
}
.petition_index_view .petition_list table th a.active_search_inverse {
  background-image: url(/images/icons/search_active_up.gif);
}
.petition_index_view .petition_list table tbody {
  border-top: solid 5px white;
}
.petition_index_view .petition_list table .name {
  width: 415px;
}
.petition_index_view .petition_list table .name .indicator {
  margin-left: 10px;
  color: white;
  font-size: 0.8em;
  background-color: #781D7E;
  font-family: "Helvetica Neue", sans-serif;
  padding: 3px 5px;
  float: right;
  text-decoration: none;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.indicator.response {
  /* Thank you http://www.colorzilla.com/gradient-editor */
background: #96258e; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk2MjU4ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ZDE3NjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #96258e 0%, #5d1763 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96258e), color-stop(100%,#5d1763)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #96258e 0%,#5d1763 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #96258e 0%,#5d1763 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #96258e 0%,#5d1763 100%); /* IE10+ */
background: linear-gradient(top,  #96258e 0%,#5d1763 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96258e', endColorstr='#5d1763',GradientType=0 ); /* IE6-8 */
}
.petition_index_view .petition_list table .sig_count {
  width: 123px;
}
.petition_index_view .petition_list table .closing_date {
  width: 93px;
}
.petition_index_view .petition_list table th.name {
  border-left: none;
}
.petition_index_view .petition_list table th.last {
  border-right-width: 0px;
}

.petition_index_view .petition_list table td {
  padding: 14px 10px;
  border-top: solid 1px #ccc;
  border-right: solid 1px #ccc;
  font-size: 1.3em;
  vertical-align: top;
}
.petition_index_view .petition_list table td a {
  font-size: 1em;
}

.petition_index_view .petition_list table td.last {
  border-right: none;
}

.petition_index_view .petition_list .no_petitions_warning {
  font-size: 1.5em;
  font-weight: bold;
  margin: 60px 60px 40px;
}

.petition_pre_create_results {
  font-size: 1.5em;
  margin: 60px 60px 40px;
}

.petition_pre_create_results ul {
    padding-top: 30px
}

/* How it works page */
.how_it_works {
  text-align: center;
  color: #414042;
  position: relative;
  height: 1150px;
  font-size: 0.9em;
}

.how_it_works img {
  margin: 20px 0 67px;
}

.how_it_works ul li {
  font-size: 3.0em;
  line-height: 1.06em;
  font-weight: bold;
  position: absolute;
}
.how_it_works ul li a.info_link {
  display: block;
  position: absolute;
}

.how_it_works .connector{
  background-repeat: no-repeat;
  position: absolute;
}

.how_it_works .text_1{
  z-index: 100;
  width : 290px;
  height: 107px;
  left  : 270px;
  top   : 50px;
  background-image : url('/images/how_it_works/search.jpg');
  background-repeat: no-repeat;
  padding-top: 105px;
}
.how_it_works .text_1 a.info_link {
  bottom: 2px;
  right: 0px;
}
.how_it_works .text_1 .connector{
  background-image: url('/images/how_it_works/connector_1.gif');
  width : 59px;
  height: 103px;
}

.how_it_works .text_2 {
  z-index: 90;
  left: 43px;
  padding-top: 11px;
  top: 251px;
  width : 257px;
  height: 137px;
  background-image : url('/images/how_it_works/create_petition.jpg');
  background-repeat: no-repeat;
  padding-top: 120px;
}
.how_it_works .text_2 a.info_link {
  bottom: 40px;
  right: 50px;
}
.how_it_works .text_2 .connector{
  width: 162px;
  height: 65px;
  left: 240px;
  top: 140px;
  background-image: url('/images/how_it_works/connector_2.gif');
}


.how_it_works .text_3 {
  z-index: 80;
  left: 470px;
  top: 330px;
  z-index: 80;
  width : 255px;
  height: 122px;
  background-image : url('/images/how_it_works/checked.jpg');
  background-repeat: no-repeat;
  padding-top: 45px;
  padding-left: 25px;
  padding-right: 10px;
}
.how_it_works .text_3 a.info_link {
  bottom: 30px;
  right: 30px;
}
.how_it_works .text_3 .connector{
  width: 111px;
  height: 115px;
  left: 40px;
  top: 140px;
  background-image: url('/images/how_it_works/connector_3.gif');
}

.how_it_works .text_4 {
  z-index: 70;
  left: 284px;
  padding-top: 19px;
  top: 544px;
  width : 247px;
  height: 163px;
  background-image : url('/images/how_it_works/open.jpg');
  background-repeat: no-repeat;
  padding-left: 20px;
}
.how_it_works .text_4 a.info_link {
  bottom: 35px;
  right: 0px;
}
.how_it_works .text_4 .connector{
  background-image: url('/images/how_it_works/connector_4.gif');
  width : 75px;
  height: 86px;
  left: -70px;
  bottom: -40px;
}

.how_it_works .text_5 {
  z-index: 60;
  left: 90px;
  top: 767px;
  width: 245px;
  height: 145px;
  background-image : url('/images/how_it_works/signature.jpg');
  background-repeat: no-repeat;
  padding-right: 20px;
  padding-top: 30px;
}
.how_it_works .text_5 a.info_link {
  bottom: 35px;
  right: 20px;
}
.how_it_works .text_5 .connector{
  background-image: url('/images/how_it_works/connector_5.gif');
  width : 114px;
  height: 76px;
  right  : -50px;
  bottom: -30px;
}

.how_it_works .text_6 {
  z-index: 50;
  left: 426px;
  top: 802px;
  height: 262px;
  width: 280px;
  background-image : url('/images/how_it_works/threshold.jpg');
  background-repeat: no-repeat;
  background-position: 0px 50px;
}
.how_it_works .text_6 .text_replace {
  display: block;
  position: absolute;
  left: -10000px;
}
.how_it_works .text_6 .pre_text {
  display: block;
}
.how_it_works .text_6 .post_text {
  display: block;
  margin-top: 122px;
}
.how_it_works .text_6 a.info_link {
  top: 15px;
  right: 0px;
}
.how_it_works .get_started_button {
  float: right;
  margin: 0 60px 0 0;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.how_it_works_block {
  background: none;
}

.lightbox .how_it_works_explanation {
    border-top: medium none;
    padding: 0;
}

.how_it_works_explanation {
  border-top: 1px solid #CCCCCC;
  padding: 20px 0 5px;
}

.how_it_works_explanation p.list {
  margin-bottom: 0px;
}

.how_it_works_explanation ul {
  list-style: disc outside none;
  margin-bottom: 16px;
}

.how_it_works_explanation ul li {
  margin-left: 30px;
  font-size: 1.3em;
  letter-spacing: 0.01em;
}

.thank_you_block .large_link_button {
  margin-bottom: 30px;
  margin-top: 20px;
}

.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}

.clearfix {
   display: inline-block;
}

html[xmlns] .clearfix {
   display: block;
}

* html .clearfix {
   height: 1%;
   overflow: visible;
}

#make_sure_your_signature_counts_link{
  display: none;
}

#make_sure_your_signature_counts_link{
  position: absolute;
  top: 0;
}

#resend_confirmation_email_box{
  margin-top: 10px;
}

#resend_confirmation_email_box label{
  font-size: 1.3em;
  letter-spacing: 0.01em;
  line-height: 1.53em;
  margin-bottom: 10px;
  display: block;
}

#resend_confirmation_email_box #confirmation_email{
  width: 250px;
}

/*
  CSS Media Queries for Mobile devices
*/
@media only screen and (max-width: 767px) {

  body{
    padding: 0;
    margin: 0 auto;
  }

  #outer_page_wrapper {
    width: 310px;
    margin: 0 auto;
  }

  #inner_page_wrapper {
    width: 310px;
  }

  #header {
    overflow-y: visible;
    position: relative;
    height: 120px;
  }

  #header .logo img{
    width: 250px;
    margin-left: -30px;
  }

  #header #header_content{
    top: 0;
    right: 0;
    float: none;
    margin: 0px;
  }

  #header #header_content form.search_form{
    margin-top: 0px;
    width: 100%;
    margin-left: 30px;
    padding: 5px 0px;
  }

  #header #header_content form.search_form label{
    font-size: 0.9em;
  }

  .cta_block, #search_pet_cta_block{
    padding: 10px;
  }

  h1, h2, .cta_block h1, .cta_block h2{
    font-size: 2em;
  }

  #search_pet_cta_block a {
    clear: both;
    margin: 0;
  }

  #search_pet_cta_block form {
    margin: 0;
  }

  #search_pet_cta_block form input#search {
    width: 195px;
  }

  #search_pet_cta_block form input#home_search_button{
    text-indent: -5000px;
    width: 30px;
  }

  #create_pet_cta_block .link_button{
    margin: 30px 0px 10px;
  }

  .flash_notice {
    padding-left: 10px;
    padding-right: 10px;
  }
  .flash_notice .expandable_link {
    display: block;
    margin: 0;
  }

  #footer{
    padding: 10px;
  }

  #footer #footer_nav ul {
    margin: 0;
  }

  #footer #footer_nav li{
    float: none;
  }

  .generic_text_block{
    padding: 10px;
  }

  #page_content{
    clear: both;
  }

  form{
    padding: 10px;
  }

  form.new_petition_form .form_pagination{
    padding-bottom: 10px;
  }

  form.new_petition_form .form_pagination ul{
    padding: 0;
    margin: 0;
    background: transparent url(/images/backgrounds/wizard_pagination.gif) repeat-x 0px -19px;
  }

  form.new_petition_form .form_pagination li{
    font-size: 1.2em;
    width: 50px;
  }

  form.new_petition_form .form_pagination li .step_no {
    width: 30px;
    padding: 10px 5px;
  }

  form.new_petition_form .form_pagination li.step_2 {
    left: 63px;
  }

  form.new_petition_form .form_pagination li.step_3 {
    left: 126px;
  }

  form.new_petition_form .form_pagination li.step_4 {
    left: 189px;
  }

  form.new_petition_form .form_pagination li.step_5 {
    right: -10px;
  }

  form fieldset#petition_submit_section .row{
    margin-left: 0;
  }

  form fieldset#petition_submit_section #petition_summary_block{
    width: 100%;
  }

  form fieldset {
    padding: 0;
    width: 290px;
  }

  form .row {
    margin: 0;
    padding: 0;
  }

  form .row p{
    margin: 0;
  }

  form .row label{
    float: none;
    width: auto;
    margin-top: 10px;
  }

  form.new_petition_form fieldset{
    background: none;
  }

  form .row select{
    width: 100%;
  }

  form .row input.button{
    width: 290px;
  }

  form .row input#petition_submit{
    width: 108px;
  }

  form .row input#signature_submit{
    width: 180px;
  }

  form .row input, form .row textarea{
    width: 280px;
  }

  form .row input[type="checkbox"]{
    width: auto;
  }

  form .button_row{
    margin: 10px 0;
  }

  .form_header{
    margin: 0px 0px 20px 0px;
  }

  .title_block {
    padding: 19px 22px;
  }

  .title_block h1 .search_terms{
    display: block;
    margin: 0;
  }


  .strap_block{
    padding: 10px 0;
  }

  .generic_block{
    padding: 0;
  }

  .cut_in_block .wrapper{
    padding: 20px 20px;
  }

  #petition_state_tabs{
    padding: 10px 0 0 18px;
  }

  #petition_state_tabs li a{
    font-size: 2em;
    width: 90px;
  }

  .petition_index_view .petition_list{
    overflow-y: visible;
    padding-bottom: 20px;
  }

  .petition_index_view .petition_list .title_pagination_row,
  .petition_index_view .petition_list .no_petitions_warning{
    margin: 20px;
  }

  .petition_index_view .petition_list .title_pagination_row h2{
    margin-bottom: 10px;
  }

  .petition_index_view .petition_list table{
    width: 100%;
    margin: 0;
  }

  .petition_index_view .petition_list table th {
    font-size: 1em;
    padding: 2px 3px 2px 5px;
    line-height: 17px;
  }
  .petition_index_view .petition_list table .name{ width: 110px; }
  .petition_index_view .petition_list table .sig_count{ width: 70px; }
  .petition_index_view .petition_list table .closing_date{ width: 70px;}

  .petition_index_view .petition_list .title_pagination_row{ margin-bottom: 10px; }
  .petition_index_view .petition_list .pagination { margin: 10px 20px 10px 0; }

  .petition_view{
    padding: 10px;
  }

  .petition_view .content{
    width: 100%;
  }

  .petition_view .data{
    float: none;
    width: 100%;
  }

  .lightbox{
    width: 280px;
    padding: 10px;
    margin-left: -150px;
  }

  .how_it_works{
    position: relative;
    height: 1430px;
  }

  .how_it_works .connector{
    background-repeat: no-repeat;
    position: absolute;
  }

  .how_it_works .text_1{ left: 10px; top: 10px; }
  .how_it_works .text_2{ left: 25px; top: 230px; }
  .how_it_works .text_3{ left: 10px; top: 500px; }
  .how_it_works .text_4{ left: 20px; top: 700px; }
  .how_it_works .text_5{ left: 30px; top: 900px; }
  .how_it_works .text_6{ left: 15px; top: 1070px; }

  .how_it_works .text_1 .connector{
    right: 20px;
  }

  .how_it_works .text_2 .connector{
    background-image: url('/images/how_it_works/connector_2_mobile.gif');
    width : 55px;
    height: 109px;
    left  : 20px;
    top   : 190px;
  }

  .how_it_works .text_3 .connector{
    background-image: url('/images/how_it_works/connector_3_mobile.gif');
    width : 44px;
    height: 80px;
    left: 240px;
    bottom: -50px;
  }

  .how_it_works .text_4 .connector{
    background-image: url('/images/how_it_works/connector_4_mobile.gif');
    width : 75px;
    height: 86px;
    left : 80px;
    bottom: -40px;
  }

  .how_it_works .text_5 .connector{
    background-image: url('/images/how_it_works/connector_2_mobile.gif');
    width : 55px;
    height: 109px;
    left  : 0px;
    bottom: -30px;
  }

  .how_it_works .get_started_button{ bottom: 10px; left: 10px; }

  .thank_you_block .return_to_homepage_button{
    font-size: 15px;
  }

  .petition_view .button_row{
    margin-top: 28px;
  }

  .petition_view .content{
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
  }

  .petition_view .data{
    display: block;
  }

  .petition_view .data .signature_count{
    margin-top: 10px;
  }

  .petition_view .data dt {
    font-weight: bold;
    width: 155px;
    display: inline-block;
    font-size: 14px;
    float: left;
    clear: both;
  }

  .petition_view .data dd {
    display: inline;
    border: none;
    float: right;
    width: 120px;
    padding: 0;
    margin: 0;
  }

  .petition_view .data dd .share_links{
    display: block;
  }

  .petition_view .data dd .created_by{
    display: block;
  }

  .petition_view .data .share {
    float: left;
    padding: 5px 5px 0 0;
  }

  .petition_view .data dd.share_links{
    width: 120px;
  }

  #trending_cta_block ul li.petition{
    width: 288px;
    margin: 0px 0px 15px 0px;
  }

  #trending_cta_block ul li.petition .name{
    font-size: 0.85em;
  }
}
