body {
  height: 100%;
}
form .row .errors {
  left: 375px;
}
form .row .tip {
  left: 365px;
}

form.new_petition_form .form_pagination {
  zoom:1;
}
form.new_petition_form .form_pagination ul {
  height: 131px;
  display: block;
}

.overlay {
  position: absolute;
}
.lightbox {
  position: absolute;
}
.lightbox .window_close_btn {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/close.png', sizingMethod='crop');
}
#header #header_content {
  margin-right: 30px;
}

#header #header_content form label {
  clear: both;
}

/* Fix for column headers not being clickable */
a.search_normal, a.active_search_normal, a.active_search_inverse {
  position: relative;
}

#footer {
  margin-top: 30px;
  clear: both;
  zoom: 1;
}
#footer #footer_nav {
  display: block;
}

.how_it_works div {
  margin-left: -40px;
}

#create_pet_cta_block {
  zoom: 1;
}

.petition_index_view .petition_list .title_pagination_row {
  zoom: 1;
}
.how_it_works ul {
  position: absolute;
  top: 0px;
  left: -30px;
}
