button,
input.button {
  padding: 0 25px 2px 13px;
}
button.backwards_action,
input.button.backwards_action {
  padding: 0 13px 2px 25px;
}
.petition_index_view .petition_list table {
  border-collapse: collapse;
}