<h1>Edit Invalidation</h1>

<div class="grid-row">
  <div class="column-two-thirds extra-gutter">
    <%= form_for [:admin, @invalidation] do |form| %>
      <%= render 'form', form: form %>
    <% end %>
  </div>
</div>
