<h2 class="petition-action-heading">Take this petition down</h2>
<%= form_for petition, url: admin_petition_take_down_path(petition), method: :patch do |f| -%>
  <%= render 'admin/petitions/reject', f: f %>

  <%= f.submit "Email petition creator", class: 'button' %>
<% end -%>
