<h3><%= link_to petition.action, petition_result_path(petition) %></h3>
<% case petition.state %>
<% when "open" %>
  <p><%= signature_count(:default, petition.signature_count) %></p>
<% when "closed" %>
  <p><%= t(:"ui.petitions.search.results.items.facet_all.closed_html", signature_count: signature_count(:default, petition.signature_count)) %></p>
<% when "rejected" %>
  <p><%= t(:"ui.petitions.search.results.items.facet_all.rejected") %></p>
<% end %>
