<h2><%= link_to petition.action, petition_path(petition) %></h2>
<p><%= signature_count(:default, petition.signature_count) %></p>
<p><%= t(:"ui.petitions.search.results.items.facet_completed.completed_date", date: short_date_format(petition.completed_at)) %></p>
