<p>
  You can enter:
</p>
<br/>

<ul>
  <li>an id to find a petition with that id;</li>
  <li>an email address to see all petitions that that email address has signed;</li>
  <li>a keyword to find all petitions that contain the keyword in their Action, Background or Additional details fields.</li>
</ul>
<br/>

<%= render 'form', :query => @query %>

