<p>
  You can enter:
</p>
<br/>

<ul>
  <li>an id to find a petition with that id;
  <li>an email address to see all petitions that that email address has signed.
</ul>
<br/>

<%= render 'form', :query => @query %>

