<div class="grid-row margin-top-7">
  <div class="grid-column-two-thirds-from-laptop">
    <h1>
      Sorry, you can’t sign this petition
    </h1>

    <p>
      Only British citizens or UK residents have the right to sign petitions.
    </p>

    <p>
      <%= link_to "Back to the home page", home_path %>
    </p>
  </div>
</div>
