<h2>Open</h2>
<p><%= date_format_admin(@petition.open_at) %>&nbsp;</p>

<h2>Closing</h2>
<p><%= date_format_admin(@petition.closed_at) %>&nbsp;</p>

<% if @petition.rejected? or @petition.hidden? -%>
<h2>Rejection reason</h2>
<p><%= @petition.rejection_reason %>&nbsp;</p>

<h2>Rejection text</h2>
<p><%= @petition.rejection_text %>&nbsp;</p>
<% end -%>
