<div class="petition">
  <%= render 'petition_details' %>
  <%= render 'published_petition_details' %>
  <div class="row">
    <label>Public Response:</label>
    <p class="text_block"><%= @petition.response || raw('&nbsp;') %></p>
  </div>
</div>

<nav class="actions">
  <ul>
    <li><%= link_to 'Edit parliament response', edit_response_admin_petition_path(@petition) %></li>
  </ul>
</nav>
