<article class="about-petitions about-petitions-light">
  <section class="about-item about-item-count-10000">
    <h2>10,000 <span>signatures</span></h2>
    <p>If a petition gets 10,000 signatures, the government will respond</p>
  </section>
  <section class="about-item  about-item-count-100000">
    <h2>100,000 <span>signatures</span></h2>
    <p>If a petition gets 100,000 signatures, it will be considered for debate in Parliament</p>
  </section>
</article>
