<footer id="footer" role="contentinfo">

  <div class="wrapper">
    <%= render_tabnav :id => "footer_nav" do |n|
      n.add_tab do |t|
        t.named 'Home'
        t.links_to home_path
      end
      n.add_tab do |t|
        t.named 'All petitions'
        t.links_to petitions_path
      end
      n.add_tab do |t|
        t.named 'Start a petition'
        t.links_to check_petitions_path
      end
      n.add_tab do |t|
        t.named 'Feedback'
        t.links_to feedback_path
      end
    end %>

    <div class="open-government-licence">
      <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
      <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
    </div>

    <div class="copyright">
      <span class="graphic graphic-portcullis-large-grey" aria-hidden="true"></span>
      <span class="graphic graphic-crest-large-grey" aria-hidden="true"></span>
      <a href="https://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">&copy; Crown copyright</a>
    </div>
  </div>
</footer>
