<header role="banner" id="global-header">
  <div class="wrapper">
    <%= link_to image_tag('logos/parliament-logo-2x.png', :alt => 'HM Government', :width => '28', :height => '34') + raw(' Petition parliament'), home_path, :title => 'Go to the petitions homepage', :tabindex => 1 %>
  </div>
</header>
