
$house-of-commons-green: #080;
$petitions-brand: $house-of-commons-green;
$petitions-header-colour: $petitions-brand;
$petitions-panel-colour: $petitions-brand;
$petitions-button-colour: $petitions-brand;
$petitions-footer-colour: $grey-3;
