/* Global footer */

#footer {
  border-top: 10px solid $house-of-commons-green;
  background-color: $panel-colour;
  padding-top: $gutter;
  padding-bottom: $gutter *1.5;

  a {
    color: $black;
  }

  ul {
    margin-bottom: $gutter;
  }

  li {
    @include core-16;
    margin-bottom: $gutter-one-third;
  }

  .open-government-licence {
    padding-top: 30px;
    position: relative;

    &:before {
      @extend .graphic;
      @extend .graphic-open-government-licence;

      content: "";
      position: absolute;
      top: 0;
    }

    p {
      @include core-16;
      margin: 0;
      padding-top: 0.1em;

      span {
        white-space: nowrap;
      }
    }
  }

  @include media(tablet) {
    .wrapper {
      position: relative;
    }
  }

  .copyright {
    @include core-16;


    margin: $gutter * 1.5 auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    max-width: 200px;

    &:before {
      @extend .graphic;
      @extend .graphic-portcullis-large-grey;

      content: "";
      display: block;
      order: 1;
      margin-right: $gutter * 1.5;
      margin-bottom: $gutter-half;
    }

    &:after {
      @extend .graphic;
      @extend .graphic-crest-large-grey;

      content: "";
      display: block;
      order: 2;
      margin-bottom: $gutter-half;;
    }

    a {
      order: 3;
    }

    @include media(tablet) {
      justify-content: flex-end;
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 0;
    }
  }
}
