// Adds to ../govuk_elements/_forms.scss

.form-control {
  width: 100%;
  padding: 0.5em;
}

select.form-control {
  height: 40px;
  padding: 0 0.5em;

  @include media(tablet) {
    height: 52px;
  }
}

.form-control.small {
  width: 50%;
}

.form-control-1-4 {
  width: 25%;
}

.form-control-1-2 {
  width: 50%;
}

.form-control-auto {
  width: auto;
}

.form-group {
  margin-bottom: $gutter;
  clear: both;

  input[type=file] {
    line-height: 1ex;
  }

  .suffix {
    display: inline-block;
    margin-left: $gutter-one-quarter;
  }
}

.form-group.error {
  @extend %outdent-to-full-width;

  @include media(tablet) {
    margin-left: -$gutter;
    margin-right: -$gutter;
    padding-left: $gutter - 5px;
    padding-right: $gutter;
  }
}

// Replication .form-label-bold without the font
.error .form-label {
  @extend .form-label-bold;
}

.character-count {
  color: $secondary-text-colour;
  float: right;
  padding-left: $gutter;
  @include media(tablet) {
    padding-left: $gutter *2;
  }
}
.character-count.too-many-characters {
  color: $error-colour;
}

.form-label {
  margin-bottom: 10px;

  .optional {
    color: $secondary-text-colour;
    margin-left: 0.5em;
  }
}

.block-label {
  box-sizing: border-box;
  border: 1px solid $border-colour;
  padding: ($gutter-one-third $gutter $gutter-one-third $text-indent);

  input {
    top: 12px;
    left: $gutter-one-third;
  }
}

.form-group-help {
  margin: 5px 0 0;
}

.form-hint {
  margin-top: 10px;
}
