.search-inline {
  display: flex;
  justify-content: space-between;

  input[type=search] {
    @include appearance(none);
    @include box-sizing(border-box);

    border-right-width: 0px;
    height: 42px;
    margin: 0;
    padding: 6px;
    width: auto;
    flex-grow: 1;

    &:focus {
      border-right-width: 2px;
      z-index: 2;
    }
  }

  button {
    @extend .icon;
    @extend .icon-search-white;

    color: $button-text-colour;
    cursor: pointer;
    background-color: $button-colour;
    border: 2px solid transparent;
    border-radius: 0;
    height: 42px;
    width: 42px;
    margin: 0;
    padding: 0;

    &:focus {
      box-shadow: inset 0 0 0 2px $focus-text-colour;
      border-color: $focus-text-colour;
      outline: 3px solid $focus-colour;
      outline-offset: 0;
      z-index: 2;
    }

    &:hover {
      background-color: $button-hover-colour;
    }
  }

  #postcode {
    text-transform: uppercase;
  }
}
