
// tumblingNumbers animation
@-webkit-keyframes tumblingNumbers {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes tumblingNumbers {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}
%tumblingNumbers {
  -webkit-animation-name: tumblingNumbers;
  animation-name: tumblingNumbers;
}

// tumble styles
// Adapted from https://github.com/HubSpot/odometer

.tumble {
  @include inline-block;
  position: relative;
}

.tumble-digit {
  @include inline-block;
  position: relative;
  margin-right: -0.25em;
}

.tumble-digit-spacer {
  @include inline-block;
  visibility: hidden;
}

.tumble-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.tumble-ribbon {
  display: block;
}

.tumble-ribbon-inner {
  display: block;
  -webkit-backface-visibility: hidden;
  @extend %animated;
  @extend %tumblingNumbers;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.tumble-value {
  display: block;
  text-align: center;
}

.tumble-first-value {
  position: absolute;
}
