<tr>
  <td>
    <%= link_to tag.name, edit_admin_tag_path(tag) %>
  </td>
  <td>
    <%= tag.description %>
  </td>
  <td>
    <%= button_to 'Delete', admin_tag_path(tag, params.permit(:q)), method: :delete, class: 'button-warning', data: { confirm: 'Delete tag?' } %>
  </td>
</tr>
