<%= form_for @signature, url: confirm_petition_sponsors_path(@petition, token: @petition.sponsor_token) do |form| %>
  <h1 class="page-title">Sign <%= @petition.creator.name %>’s petition</h1>
  <%= render "form", form: form, signature: @signature %>
<% end %>
