<% content_for(:page_title) { "#{@petition.title} - Support this petition - e-petitions" } %>
<div class="title_block">
  <h2>Support this petition</h2>
  <h1 class="petition_title"><%= @petition.title %></h1>
  <h2>By <%= @petition.creator_signature.name %></h2>
</div>

<%= form_for @stage_manager.stage_object, url: petition_sponsor_path(@petition, @petition.sponsor_token), html: {method: 'patch', class: 'wizard_form new_petition_form'} do |f| %>
  <%= render_signature_form @stage_manager, f, with_signer_ui_back_link: false %>
<% end -%>
