<div class="grid-row margin-top-7">
  <div class="grid-column-two-thirds-from-laptop">
    <h1>
      Thanks
    </h1>

    <p>
      Your signature has been added to this petition as a supporter.
    </p>

    <h2>
      What next?
    </h2>

    <ul class="bulleted-list">
      <li>
        This petition needs <%= Site.minimum_number_of_sponsors %> supporters to go live.
      </li>
      <li>
        When it goes live, we’ll email you a link so you can start sharing it.
      </li>
    </ul>
  </div>
</div>
