<h1 class="page-title page-title-with-icon">
  <span class="icon icon-confirmation-tick"></span>
  <%= t(:"ui.sponsors.signed.heading") %>
</h1>

<p><%= t(:"ui.sponsors.signed.added") %></p>

<%= t(:"ui.sponsors.signed.what_next_html", min_sponsors: Site.minimum_number_of_sponsors) %>
