<% content_for(:page_title) { "Thank you - Petitions" } %>
<% content_for :title do %>
<div class="title_block">
  <h2>Thank you.</h1>
  <h1 class="petition_action"><%= @petition.action %></h1>
  <h2>By <%= @petition.creator_signature.name %></h2>
</div>
<% end %>

<div class="cta_block thank_you_block">
  <p>Your signature has now been added to this petition as a sponsor.</p>

  <p>This petition is waiting for more sponsors before being checked to make sure it complies with the terms &amp; conditions for creating a petition.</p>

  <p>You will be notified once a decision has been reached.</p>

  <%= link_to "Return to home page", home_path, :class => 'link_button large_link_button return_to_homepage_button' %>
</div>
