<% content_for(:page_title) { "#{@petition.title} - Thank you for supporting this petition - Petitions" } %>
<% content_for :title do %>
<div class="title_block">
  <h2>Thank you.</h1>
  <h1 class="petition_title"><%= @petition.title %></h1>
  <h2>By <%= @petition.creator_signature.name %></h2>
</div>
<% end %>

<div class="cta_block thank_you_block">
  <p>An email will be sent to you now to confirm your email address.  If we're busy this may take a few hours to arrive, thanks for your patience.</p>

  <p>We can't add you as a sponsor to the petition until you've clicked on the link in this email.</p>

  <%= link_to "Return to home page", home_path, :class => 'link_button large_link_button return_to_homepage_button' %>
</div>
