<% if actioned[:with_response][:count].zero? %>
  <p>This Government has not responded to any petitions yet.</p>
<% else %>
  <h2>Most recent government responses</h2>
  <ol class="threshold-petitions response-petitions-list">
    <% actioned[:with_response][:list].each do |petition| %>
      <li class="petition-item">
        <h3><%= link_to petition.action, petition_path(petition), class: "threshold-petition-title" %></h3>
        <blockquote class="pull-quote"><%= simple_format(petition.government_response.summary) %></blockquote>
        <p><%= link_to "Read the government response", petition_path(petition) %></p>
      </li>
    <% end -%>
  </ol>
  <p><%= link_to petition_count(:with_response_explanation, actioned[:with_response][:count]), petitions_path(state: :with_response), class: "view-all" %></p>
<% end %>
