<% if actioned[:with_debate_outcome][:count].zero? %>
  <p>This Parliament has not debated any petitions yet.</p>
<% else %>
  <ol class="threshold-petitions">
    <% actioned[:with_debate_outcome][:list].each do |petition| %>
      <li class="petition-item">
        <h3><%= link_to petition.action, petition_path(petition) %></h3>
        <% if petition.debate_outcome.video_url.present? %>
          <p>Watch the debate on <%= link_to "parliamentlive.tv", petition.debate_outcome.video_url, rel: "external" %></p>
        <% end %>
        <% if petition.debate_outcome.transcript_url.present? %>
          <p>Read the transcript at <%= link_to "parliament.uk", petition.debate_outcome.transcript_url, rel: "external" %></p>
        <% end %>
      </li>
    <% end -%>
  </ol>
  <p><%= link_to petition_count(:with_debate_outcome_explanation, actioned[:with_debate_outcome][:count]), petitions_path(state: :with_debate_outcome), class: "view-all" %></p>
<% end %>
