<div class="text-page">
  <h1 class="page-title">Accessibility statement</h1>

  <p><strong>We’re committed to making this website accessible so it can be used by as many people as possible.</strong></p>

  <p>This statement applies to content published within the UK Parliament Petitions website.</p>

  <p>This domain is owned by UK Parliament.</p>

  <p>We aim to make this websites accessible to the widest possible audience. This means, for example, that you should be able to:

  <ul class="list-bullet">
    <li>change colours, contrast levels and fonts</li>
    <li>zoom in up to 300% without the text spilling off the screen</li>
    <li>navigate the website using a keyboard</li>
    <li>navigate the website using speech recognition software</li>
    <li>listen to the website using a screen reader</li>
  </ul>

  <h2>What we’re doing to improve accessibility</h2>

  <p>To make UK Parliament websites accessible, we:</p>

  <ul class="list-bullet">
    <li>integrate accessibility into our procurement procedures</li>
    <li>provide accessibility training for our staff</li>
    <li>include individuals with disabilities in our design personas</li>
  </ul>

  <h2>How accessible is this website?</h2>

  <p>This website should be fully accessible.</p>

  <h2>How to request content in a different format</h2>

  <p>If you need information in a different format please <a href="/feedback">contact us</a> and tell us:

  <ul class="list-bullet">
    <li>the web address (URL) of the content that you need</li>
    <li>your contact name and email address</li>
    <li>the type of format you need</li>
  </ul>

  <h2>Reporting accessibility problems with this website</h2>

  <p>If you find any problems or if you think we’re not meeting the accessibility requirements, please <a href="/feedback">contact us</a> to report this.</p>

  <h2>Enforcement procedure</h2>

  <p>If you contact us with a complaint and you’re not happy with our response contact the Equality Advisory and Support Service (EASS).</p>

  <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).</p>

  <h2>Technical information about this website’s accessibility</h2>

  <p>UK Parliament is committed to making this website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

  <h2>Compliance status</h2>

  <p>This website is compliant with the Web Content Accessibility Guidelines version 2.1 AA standard.</p>

  <h2>How we tested this website</h2>

  <p>Our websites were and are currently being tested for compliance with the Web Content Accessibility Guidelines V2.1 level A and level AA using a combination of automated tools for accessibility WCAG 2.0 standards.</p>

  <h2>Preparation of this accessibility statement</h2>

  <p>This statement was prepared on 21 September 2020.</p>

  <p>This website is being tested via a combination of accessibility tools throughout September 2020. The testing is being carried out by Parliament UK.</p>

  <p>Our sites are checked for accessibility on a regular basis. These tests are carried out by Parliament UK through automated testing via a combination of tools for accessibility.</p>
</div>
