<div class="text-page">

<h1 class="page-title">Contact us</h1>

<h2>Email</h2>

<p>You can email the <%= link_to 'Petitions Committee', help_url(anchor: 'petitions-committee') %> directly.</p>

<p>They can help with some technical problems using this service. They can't forward your feedback to the people who started a petition or comment on the ideas raised in a specific petition.</p>

<p><a href="mailto:petitionscommittee@parliament.uk">petitionscommittee@parliament.uk</a></p>

<h2>Phone</h2>

<p>Phone calls are handled by the House of Commons switchboard.</p>

<p>They can help you to understand how Parliament handles petitions, but can’t help with any technical problems with this service.</p>

<ul>
  <li>Telephone: <a href="tel:+442072194272">020 7219 4272</a></li>
  <li>Textphone via Text Relay: <a href="tel:+4418001">18001</a> followed by <a href="tel:+442072194272">020 7219 4272</a></li>
  <li>Monday to Friday, 10am to 12pm and 2pm to 4pm</li>
</ul>

</div>
