<div class="text-page">
  <h1>Cookies</h1>
  <p>
    This website puts small files (known as ‘cookies’) onto your computer to collect information about how you browse the site.
  </p>
  <p>
  These essential cookies are used to:
  </p>
  <ul>
    <li>remember the notifications you’ve seen so that we don’t show them to you again</li>
    <li>help prevent people from fraudulently signing petitions</li>
  </ul>
  <p>
    These cookies aren’t used to identify you personally and are strictly necessary to ensure the secure running of this website.
  </p>
  <p>
    Find out more about <%= link_to('how to manage cookies', 'https://ico.org.uk/your-data-matters/online/cookies')%>.
  </p>

  <h2>
    Session cookies
  </h2>

  <p>
    We store a session cookie on your computer to help keep your information secure while you use the service.
  </p>

  <table>
    <tr>
      <th>Name</th>
      <th>Purpose</th>
      <th>Expires</th>
    </tr>
    <tr>
      <td>_epets_session</td>
      <td>This keeps your information secure while you use the petitions service</td>
      <td>When you close your browser</td>
    </tr>
    <tr>
      <td>signed_tokens</td>
      <td>Randomly generated references used to identify what links you’ve clicked to verify your email address.</td>
      <td>When you close your browser</td>
    </tr>
  </table>
</div>
