<div class="text-page">
  <%= t(:"ui.help_page.body_html",
    feedback_link: link_to(t(:"ui.help_page.feedback_link"), feedback_path),
    moderation_threshold: Site.formatted_threshold_for_moderation,
    referral_threshold: Site.formatted_threshold_for_referral,
    debate_threshold: Site.formatted_threshold_for_debate
  ) %>
</div>
