<div class="text-page">

<%= render 'parliament_dissolution_warning' %>

<h1 class="page-title">How petitions work</h1>

<ol class="list-number">
  <li>You create a petition. Only British citizens and UK residents can create a petition.</li>
  <li>You get 5 people to support your petition. We’ll tell you how to do this when you’ve created your petition.</li>
  <li>We check your petition, then publish it. We only reject petitions that don’t meet the standards for petitions.</li>
  <li>British citizens and UK residents can then sign your petition — and can only sign a petition once.</li>
  <li>The Petitions Committee reviews all petitions we publish. They select petitions of interest to find out more about the issues raised. They have the power to press for action from government or Parliament.</li>
  <li>At 10,000 signatures you get a response from the government.</li>
  <li>At 100,000 signatures your petition will be considered for a debate in Parliament.</li>
</ol>

<h2 id="debates">Debates</h2>

<p>Petitions which reach 100,000 signatures are almost always debated. But we may decide not to put a petition forward for debate if the issue has already been debated recently or there’s a debate scheduled for the near future. If that’s the case, we’ll tell you how you can find out more about parliamentary debates on the issue raised by your petition.</p>

<p>MPs might consider your petition for a debate before it reaches 100,000 signatures.</p>

<p>We may contact you about the issue covered by your petition. For example, we sometimes invite people who create petitions to take part in a discussion with MPs or government ministers, or to give evidence to a select committee. We may also write to other people or organisations to ask them about the issue raised by your petition.</p>

<h2 id="petitions-committee">The Petitions Committee</h2>

<p>The <a href="http://www.parliament.uk/petitions-committee">Petitions Committee</a> can:</p>

<ul class="list-bullet">
  <li>write to you for more information</li>
  <li>invite you to talk to the Committee in person about your petition – this could be in Parliament or somewhere else in the UK</li>
  <li>ask for evidence from the Government or other relevant people or organisations</li>
  <li>press the government for action</li>
  <li>ask another parliamentary committee to look into the topic raised by a petition</li>
  <li>put forward a petition for debate</li>
</ul>

<p>The Petitions Committee is set up by the House of Commons. It comprises up to 11 backbench Members of Parliament from Government and Opposition parties. The number of committee members from each political party is representative of the membership of the House of Commons as a whole.</p>

<h2 id="standards">Standards for petitions</h2>

<p>Petitions must call for a specific action from the UK Government or the House of Commons.</p>

<p>Petitions must be about something that the Government or the House of Commons is responsible for.</p>

<p>Petitions can disagree with the Government and can ask for it to change its policies. Petitions can be critical of the UK Government or Parliament.</p>

<p>We reject petitions that don’t meet the rules. If we reject your petition, we’ll tell you why. If we can, we’ll suggest other ways you could raise your issue.</p>

<p>We’ll have to reject your petition if:</p>

<ul class="list-bullet">
  <li>
    <p>It calls for the same action as a petition that’s already open</p>
  </li>
  <li>
    <p>It doesn’t ask for a clear action from the UK Government or the House of Commons</p>
  </li>
  <li>
    <p>It’s about something the UK Government or House of Commons is not responsible for.</p>
    <p>That includes: something that your local council is responsible for; something that another Government (such as the Scottish Government, the Welsh Government or the Northern Ireland Executive) is responsible for; and something that an independent organisation has done.</p>
  </li>
  <li>
    <p>It’s defamatory or libellous, or contains false statements</p>
  </li>
  <li>
    <p>It refers to a case that’s active in the UK courts</p>
  </li>
  <li>
    <p>It contains material that may be protected by an injunction or court order</p>
  </li>
  <li>
    <p>It contains material that could be confidential or commercially sensitive</p>
  </li>
  <li>
    <p>It could cause personal distress or loss. This includes petitions that could intrude into someone’s personal grief or shock without their consent.</p>
  </li>
  <li>
    <p>It accuses an identifiable person or organisation of a crime</p>
  </li>
  <li>
    <p>It names individual officials of public bodies, unless they are senior managers</p>
  </li>
  <li>
    <p>It names family members of elected representatives, eg MPs, or of officials of public bodies</p>
  </li>
  <li>
    <p>It asks for someone to be given an honour, or have an honour taken away. You can nominate someone for an honour here: <a href="https://www.gov.uk/honours">www.gov.uk/honours</a></p>
  </li>
  <li>
    <p>It asks for someone to be given a job, or to lose their job. This includes petitions asking for a vote of no confidence in someone and petitions calling for someone to resign.</p>
  </li>
  <li>
    <p>It contains party political material</p>
  </li>
  <li>
    <p>It’s nonsense or a joke</p>
  </li>
  <li>
    <p>It’s an advert, spam, or promotes a specific product or service</p>
  </li>
  <li>
    <p>It’s a Freedom of Information request</p>
  </li>
  <li>
    <p>It contains swearing or other offensive language</p>
  </li>
  <li>
    <p>It’s offensive or extreme in its views. That includes petitions that attack, criticise or negatively focus on an individual or a group of people because of characteristics such as their age, disability, ethnic origin, gender identity, medical condition, nationality, race, religion, sex, or sexual orientation</p>
  </li>
</ul>

<p>We publish the text of petitions that we reject, as long as they’re not:</p>
<ul class="list-bullet">
  <li>defamatory, libellous or illegal in another way;</li>
  <li>about a case that is active in the UK courts or about something that a court has issued an injunction over;</li>
  <li>offensive or extreme;</li>
  <li>confidential or likely to cause personal distress. That includes petitions that could intrude into someone’s personal grief or shock without their consent; or</li>
  <li>a joke, an advert or nonsense.</li>
</ul>

<h2 id="recall">Recall petitions</h2>

<p>If an MP has been convicted of certain criminal offences or suspended from the House of Commons for at least 10 sitting days, they may be subject to a recall petition.</p>
  
<p>Petitions to recall Members of Parliament do not appear on this website and the Petitions Committee are not responsible for them. 
  They are run locally, by the returning officer for your area, and have to be signed in person, by post or proxy. Your local authority will have issued a “notice of recall petition” on their website. 
  This will tell you how and when you can sign the petition.</p>
  
<p>Find out more about <a href="https://researchbriefings.parliament.uk/ResearchBriefing/Summary/SN05089">recall petitions</a> here.</p>  

<p>If you have any other questions, please <%= link_to 'get in touch', feedback_path %>.</p>

</div>
