<div class="text-page">

 <h1 class="page-title">How petitions work</h1>

 <ol class="list-number">
  <li>You create a petition. Only British citizens and UK residents can create or sign a petition.</li>
  <li>You get 5 people to support your petition. We’ll tell you how to do this when you’ve created your petition.</li>
  <li>We check your petition, then publish it. We only reject petitions that don’t meet the standards for petitions.</li>
  <li>At 10,000 signatures you get a response from the government.</li>
  <li>At 100,000 signatures your petition will be considered for a debate in Parliament.</li>
 </ol>

 <h2>Debates</h2>

 <p>Petitions which reach 100,000 signatures are almost always debated. But we may decide not to put a petition forward for debate because it doesn’t fit with parliamentary business (for example, because the issue has already been debated recently &ndash; or there’s a debate scheduled for the near future). If that’s the case, we’ll tell you how you can find out more about parliamentary debates on the issue raised by your petition.</p>

 <p>If it’s something that Parliament should discuss, MPs might consider your petition for a debate before it reaches 100,000 signatures.</p>

 <p>We may contact you about the issue covered by your petition. For example, we sometimes invite people who create petitions to take part in a discussion with MPs or government ministers, or to give evidence to a select committee. We may also write to other people or organisations to ask them about the issue raised by your petition.</p>

 <h2 id="standards">Standards for petitions</h2>

 <p>We’ll only reject your petition if it’s:</p>

 <ul class="list-bullet">
  <li>about something that the UK government or Parliament is not responsible for</li>
  <li>about something that’s the responsibility of a devolved body (eg the Scottish Parliament)</li>
  <li>about a purely personal issue</li>
  <li>abusive, obscene or contains hate speech</li>
  <li>deceptive or misleading</li>
  <li>advertising or spam</li>
  <li>nonsensical, or a joke</li>
  <li>party political</li>
  <li>about honours or appointments &ndash; there’s a different way to <a href="https://www.gov.uk/honours">nominate someone for an honour</a></li>
  <li>breaks the law or violates intellectual property rights</li>
  <li>covered by a court order, injunction or is about a court case that can’t be discussed publicly</li>
  <li>potentially confidential, commercially sensitive or might cause someone distress or financial loss</li>
  <li>names people working in public bodies (except for senior management)</li>
  <li>names family members of elected officials or people working in public bodies</li>
 </ul>
 <p>If we reject your petition, we’ll tell you why. If we can, we’ll suggest other ways you could raise your issue.</p>

 <p>We publish the text of petitions that we reject, as long as they’re not obscene or illegal.</p>

</div>
