<div class="text-page">

  <h1>Privacy and cookies</h1>

  <p>When you create a petition we ask for your name, email address and postcode.</p>

  <p>We’ll publish your name along with the petition, but not your email address or postcode. We these details to make sure you haven’t signed the petition already, and that you’re a real person (not a robot).</p>

  <p>We&apos;ll treat your personal information according to the <a href="https://www.gov.uk/government/organisations/cabinet-office/about/personal-information-charter">Cabinet Office personal information charter</a>.</p>

  <p>We’ll share your details with other government or parliamentary bodies so they can respond to your petition. We may also share your details with government or parliamentary bodies so they can invite you to take part in discussions about the issues raised in your petition.</p>

  <p>We won't:</p>

  <ul class="list-bullet">
    <li>sell your information</li>
    <li>email you about anything apart from the petitions you create or sign</li>
    <li>publish your details when you sign a petition</li>
  </ul>

  <p>We keep web-server logs to help prevent attacks on this website.</p>

<section id="cookies" aria-labelledby="cookies-heading">
  <h2 id="cookies-heading">Cookies</h2>

  <p>This website puts small files (known as &lsquo;cookies&rsquo;) onto your computer to collect information about how you browse the site.</p>

  <p>Cookies are used to:</p>

  <ul class="list-bullet">
    <li>measure how you use the petitions service so it can be updated and improved based on your needs</li>
    <li>remember the notifications you&apos;ve seen so that we don&apos;t show them to you again</li>
  </ul>

  <p>These cookies aren&apos;t used to identify you personally.</p>

  <p>Find out more about <a href="http://www.aboutcookies.org/" rel="external">how to manage cookies.</a></p>

  <h3>Google Analytics cookies</h3>

  <p>We use Google Analytics to collect information about how you use the service. This information helps us to improve the service.</p>
  <p>The Google analytics cookie collects and stores information about:</p>

  <ul class="list-bullet">
      <li>the pages you visit - how long you spend on each page</li>
      <li>how you got to the service</li>
      <li>what you click on while you&apos;re using the service</li>
  </ul>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Purpose</th>
        <th>Expires</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>_utma</td>
        <td>This lets us know if you&apos;ve visited before, so we can count how many of our visitors are new to the petitions service or to a certain page</td>
        <td>2 years</td>
      </tr>
      <tr>
        <td>_utmb</td>
        <td>This works with _utmc to calculate the average length of time you spend on the petitions service</td>
        <td>30 minutes</td>
      </tr>
      <tr>
        <td>_utmc</td>
        <td>This works with _utmb to calculate when you close your browser</td>
        <td>When you close your browser</td>
      </tr>
      <tr>
        <td>_utmt</td>
        <td>This tells us about events as you use the service</td>
        <td>10 minutes</td>
      </tr>
      <tr>
        <td>_utmz</td>
        <td>This tells us how you reached the petitions service (like from another website or a search engine)</td>
        <td>6 months</td>
      </tr>
    </tbody>
  </table>

  <p>Google isn&apos;t allowed to use or share our analytics data with anyone, but you can opt out of Google Analytics cookies.</p>

  <h3>Session cookies</h3>
  <p>We store a session cookie on your computer to help keep your information secure while you use the service.</p>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Purpose</th>
        <th>Expires</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>_epets_session</td>
        <td>This keeps your information secure while you use the petitions service</td>
        <td>When you close your browser</td>
      </tr>
    </tbody>
  </table>
</section>

</div>
