<div class="text-page">

<h1>Privacy and cookies</h1>

<section id="privacy" aria-labelledby="privacy-heading">

  <h2 id="privacy-heading">Privacy notice: how we use your data</h2>

  <p>Last update: May 25 2018</p>

  <p>The Petitions site lets you start and sign petitions to raise issues with the UK Government and Parliament.</p>

  <p>The Petitions service is provided by the Government and the House of Commons. We need to collect, process and store some personal data to enable you to do this.</p>

  <p>A data controller determines how and why personal data is processed. The Cabinet Office (part of the Government) and the House of Commons are joint data controllers of this site.</p>

  <p><a href="https://ico.org.uk/ESDWebPages/Entry/Z7414053">Read the Cabinet Office’s entry in the Data Protection Public Register</a> for more information.</p>

  <p><a href="https://ico.org.uk/ESDWebPages/Entry/Z8887540">Read the House of Commons entry in the Data Protection Public Register</a> for more information.</p>

  <p>The data controller for the House of Commons is the Clerk of the House.</p>

  <h3>What data we collect from you</h3>

  <p>The personal data we collect from people who start and sign petitions will include:</p>

  <ul class="list-bullet">
    <li>your name</li>
    <li>your email address</li>
    <li>your postcode</li>
    <li>the country you live in</li>
    <li>whether you are a British citizen</li>
    <li>the IP address you use when starting or signing a petition</li>
  </ul>

  <p>The legal basis for processing this data is public task – allowing you to raise issues with the UK Government and Parliament.</p>

  <h3>Why we need your data</h3>

  <p>We use this information to:</p>

  <ul class="list-bullet">
    <li>make sure that people only sign a petition once</li>
    <li>check that you’re eligible to sign a petition</li>
    <li>contact you about petitions you start</li>
    <li>if you consent, email you updates about what happens in Parliament petitions you’ve signed</li>
  </ul>

  <h3>What we do with your data</h3>

  <p>If you start a petition and we accept it, your name will be published with the petition. We won’t publish any other personal information about you.</p>

  <p>If you’ve signed a petition, we won’t publish any personal information about you.</p>

  <p>We’ll use your postcode to work out how many people in each parliamentary constituency have signed a petition.</p>

  <p>We will not:</p>

  <ul class="list-bullet">
    <li>sell or rent your data to third parties</li>
    <li>share your data with third parties for marketing purposes</li>
  </ul>

  <p>We will share your data if we’re required to do so by law – for example, by court order, or to prevent fraud or other crime.</p>

  <h3>What we’ll email you about</h3>

  <p>If a petition you’ve started or signed gets a response from the Government, we’ll email the response to you.</p>

  <p>If you’ve started or signed a petition, we might contact you to let you know about relevant things that are happening in Parliament and Government. That might include: debates that you can watch or read, chances to respond to a consultation, or ways to let MPs know why the petition is important to you.</p>

  <p>You can stop these emails by clicking the “unsubscribe” link in the email.</p>

  <h3>How long we keep your data</h3>

  <p>We will retain your personal data from the date you start or sign a petition, until 6 months after that petition closes – a maximum of 12 months in total.</p>

  <h3>Where your data is processed and stored</h3>

  <p>We design, build and run our systems to make sure that your data is as safe as possible at any stage, both while it’s processed and when it’s stored.</p>

  <p>All personal data on Petitions is processed, stored and managed entirely in the European Economic Area (EEA), and will not be transferred outside of it. This means that it is covered by EU Data Protection regulations.</p>

  <h3>How we protect your data and keep it secure</h3>

  <p>We are committed to doing all that we can to keep your data secure. We set up systems and processes to prevent unauthorised access or disclosure of the data we collect about you – for example, we protect your data using varying levels of encryption. All third parties who process personal data for us are required to keep that data secure.</p>

  <h3>What are your rights</h3>

  <p>You have the right to request:</p>

  <ul class="list-bullet">
    <li>information about how your personal data is processed</li>
    <li>a copy of that personal data - this copy will be provided in a structured, commonly used and machine-readable format</li>
    <li>that anything inaccurate in your personal data is corrected immediately</li>
  </ul>

  <p>You can also:</p>

  <ul class="list-bullet">
    <li>raise an objection about how your personal data is processed</li>
    <li>request that your personal data is erased if there is no longer a justification for it</li>
    <li>ask that the processing of your personal data is restricted in certain circumstances</li>
  </ul>

  <p>If you have any of these requests, please get in touch with us - you can find contact details below.</p>

  <h3>Changes to this notice</h3>

  <p>We may change this privacy notice. In that case the ‘last updated’ date at the top of this page will also change. Any changes to this privacy notice will apply to you and your data immediately. If these changes affect how your personal data is processed, we will take reasonable steps to make sure you know.</p>

  <h3>Questions and complaints</h3>

  <p>Contact us if you either:</p>

  <ul class="list-bullet">
    <li>have any questions about anything in this document</li>
    <li>think that your personal data has been misused or mishandled</li>
  </ul>

  <p>You can contact the Data Protection Officer for the House of Commons (part of Parliament) at:</p>

  <p>
  Head of Information Rights and Information Security<br>
  iris@parliament.uk<br>
  <br>
  IRIS Service<br>
  House of Commons<br>
  SW1A 0AA
  </p>
  
  <p>You can contact the Data Protection Officer for the Cabinet Office (part of the Government) here:</p>

  <p>
  Data Protection Officer<br>
  DPO@cabinetoffice.gov.uk<br>
  <br>
  Cabinet Office<br>
  70 Whitehall<br>
  London<br>
  SW1A 2AS
  </p>

  <p>You may also make a complaint to the Information Commissioner, who is an independent regulator set up to uphold information rights.</p>

  <p>
  Information Commissioner's Office<br>
  casework@ico.org.uk<br>
  0303 123 1113<br>
  <br>
  Wycliffe House<br>
  Water Lane<br>
  Wilmslow<br>
  Cheshire<br>
  SK9 5AF
  </p>
</section>

<section id="cookies" aria-labelledby="cookies-heading">
  <h2 id="cookies-heading">Cookies</h2>

  <p>This website puts small files (known as ‘cookies’) onto your computer to collect information about how you browse the site.</p>

  <p>Cookies are used to:</p>

  <ul class="list-bullet">
    <li>measure how you use the petitions service so it can be updated and improved based on your needs</li>
    <li>remember the notifications you’ve seen so that we don’t show them to you again</li>
    <li>help prevent people from fraudulently signing petitions</li>
  </ul>

  <p>These cookies aren’t used to identify you personally and are strictly necessary to ensure the secure running of this website.</p>

  <p>Find out more about <a href="http://www.aboutcookies.org/" rel="external">how to manage cookies.</a></p>

  <h3>Google Analytics cookies</h3>

  <p>We use Google Analytics to collect information about how you use the service. This information helps us to improve the service and prevent fraudulent signing.</p>
  <p>The Google analytics cookie collects and stores information about:</p>

  <ul class="list-bullet">
      <li>unique users</li>
      <li>informing referring sites</li>
      <li>vistor and session counts</li>
  </ul>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Purpose</th>
        <th>Expires</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>_ga</td>
        <td>A randomly generated reference is used to identify unique users and inform referring sites, visitor and session counts</td>
        <td>2 years</td>
      </tr>
    </tbody>
  </table>

  <p>Google isn’t allowed to use or share our analytics data with anyone, but you can opt out of Google Analytics cookies.</p>

  <h3>Session cookies</h3>
  <p>We store a session cookie on your computer to help keep your information secure while you use the service.</p>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Purpose</th>
        <th>Expires</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>_epets_session</td>
        <td>This keeps your information secure while you use the petitions service</td>
        <td>When you close your browser</td>
      </tr>
    </tbody>
  </table>
</section>

</div>
