<%= render 'parliament_dissolution_warning' if @page.show_dissolution_warning? %>

<div class="grid-row grid-row--reverse margin-top-7">
  <div class="grid-column-one-third-from-laptop hide-until-laptop">
    <% unless @page.disable_toc? %>
      <% if contents = markdown_to_contents(@page.content, nesting_level: 2..2) %>
        <nav class="sticky-menu" aria-label="Contents">
          <h2>Contents</h2>
          <%= contents %>
        </nav>
      <% end %>
    <% end %>
  </div>

  <div class="grid-column-two-thirds-from-laptop">
    <div class="markdown">
      <%= markdown_to_html(@page.content, tables: true, with_toc_data: true) %>
    </div>
  </div>
</div>
