
<p><%= @petitions.length %> <%= @petitions.length == 1 ? 'petition requires action' : 'petitions require action' %></p>

<p>Please go here <%= link_to threshold_admin_petitions_url(:secure => true), threshold_admin_petitions_url(:secure => true) %></p>

<p>Thank you.</p>