
<p><%= @petitions.length %> <%= @petitions.length == 1 ? 'petition requires action' : 'petitions require action' %></p>

<p>Please go here <%= link_to nil, threshold_admin_petitions_url %></p>

<p>Thank you.</p>