<h1>Statistics</h1>

<h2>Moderation performance</h2>

<ul>
  <li>
    <p>
      <%= link_to 'By week', admin_moderation_stats_path(format: :csv, period: 'week') %> |
      <%= link_to 'By month', admin_moderation_stats_path(format: :csv, period: 'month') %>
    </p>
  </li>
</ul>
