---
http_interactions:
- request:
    method: get
    uri: http://data.parliament.uk/membersdataplatform/services/mnis/Constituencies/N1/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <Constituencies><Constituency><Constituency_Id>3506</Constituency_Id><Name>Hackney
        North and Stoke Newington</Name><ONSCode>E14000720</ONSCode><RepresentingMembers><RepresentingMember><Member_Id>172</Member_Id><Member>Ms
        Diane Abbott MP</Member><StartDate>2015-05-07T00:00:00</StartDate><EndDate
        xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/></RepresentingMember><RepresentingMember><Member_Id>172</Member_Id><Member>Ms
        Diane Abbott MP</Member><StartDate>2010-05-06T00:00:00</StartDate><EndDate>2015-03-30T00:00:00</EndDate></RepresentingMember></RepresentingMembers></Constituency><Constituency><Constituency_Id>3507</Constituency_Id><Name>Hackney
        South and Shoreditch</Name><ONSCode>E14000721</ONSCode><RepresentingMembers><RepresentingMember><Member_Id>1524</Member_Id><Member>Meg
        Hillier MP</Member><StartDate>2015-05-07T00:00:00</StartDate><EndDate xsi:nil="true"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/></RepresentingMember><RepresentingMember><Member_Id>1524</Member_Id><Member>Meg
        Hillier MP</Member><StartDate>2010-05-06T00:00:00</StartDate><EndDate>2015-03-30T00:00:00</EndDate></RepresentingMember></RepresentingMembers></Constituency><Constituency><Constituency_Id>3536</Constituency_Id><Name>Holborn
        and St Pancras</Name><ONSCode>E14000750</ONSCode><RepresentingMembers><RepresentingMember><Member_Id>4514</Member_Id><Member>Keir
 [...]
