---
http_interactions:
- request:
    method: get
    uri: http://data.parliament.uk/membersdataplatform/services/mnis/Constituencies/N11TY/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <Constituencies><Constituency><Constituency_Id>3550</Constituency_Id><Name>Islington
        South and Finsbury</Name><ONSCode>E14000764</ONSCode><RepresentingMembers><RepresentingMember><Member_Id>1536</Member_Id><Member>Emily
        Thornberry MP</Member><StartDate>2015-05-07T00:00:00</StartDate><EndDate xsi:nil="true"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/></RepresentingMember><RepresentingMember><Member_Id>1536</Member_Id><Member>Emily
        Thornberry MP</Member><StartDate>2010-05-06T00:00:00</StartDate><EndDate>2015-03-30T00:00:00</EndDate></RepresentingMember></RepresentingMembers></Constituency></Constituencies>
  recorded_at: Tue, 26 May 2015 14:56:25 GMT
recorded_with: VCR 2.9.3
