@use "../settings" as *;
@use "../helpers" as *;

.search-form {
  @include media-query($from: laptop) {
    border: 1px solid $border-colour;
    border-radius: $button-border-radius;
  }

  @include responsive-margin(5, bottom);

  h2 {
    @extend %h3;
  }

  h3 {
    @extend %h4;
  }

  h2, h3 {
    margin-top: 0;
    @include responsive-margin(2, bottom);
  }

  section {
    margin: 0;

    header {
      display: flex;
      justify-content: space-between;

      @include responsive-margin(3, bottom);

      * {
        margin: 0;
      }

      p {
        @include font-size(20);
      }
    }

    fieldset, legend {
      margin: 0;
      padding: 0;
    }
  }

  &__query, &__selected-filters, &__filters {
    @include media-query($from: laptop) {
      padding: spacing(4);
    }
  }

  &__query {
    @include media-query($from: laptop) {
      border-bottom: 1px solid $border-colour;
    }
  }

  &__selected-filters {
    border-bottom: 1px solid $border-colour;
    display: none;

    @include media-query($from: laptop) {
      display: block;
    }

    background-color: $colour-grey-7;

    ul {
      @include font-size(18);

      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      li {
        margin: 0;
        padding: 0;
      }

      a {
        background-color: $colour-white;
        border: 1px solid $colour-black;
        border-radius: 3px;
        color: $colour-black;
        display: flex;
        align-items: center;
        line-height: 1;
        padding: 5px 7px;
        text-decoration: none;
        white-space: nowrap;

        &:hover {
          box-shadow: 0 0 0 1px $focus-colour;
          color: $colour-black;
        }

        &:focus {
          box-shadow: 0 0 0 1px $focus-colour, 0 0 0 3px $focus-shadow-colour;
        }

        &:after {
          background-image: url("data:image/svg+xml,%3Csvg%20fill%3D%22%23212121%22%20viewBox%3D%220%200%201024%201024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M697.4%20759.2l61.8-61.8L573.8%20512l185.4-185.4-61.8-61.8L512%20450.2%20326.6%20264.8l-61.8%2061.8L450.2%20512%20264.8%20697.4l61.8%2061.8L512%20573.8z%22%2F%3E%3C%2Fsvg%3E");
          content: "";
          width: 20px;
          height: 20px;
          margin: -4px;
          margin-left: 2px;
        }
      }
    }
  }

  &__filters {
    display: none;

    @include media-query($from: laptop) {
      display: block;
    }

    .form-group {
      @include responsive-margin(5, bottom);
    }

    .button-group {
      @include responsive-margin(3, top);
    }
  }

  & + p {
    display: none;

    @include media-query($from: laptop) {
      display: block;
    }
  }
}
