@use "sass:map";
@use "../settings" as *;
@use "../helpers" as *;

.sticky-menu {
  padding-left: spacing(5);

  @media screen and (min-width: map.get($breakpoints, laptop)) {
    @media screen and (min-height: 1024px) {
      position: sticky;
      z-index: 100;
      top: spacing(6);
    }
  }

  h2 {
    @extend %h3;
    font-weight: normal;
  }

  ul {
    border-left: 1px solid $border-colour;
    padding-left: spacing(4);

    li {
      margin: spacing(3) 0;
    }
  }
}
