<nav id="other-search-lists" role="navigation" aria-labelledby="other-lists-heading">
  <h2 id="other-lists-heading">Other lists of petitions</h2>
  <div class="section-panel">
    <ul>
    <% public_petition_facets_with_counts(@petitions).each do |facet, count| %>
      <li>
        <%= link_to petitions_url(@petitions.facet_params(facet)) do %>
          <%= t(facet, scope: :"petitions.lists", quantity: number_with_delimiter(count)) %>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
  <%= link_to 'Archived petitions', archived_petitions_path(state: "published") %>
</nav>
