<% content_for(:title) do %>
<title>Sorry, you are not allow to access this page (error 403)</title>
<% end %>

<h1>
  <span class="heading-secondary">Error 403</span>
  Sorry, you are not allowed to access this page
</h1>
<p>If you typed a web address or clicked a link, check it was correct</p>
<p>
  You can <a href="/" title="Petitions home">go back to the homepage</a> or
  <a href="/petitions" title="All petitions">search for a petition</a>
</p>
