<% content_for(:title) do %>
<title>The page you’re looking for doesn’t exist (error 404)</title>
<% end %>

<h1>
  <span class="heading-secondary">Error 404</span>
  The page you’re looking for doesn’t exist
</h1>
<p>If you typed a web address, check it was correct</p>
<p>
  You can <a href="/">go back to the homepage</a> or
  <a href="/petitions">search for a petition</a>
</p>
