<% content_for(:title) do %>
<title>Sorry, we can’t respond to that request (error 406)</title>
<% end %>

<h1>
  <span class="heading-secondary">Error 406</span>
  Sorry, we can’t respond to that request
</h1>
<p>If you typed a web address or clicked a link, check it was correct</p>
<p>
  You can <a href="/">go back to the homepage</a> or
  <a href="/petitions">search for a petition</a>
</p>
