<% content_for(:title) do %>
<title>The page you’re looking for is no longer available (error 410)</title>
<% end %>

<h1>
  <span class="heading-secondary">Error 410</span>
  The page you’re looking for is no longer available
</h1>
<p>
  You can <a href="/">go back to the homepage</a> or
  <a href="/petitions">search for a petition</a>
</p>
