<% content_for(:title) do %>
  <title>The change you wanted was rejected (error 422)</title>
<% end %>

<h1>
  <span class="heading-secondary">Error 422</span>
  We couldn’t do that, sorry
</h1>
<p>We couldn’t do what you wanted to do. Please try again.</p>
<p>
  You can <a href="/">go back to the homepage</a> or
  <a href="/petitions">search for a petition</a>
</p>
