<% content_for(:title) do %>
  <title>Sorry, something went wrong (error 500)</title>
<% end %>

<h1>
  <span class="heading-secondary">Error 500</span>
  Sorry, something went wrong
</h1>
<p>
  You can <a href="/">go back to the homepage</a> or
  <a href="/petitions">search for a petition</a>
</p>
