<% content_for(:title) do %>
  <title>Petitions is down for maintenance (error 503)</title>
<% end %>

<h1>Petitions is down for maintenance</h1>
<p>We know about it and we’re working on it.</p>
<p>Please try again later.</p>
