.admin {
  .petition-actions {
    margin-top: $gutter*2;
  }

  .petition-action {
    display: block;
    padding: $gutter-two-thirds 0;
    border-top: 1px solid $border-colour;
    @extend %contain-floats;
  }

  .petition-action-heading {
    @include bold-24;
    &:first-child {
      margin-top: 0;
    }
  }

  .petition-action-subheading {
    @include bold-19;
    margin-top: 0;
  }
}
