.admin {
  .petition-list {
    margin-bottom: em(24, 16);

    th, td {
      width: 12.5%;
      text-align: right;
    }
  }

  th.petition-list-petition-action, td.petition-list-petition-action {
    width: 37.5%;
    text-align: left;
    padding-right: $gutter;
  }

  th.petition-list-petition-creator, td.petition-list-petition-creator {
    text-align: left;
  }

  .petition-list-petition-state-flagged {
    background-color: $mellow-red-25;
  }

  th:last-child, td:last-child {
    padding-right: 0;
  }

  .petition-emails {
    th:first-child, td:first-child {
      text-align: left;
    }
  }

  .invalidation-list {
    th, td {
      text-align: right;
    }

    th:first-child, td:first-child {
      text-align: left;
    }

    th:last-child, td:last-child {
    }
  }

  .signature-list {
    margin-bottom: em(24, 16);

    th, td {
      text-align: left;
      padding: em(12, 16) em(20, 16) em(12, 16) 0;
    }

    th:last-child, td:last-child {
      text-align: right;
      padding-right: 0;
    }

    td:first-child {
      text-align: left;
    }

    td:last-child {
      white-space: nowrap;
    }

    .petition-action {
      a {
        display: block;
      }
    }

    .petition-signature-count {
      text-align: right;
    }

    .signature-status,
    .signature-creator,
    .signature-timestamp {
      text-align: center;
    }

    .signature-name,
    .signature-timestamp {
      white-space: nowrap;
    }
  }

  .tag-list {
    th, td {
      text-align: left;
    }

    th:last-child, td:last-child {
      text-align: right;
    }

    td:first-child {
      text-align: left;
    }
  }
}
