.admin {
  .signature-logs {
    margin-bottom: em(24, 16);
  }

  .petition-list {
    margin-bottom: em(24, 16);

    th, td {
      width: 12.5%;
      text-align: right;
    }
  }

  th.petition-list-petition-action, td.petition-list-petition-action {
    width: 37.5%;
    text-align: left;
    padding-right: $gutter;
  }

  th.petition-list-petition-creator, td.petition-list-petition-creator {
    text-align: left;
  }

  .petition-list-petition-state-flagged {
    background-color: $mellow-red-25;
  }

  th:last-child, td:last-child {
    padding-right: 0;
  }

  .petition-emails {
    th:first-child, td:first-child {
      text-align: left;
    }
  }

  .invalidation-list {
    th, td {
      text-align: right;
    }

    th:first-child, td:first-child {
      text-align: left;
    }

    th:last-child, td:last-child {
    }
  }

  .signature-list {
    margin-bottom: em(24, 16);

    th, td {
      text-align: left;
      padding: em(12, 16) em(20, 16) em(12, 16) 0;
    }

    th:last-child, td:last-child {
      text-align: right;
      padding-right: 0;
    }

    td:first-child {
      text-align: left;
      white-space: nowrap;
    }

    td:last-child {
      white-space: nowrap;
    }

    .signature-status {
      text-align: center;
    }

    p {
      font-size: 16px;
      margin: 0 0 3px 0;
    }

    dl {
      margin-top: 3px;
      display: flex;
      flex-direction: row;
      align-items: baseline;
    }

    dt {
      margin-right: 6px;
      font-size: 12px;
      font-weight: bold;
      color: $grey-1;
      text-transform: uppercase;
    }

    dd {
      font-size: 14px;
      margin-right: 12px;
      white-space: nowrap;
    }

    span {
      white-space: nowrap;
    }

    .creator {
      display: inline-block;
      width: 12px;
      height: 12px;
      background-color: $black;
      color: $white;
      font-size: 19px;
      line-height: 7px;
      font-weight: bold;
      border-radius: 50%;
      text-align: center;
      padding: 3px;
      vertical-align: text-top;
    }

    .status {
      background-color: $grey-2;
      color: $white;
      font-size: 14px;
      font-weight: bold;
      line-height: 14px;
      padding: 3px 6px;
      border-radius: 3px;
    }

    .status-validated {
      background-color: $success;
    }

    .status-fraudulent {
      background-color: $caution;
    }

    .status-invalidated {
      background-color: $danger;
    }
  }

  .tag-list {
    th, td {
      text-align: left;
    }

    th:last-child, td:last-child {
      text-align: right;
    }

    td:first-child {
      text-align: left;
    }
  }

  .domain-list {
    td {
      padding: 8px 0;
      font-size: 14px;
      line-height: 20px;
    }

    th, td {
      &:last-child {
        text-align: right;
      }
    }

    code {
      font-family: monospace;
      font-size: 14px;
      line-height: 20px;
      color: $black;
      background-color: $highlight-colour;
      border: 1px solid $border-colour;
      border-radius: 3px;
      padding: 3px 7px;
    }
  }
}
