.admin {
  .petition-list {
    margin-bottom: em(24, 16);

    th, td {
      width: 12.5%;
      text-align: right;
    }
  }

  th.petition-list-petition-action, td.petition-list-petition-action {
    width: 37.5%;
    text-align: left;
    padding-right: $gutter;
  }

  th.petition-list-petition-creator, td.petition-list-petition-creator {
    text-align: left;
  }

  .petition-list-petition-state-flagged {
    background-color: $mellow-red-25;
  }

  th:last-child, td:last-child {
    padding-right: 0;
  }

  .petition-emails {
    th:first-child, td:first-child {
      text-align: left;
    }
  }

  .invalidation-list {
    th, td {
      text-align: right;
    }

    th:first-child, td:first-child {
      text-align: left;
    }

    th:last-child, td:last-child {
    }
  }
}
