.admin {
  .petition-meta {
    padding-top: $gutter *1.5;

    dl {
      dt {
        @include bold-19();
      }

      dd {
        margin-bottom: em(15, 16);

        @include media(tablet) {
          margin-bottom: em(15);
        }
      }
    }
  }
  .petition-meta-state, .petition-metaa-signature-count {
    @include core-48;
  }

}
