.admin {
  .petition-meta, .signature-trends {
    dl {
      dt {
        @include bold-19();
      }

      dd {
        margin-bottom: em(15, 16);

        @include media(tablet) {
          margin-bottom: em(15);
        }

        small {
          @include core-14;
          color: $grey-1;
          display: block;
        }
      }
    }

    .statistics-meta {
      small {
        @include core-14;
        color: $grey-1;
        display: block;
        margin-bottom: em(6, 16);
      }
    }
  }

  .petition-meta-state, .petition-meta-signature-count {
    @include core-36;
  }

  .petition-meta {
    padding-top: $gutter *1.5;
  }

  .signature-trends {
    padding-top: $gutter-half;
  }

  .petition-meta-state, .petition-meta-signature-count {
    @include core-36;
  }
}
