.last {
  padding-right: 0px;
}

.date {
  text-align: right;
  white-space: nowrap;
}

.action {
  text-align: right;
}

.fraudulent-domains {
  width: 100%;

  td {
    border-bottom: none;
    padding: 3px 0px 3px 0px;
    text-align: right;
  }

  td:first-child {
    text-align: left;
  }
}
