.admin {
  #admin_nav {
    margin-top: 1em;
    margin-bottom: 1em;
    li {
      display: inline-block;
      margin-right: 1em;
      padding-left: 1em;
      border-left: 1px solid $panel-colour;
    }
    li:first-child {
      border-left: none;
      padding: 0;
    }
  }
}
