<%= form_tag local_petitions_path, method: 'get' do %>
  <div class="form-group">
    <%= label_tag 'postcode', 'UK postcode', class: 'form-label' %>
    <%= search_field_tag 'postcode', local_assigns[:postcode], class: 'form-control' %>
  </div>
  <%= submit_tag 'Search', class: 'button' %>
<% end %>
