<section class="about-item about-item-count-response" id="response-threshold" aria-labelledby="response-threshold-heading">
  <h2 id="response-threshold-heading">At <%= Site.formatted_threshold_for_response %> signatures...</h2>
  <p>At <%= Site.formatted_threshold_for_response %> signatures, government will respond to this petition</p>
</section>
