<!-- Back to X list -->

<div class="grid-row">

  <div class="column-two-thirds extra-gutter">
    <%= render 'admin/petitions/petition_content' %>
    <%= render 'admin/petitions/petition_actions' %>
  </div>

  <div class="admin-petition-meta column-third">
    <%= render 'admin/petitions/petition_details' %>
  </div>

</div>
