.hub-actions {
  margin-top: $gutter-half;

  ul {
    overflow: hidden;
    margin-bottom: -$gutter-half;

    li {
      margin-bottom: $gutter;
    }

    a {
      position: relative;
      display: block;
      @include box-sizing(border-box);
      width: 100%;
      height: 200px;
      background-color: $house-of-commons-green;
      padding: $gutter-half;
      color: $white;
      @include bold-27;

      .count {
        @include bold-48;
        display: block;
        margin-bottom: $gutter * 2;
      }

      .graphic {
        position: absolute;
        top: $gutter-half;
        right: $gutter-two-thirds;
      }
    }
  }

  .moderation {
    overflow: hidden;
    margin-left: $gutter-half;
    margin-right: $gutter-half;

    .queue-stable {
      background-color: $house-of-commons-green;
    }

    .queue-caution {
      background-color: $caution;
    }

    .queue-danger {
      background-color: $danger;
    }

    .panel {
      height: 200px;
      color: $white;

      @include media(tablet) {
        float: left;
        width: 50%;
      }

      margin-bottom: $gutter;

      a {
        color: $white;
        display: block;
      }

      .summary {
        @include bold-27;
      }

      .details {
        .label {
          float: right;
        }

        small {
          @include core-14;
          line-height: 40px;
          float: right;
          margin-right: $gutter-half;
        }

        .tagged-in-moderation {
          background-color: $grey-1;

          a {
            color: $white;
          }
        }

        .untagged-in-moderation {
          background-color: $grey-3;

          a {
            color: $black;
          }
        }

        div {
          line-height: 40px;
          height: 40px;
        }

        a {
          padding-right: $gutter-half;
          padding-left: $gutter-half;
        }
      }

      .count {
        @include bold-48;
        display: block;
        margin-bottom: $gutter * 2;
      }

      .summary {
        padding-top: $gutter-half;
        padding-left: $gutter-half;
      }
    }
  }
}

.hub-links {
  text-align: right;
}
