.hub-actions {
  li {
    margin-bottom: $gutter;
  }
  a {
    position: relative;
    display: block;
    @include box-sizing(border-box);
    width: 100%;
    height: 200px;
    background-color: $house-of-commons-green;
    padding: $gutter-half;
    color: $white;
    @include bold-27;

    .count {
      @include bold-48;
      display: block;
      margin-bottom: $gutter * 2;
    }

    .graphic {
      position: absolute;
      top: $gutter-half;
      right: $gutter-half;
    }
  }
}
