.admin {
  #content {
    margin-top: $gutter-half;
  }

  .flash-notice {
    background-color: $flash-green;
    padding: $gutter-half;
    @include bold-19;
  }

  .flash-error,
  .flash-alert {
    background-color: $flash-red;
    color: $white;
    padding: $gutter-half;
    @include bold-19;
  }

  .reject-flash-notice {
    background-color: $flash-blue;
    padding: $gutter-half;
    margin: 5px 0;
  }

  .search-petitions {
    margin-bottom: $gutter-half;
  }

  .character-count {
    margin-bottom: 0;
  }

  // Pagination
  .pagination {
    margin: $gutter-half 0;
    text-align: right;
    .icon {
      display: none;
    }
    .disabled {
      color: $panel-colour;
    }
    .current {
      background-color: $panel-colour;
      padding: 1px 0.2em;
    }
    a {
      padding: 1px 0.1em;
    }
    a:visited {
      color: $link-colour;
    }
    .previous_page {
      margin-right: 5px;
    }
    .next_page {
      margin-left: 5px;
    }
  }

  .login {
    margin-top: $gutter;
  }

  .button_to {
    display: inline-block;

    input[type=submit] {
      margin: 0;
      font-size: 12px;
      padding: 2px 8px;
      line-height: 16px;
    }
  }
}
