@font-face {
  font-family: "National";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("National-LFS-Book.woff2") format('woff2');
}

@font-face {
  font-family: "National";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("National-LF-BookItalic.woff2") format('woff2');
}

@font-face {
  font-family: "National";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("National-LFS-Semibold.woff2") format('woff2');
}

@font-face {
  font-family: "National";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url("National-LF-SemiboldItalic.woff2") format('woff2');
}
