@use "sass:map";

@use "./settings" as *;
@use "./helpers" as *;

.grid-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$gutter-half;
  margin-right: -$gutter-half;

  & > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-left: $gutter-half;
    padding-right: $gutter-half;
  }
}

.grid-column {
  flex: 1 1 0;
  max-width: 100%;
}

@each $width in map.keys($grid-widths) {
  .grid-column-#{$width} {
    @include grid-column($width);
  }
}

@each $width in map.keys($grid-widths) {
  .grid-column-#{$width}-from-tablet {
    @include grid-column($width, $at: tablet);
  }
}

@each $width in map.keys($grid-widths) {
  .grid-column-#{$width}-from-laptop {
    @include grid-column($width, $at: laptop);
  }
}

@each $width in map.keys($grid-widths) {
  .grid-column-#{$width}-from-desktop {
    @include grid-column($width, $at: desktop);
  }
}
