@use "./settings" as *;
@use "./helpers" as *;

table {
  @include responsive-margin(6, bottom);

  border-spacing: 0;
  border-collapse: collapse;
}

th, td {
  border-bottom: 1px solid $border-colour;
  padding: spacing(3) spacing(4);
  text-align: left;
  vertical-align: top;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}
