.no-petitions-yet {
  padding-top: 18px;
}

.view-all {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    color: $white;
    text-decoration: none;
  }
}

#petitions-referred,
#petitions-with-debated-outcome {
  .threshold-panel {
    border: 2px solid $border-color;
    color: $text-color;
    display: block;
    margin: 36px 0 18px 0;
    padding: 12px;
    text-decoration: none;

    h2 {
      color: $text-color;
      font-weight: normal;
      margin: 0;
      padding-top: 42px;
      position: relative;

      @include font-size(0.875rem, 1rem);

      &::before {
        background-position: left center;
        background-size: 24px 24px;
        color: $brand-color;
        content: attr(data-threshold);
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1;
        padding-left: 30px;
        position: absolute;
        left: 0;
        top: 2px;
      }
    }

    &:hover, &:active, &:focus {
      background-color: transparent;
      border: 2px solid $focus-color;

      h2 {
        color: $focus-color;
      }
    }
  }

  p {
    margin: 0;
    margin-top: 6px;
  }

  .threshold-petitions {
    .intro {
      margin-top: 0;
    }
  }
}

#petitions-referred {
  h2 {
    &::before {
      @extend %icon-users;
    }
  }
}

#petitions-with-debated-outcome {
  h2 {
    &::before {
      @extend %icon-podium;
    }
  }
}
