html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

.wrapper {
  @include site-width-container($site-width);
  position: relative;
}

#content {
  @include site-width-container($site-width);
  @extend %contain-floats;
  padding-bottom: 18px;

  @include media(tablet) {
    padding-bottom: 36px;
  }
}
