$site-width: 648px;

$full-width: 100%;
$one-quarter: $full-width/4;
$one-third: $full-width/3;
$half: $full-width/2;
$two-thirds: ($full-width)-($one-third);
$three-quarters: ($full-width)-($one-quarter);

@mixin media($size: false, $max-width: false, $min-width: false) {
  @if $size == desktop {
    @media (min-width: 769px){
      @content;
    }
  } @else if $size == tablet {
    @media (min-width: 641px){
      @content;
    }
  } @else if $size == mobile {
    @media (max-width: 640px){
      @content;
    }
  } @else if $max-width != false {
    @media (max-width: $max-width){
      @content;
    }
  } @else if $min-width != false {
    @media (min-width: $min-width){
      @content;
    }
  } @else {
    @media (min-width: $size){
      @content
    }
  }
}

@mixin site-width-container($width) {
  max-width: $width;
  margin: 0 18px;

  @include media(tablet) {
    margin: 0 36px;
  }

  @include media($min-width: ($width + 72)) {
    margin: 0 auto;
  }
}
