// Edited version of govuk_frontend_toolkit
// https://github.com/alphagov/govuk_frontend_toolkit/
@import "govuk_frontend_toolkit/conditionals";
@import "govuk_frontend_toolkit/shims";
@import "govuk_frontend_toolkit/css3";
@import "govuk_frontend_toolkit/colours";
@import "govuk_frontend_toolkit/typography";
@import "govuk_frontend_toolkit/grid_layout";
@import "govuk_frontend_toolkit/design-patterns/buttons";

// Edited version of govuk_elements repo
// https://github.com/alphagov/govuk_elements
// @import "govuk_elements/reset";
// @import "govuk_elements/buttons";
@import "govuk_elements/details";
// @import "govuk_elements/elements-typography";
@import "govuk_elements/forms";
// @import "govuk_elements/helpers";
// @import "govuk_elements/icons";
// @import "govuk_elements/layout";
// @import "govuk_elements/lists";
@import "govuk_elements/panels";
@import "govuk_elements/tables";

// Petitions styles
@import "petitions/helpers";
@import "petitions/reset";
@import "petitions/basic";
@import "petitions/colours";
@import "petitions/typography";
@import "petitions/accessibility";
// @import "petitions/details";
@import "petitions/icons";
// @import "petitions/panels";
@import "petitions/buttons";
@import "petitions/layout";
@import "petitions/header";
@import "petitions/footer";
@import "petitions/forms";
@import "petitions/search-inline";

@import "petitions/admin/layout";
@import "petitions/admin/colours";
@import "petitions/admin/header";
@import "petitions/admin/meta";
@import "petitions/admin/actions";
@import "petitions/admin/locking";
@import "petitions/admin/list";
@import "petitions/admin/logout";
@import "petitions/admin/tables";

// Petition admin views
@import "petitions/admin/views/shared";
@import "petitions/admin/views/hub";

@import "accessible-autocomplete.min";
