<h1>Petition admin</h1>
<div class="grid-row">
  <div class="column-two-thirds">
    <% action_counts do |counts| %>
      <ul class="hub-actions grid-row">
        <% counts.each do |state, count| %>
          <li class="column-half action-<%= state.to_s.dasherize %>">
            <%= link_to admin_petitions_url(state: state) do %>
              <%= action_count(state, count) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
