<details role="group" open="">
  <summary role="button" aria-controls="about-json-content" aria-expanded="true">
    <span class="summary">About petition data</span>
  </summary>
  <div id="about-json-content" aria-hidden="false">
    <p>
      The data shows the number of people who have signed the petition
      by country as well as in the constituency of each Member of Parliament.
      This data is available for all petitions on the site. It is not a
      list of people who have signed the petition. The only name
      that is shared on the site is that of the petition creator.
    </p>
  </div>
</details>
