<template id="cookiebannerTemplate">
  <div class="cookie-manager" data-nosnippet>
    <div id="cookiebanner" class="cookie-banner" hidden role="region" aria-label="Cookie banner">
      <div class="container">
        <h2>Our use of cookies</h2>

        <p>
          We use essential cookies to make our site work.
        </p>

        <p>
          We’d like to use additional cookies to understand how
          you use the site and improve our services.
        </p>

        <p>
          You can find details of these and all other cookies on our
          <a href="/cookies">cookie policy</a>.
        </p>

        <button id="acceptCookies" class="button">Accept additional cookies</button>
        <button id="rejectCookies" class="button">Reject additional cookies</button>
        <button id="manageCookies" class="button button-secondary">Cookie settings</button>
      </div>
    </div>
  </div>
</template>
