<template id="cookiepreferencesTemplate">
  <div class="cookie-manager">
    <dialog class="cookie-preferences" id="cookiepreferences" aria-labelledby="cookie-preferences__title">
      <div class="cookie-preferences__header">
        <button id="closePreferences" class="button-icon" autofocus>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" aria-label="Close cookie settings">
            <title>Close cookie settings</title>
            <path fill="currentColor" d="M697.4 759.2l61.8-61.8L573.8 512l185.4-185.4-61.8-61.8L512 450.2 326.6 264.8l-61.8 61.8L450.2 512 264.8 697.4l61.8 61.8L512 573.8z"/>
          </svg>
          <span class="visually-hidden">Close cookie settings</span>
        </button>

        <h2 id="cookie-preferences__title">
          Cookie settings
        </h2>

        <p>
          Cookies are small files saved on phones, tablets or computers when
          websites are visited. They store information about how this website
          is used, such as the pages that are visited. They are used to make
          websites work and improve their experience.
        </p>

        <p>
          We use two types of cookies. You can choose which cookies you are
          happy for us to use.
        </p>

        <p>
          Read our <a href="/cookies">cookie policy</a> for more information.
        </p>
      </div>

      <div class="cookie-preferences__settings">
        <form id="preferencesForm">
          <div>
            <h3>Essential cookies</h3>

            <p>
              These cookies always need to be on as they help to make our website work.
              Essential cookies are a site’s basic form of memory, so they do things
              like remember if you are logged in to a part of the website.
            </p>

            <p>
              You may be able to block these cookies by changing the preferences on
              your browser, but this can limit you from accessing our online services.
            </p>
          </div>

          <div>
            <h3>Analytics cookies</h3>

            <p>
              We use analytics tools to collect data on how people use our website
              to help make improvements.
            </p>

            <p>
              These cookies let us understand how people access our site, where
              they are accessing from, what pages they visit and what technology
              they are using.
            </p>

            <div class="cookie-toggle">
              <div class="multiple-choice">
                <input name="analyticsCookies" type="radio" value="true" id="analyticsCookiesTrue">
                <label for="analyticsCookiesTrue">Use cookies that measure my website use</label>
              </div>

              <div class="multiple-choice">
                <input name="analyticsCookies" type="radio" value="false" checked="checked" id="analyticsCookiesFalse">
                <label for="analyticsCookiesFalse">Do not use cookies that measure my website use</label>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="cookie-preferences__footer button-group">
        <button id="savePreferences" class="button">
          Save cookie settings
        </button>
      </div>
    </dialog>
  </div>
</template>
