<header role="banner" id="global-header">
  <div class="wrapper">
    <% if home_page? %>
      <span class="proposition">
        <span class="graphic graphic-portcullis-white"></span> Petitions
      </span>
    <% else %>
      <%= link_to(home_path, :title => 'Go to the petitions homepage', :tabindex => 1, :class => 'proposition') do %>
        <span class="graphic graphic-portcullis-white"></span> Petitions
      <% end %>
    <% end %>
    <p class="strapline">UK Government and&nbsp;Parliament</p>
  </div>
</header>
