<header role="banner" id="global-header">
  <div class="wrapper">
    <% unless request.nil? %>
      <%= language_switcher_tag %>
    <% end %>

    <% if home_page? %>
      <span class="proposition">
        <span class="graphic graphic-dragon-white"></span> <%= t(:"ui.header.title") %>
      </span>
    <% else %>
      <span>
        <%= t(:"ui.header.title_link_html", url: home_path) %>
      </span>
    <% end %>
    <p class="strapline"><%= t(:"ui.header.strapline") %></p>
  </div>
</header>
