<header role="banner" id="global-header">
  <div class="wrapper">
    <%= link_to(home_path, :title => 'Go to the petitions homepage', :tabindex => 1) do %>
      <span class="graphic graphic-portcullis-white"></span> Petitions
    <% end %>

    <% if home_page? %>
      <p class="strap-line">Tell the government what you think</p>
    <% end %>
  </div>
</header>
