<nav class="service-navigation" aria-label="Menu" data-module="navigation-menu" data-breakpoint="768px">
  <button type="button" aria-controls="navigation" aria-expanded="false" hidden>
    <div class="container">
      <span>Menu</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" aria-hidden="true">
        <path fill="currentColor" d="M6.028 6.05 10.986.057 12 .876 6.028 8 0 .876.986 0z"/>
      </svg>
    </div>
  </button>

  <div id="navigation">
    <ul class="container">
      <%= navigation_item "Home", home_path %>
      <%= navigation_item "Browse all petitions", petitions_path %>
      <%= navigation_item "How petitions work", help_path %>
      <%= navigation_item "Petition standards", standards_path %>
    </ul>
  </div>
</nav>
