<h2>Share this petition</h2>
<ul class="petition-share">
  <li>
    <%= share_via_facebook(petition, rel: 'external') %>
  </li>
  <li>
    <%= share_via_email(petition, rel: 'external') %>
  </li>
  <li>
    <%= share_via_twitter(petition, rel: 'external') %>
  </li>
  <li class="petition-share-whatsapp">
    <%= share_via_whatsapp(petition, rel: 'external') %>
  </li>
</ul>
