// Details
// ==========================================================================
// GOV.UK front end toolkit dependencies
@import "../govuk_frontend_toolkit/colours";

details {
  display: block;

  summary {
    display: inline-block;
    color: $govuk-blue;
    cursor: pointer;
    position: relative;
    margin-bottom: em(5);

    @include media(desktop){
      &:hover {
        color: $link-hover-colour;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 3px;
      }
    }

    &:focus {
      background-color: $focus-colour;
      outline: 3px solid $focus-colour;

      &:hover {
        text-decoration: none;
      }
    }
  }

  // Underline only summary text (not the arrow)
  .summary {
    text-decoration: none;
  }

  // Match fallback arrow spacing with -webkit default
  .arrow {
    margin-right: .35em;
    font-style: normal;
  }

  // Remove top margin from bordered panel
  .panel-indent {
    margin-top: $gutter-half;
    margin-bottom: 0;
  }
}
