/* Global footer */

#footer {
  background-color: $panel-colour;
  padding-top: $gutter;
  border-top: 10px solid $house-of-commons-green;

  a {
    color: $black;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    margin-bottom: $gutter;
  }
  li {
    margin-bottom: $gutter-half;
  }

  .open-government-licence {
    clear: left;
    position: relative;

    @include media(tablet) {
      padding-left: 53px;
    }

    @include ie(6) {
      zoom: 1;
    }

    .logo {
      margin-bottom: 1em;
      padding-top: 0;
      @include media(tablet) {
        position: absolute;
        left: 0;
        top: 0;
        width: 41px;
        height: 100%;
      }

      a {
        display: block;
        width: 41px;
        height: 17px;
        overflow:hidden;
        text-indent: -999em;
        background: image-url("logos/open-government-licence.png") 0 0 no-repeat;
        @include device-pixel-ratio() {
          background-image: image-url("logos/open-government-licence_2x.png");
          background-size: 41px 17px;
        }
      }
    }

    p {
      @include core-16;
      margin: 0;
      padding-top: 0.1em;
    }
  }
}

.copyright {
  @include core-16;

  margin: 30px 0 0 0;
  width: 100%;
  display: block;
  text-align: center;

  @include media(tablet) {
    display: inline-block;
    text-align: inherit;
    width: 25%;
    padding-top: 15px;
    margin-top: 0;
  }

  @include ie-lte(7) {
    float: right;
    height: 150px;
    width: 24%;
  }

  .crest-parliament {
    @include inline-block;
    width: 48px;
    height: 60px;
    margin-right: 60px;

    background-image: image-url("logos/parliament-crest.png");
    background-repeat: no-repeat;

    @include device-pixel-ratio() {
      background-image: image-url("logos/parliament-crest-2x.png");
      background-size: 48px 60px;
    }

    @include ie(6) {
      background-image: image-url("logos/parliament-crest-ie.png");
    }
  }

  .crest-hm-gov {
    @include inline-block;
    width: 73px;
    height: 60px;

    background-image: image-url("logos/hm-gov-crest.png");
    background-repeat: no-repeat;

    @include device-pixel-ratio() {
      background-image: image-url("logos/hm-gov-crest-2x.png");
      background-size: 73px 60px;
    }

    @include ie(6) {
      background-image: image-url("logos/hm-gov-crest-ie.png");
    }
  }

  a {
    display: block;

    text-align: center;
    text-decoration: none;

    margin-top: 10px;

    @include media(tablet) {
      text-align: right;
    }

  }
}
