/* Global footer */

#footer {
  border-top: 10px solid $house-of-commons-green;
  background-color: $panel-colour;
  padding-top: $gutter;
  padding-bottom: $gutter *1.5;

  a {
    color: $black;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    margin-bottom: $gutter;
  }
  li {
    @include core-16;
    margin-bottom: $gutter-one-third;
  }

  .open-government-licence {
    clear: left;
    position: relative;

    @include media(tablet) {
      padding-left: 53px;
    }

    @include ie(6) {
      zoom: 1;
    }

    .logo {
      margin-bottom: 1em;
      padding-top: 0;
      @include media(tablet) {
        position: absolute;
        left: 0;
        top: 0;
        width: 41px;
        height: 100%;
      }

      a {
        display: block;
        width: 41px;
        height: 17px;
        overflow:hidden;
        text-indent: -999em;
        @include background-image("/images/graphics/graphic_open-government-licence", 41, 17);
        background-position: 0 0;
        background-repeat: no-repeat;
      }
    }

    p {
      @include core-16;
      margin: 0;
      padding-top: 0.1em;
    }
  }
}

.copyright {
  @include core-16;

  margin: $gutter*1.5 0 0 0;
  width: 100%;
  display: block;
  text-align: center;

  @include media(tablet) {
    display: inline-block;
    text-align: inherit;
    width: 25%;
    padding-top: 15px;
    margin-top: 0;
  }

  @include ie-lte(7) {
    float: right;
    height: 150px;
    width: 24%;
  }

  .graphic-portcullis-large-grey {
    margin-right: $gutter *1.5;
  }

  a {
    display: block;

    text-align: center;
    text-decoration: none;

    margin-top: $gutter-half;

    @include media(tablet) {
      text-align: right;
    }

  }
}
