// Adds to ../govuk_elements/_forms.scss

.form-control {
  width: 100%;
  padding: 0.5em;
}

select.form-control {
  height: 40px;
  -webkit-appearance: menulist;
  background-color: $panel-colour;
  border: 1px solid $border-colour;
}
select.form-control:hover {
  border-color: $black;
}

.form-control.small {
  width: 8.5em;

  @include media(tablet) {
    width: 50%;
  }
}

.form-group {
  margin-bottom: $gutter;
}

.form-group.error {
  @extend %outdent-to-full-width;

  @include media(tablet) {
    padding-left: $gutter - 5px;
    padding-right: $gutter;
  }
}

// Replication .form-label-bold without the font
.error .form-label {
  @extend .form-label-bold;
}

.character-count {
  color: $secondary-text-colour;
  float: right;
  padding-left: $gutter;
}
.character-count.too-many-characters {
  color: $error-colour;
}

.form-label {
  margin-bottom: em(13, 19);

  .optional {
    color: $secondary-text-colour;
    margin-left: 0.5em;
  }
}

.form-group-help {
  margin: 5px 0 0;
}

.form-hint {
  @include media (tablet) {
    margin-top: 5px;
  }
}
