// Adds to ../govuk_elements/_forms.scss

select.form-control {
  -webkit-appearance: menulist;
}

.form-control.small {
  width: 8.5em;
}

.form-group {
  margin-bottom: $gutter;
}

.form-group.error {
  @extend %outdent-to-full-width;

  @include media(tablet) {
    padding-left: $gutter - 5px;
    padding-right: $gutter;
  }
}

// Replication .form-label-bold without the font
.error .form-label {
  @extend .form-label-bold;
}

.form-control {
  padding: 0.5em;
}

.character-count {
  color: $secondary-text-colour;
  text-align: right;
}

.form-hint {
  margin-top: em(10, 19);
}

.form-label {
  margin-bottom: em(13, 19);

  .optional {
    color: $secondary-text-colour;
    margin-left: 0.5em;
  }
}

.form-group-help {
  margin-bottom: 0;
}

.inline-terms {
  @include core-16;
  color: $secondary-text-colour;
}
