#global-header {
  $text-indent: 50px;

  background-color: $petitions-header-colour;
  padding-top: $gutter-half;
  margin-top: -1px;
  margin-bottom: -1px;
  padding-bottom: $gutter-half;
  a {
    color: $white;
    font-size: 24px;
    font-weight: 700;
    display: block;
    position: relative;
    overflow: visible;
    vertical-align: baseline;
    text-decoration: none;
    line-height: 34px;
    padding-left: $text-indent;
  }
  a:focus {
    background-color: transparent;
    text-decoration: underline;
  }
  .graphic {
    position: absolute;
    left: 0;
    top: 0;
    width: 28px;
    height: 34px;
  }

  .strap-line {
    font-size: 24px;
    line-height: 35/24;
    padding-left: $text-indent;
    margin-bottom: $gutter-half;
    color: $white;
  }
}

#global-cookie-message {
  width: 100%;
  background-color: $light-blue-25;
  padding-top: 10px;
  padding-bottom: 10px;
  p {
    @extend %site-width-container;
    @include core-16;
    margin-top: 0;
    margin-bottom: 0;
    a {
      white-space: nowrap;
    }
  }
}
