#global-header {
  background-color: $petitions-header-colour;
  padding-top: $gutter-half;
  margin-top: -1px;
  margin-bottom: -1px;
  padding-bottom: $gutter-half;
  h1 {
    margin: 0;
  }
  .proposition {
    color: $white;
    font-size: 24px;
    font-weight: 700;
    display: block;
    position: relative;
    overflow: visible;
    vertical-align: baseline;
    line-height: 34px;
    padding-left: $text-indent;
  }
  a {
    text-decoration: none;
  }
  a:focus {
    background-color: transparent;
    text-decoration: underline;
  }
  .graphic {
    position: absolute;
    left: 0;
    top: 0;
    width: 28px;
    height: 34px;
  }

  .strapline {
    color: $white;
    margin: $gutter-one-third -5px 5px $text-indent;
  }
}
