#global-header {
  background-color: $petitions-header-colour;
  height: 60px;

  a {
    color: $white;
    font-size: 24px;
    font-weight: 700;
    display: block;
    position: relative;
    top: 3px;
    overflow: visible;
    vertical-align: baseline;
    text-decoration: none;
    margin-bottom: -1px;
    padding-bottom: 1px;
  }
  a:focus {
    background-color: transparent;
    text-decoration: underline;
  }
  img {
    position: relative;
    top: 6px;
    width: 28px;
    height: 34px;
    padding-right: 22px;
    display: inline;
  }
}
