// Petitions icons
// GOV.UK front end toolkit dependencies
@import "../govuk_frontend_toolkit/device-pixels";

// Graphics
// .graphic .graphic-portcullis
// .graphic .graphic-portcullis
// .graphic .graphic-portcullis-white
// .graphic .graphic-portcullis-large-grey
// .graphic .graphic-crown
// .graphic .graphic-crown-grey
// .graphic .graphic-crown-white
// .graphic .graphic-crest-large-grey
// .graphic .graphic-pen
// .graphic .graphic-open-government-licence

// Icons
// .icon .icon-facebook-share
// .icon .icon-email-share
// .icon .icon-twitter-share
// .icon .icon-whatsapp-share
// .icon .icon-email
// .icon .icon-warning-white
// .icon .icon-confirmation-tick
// .icon .icon-search-white
// .icon .icon-location-white
// .icon .icon-play-white

.icon, .graphic {
  background-position: 0 0;
  background-repeat: no-repeat;
  @include inline-block;
}

.graphic-portcullis {
  width: 26px;
  height: 32px;
  background-image: url("/images/graphics/graphic_portcullis.png");

  @include device-pixel-ratio() {
    background-image: url("/images/graphics/graphic_portcullis-2x.png");
    background-size: 100%;
  }
}
.graphic-portcullis-white {
  width: 26px;
  height: 32px;
  background-image: url("/images/graphics/graphic_portcullis-white.png");

  @include device-pixel-ratio() {
    background-image: url("/images/graphics/graphic_portcullis-white-2x.png");
    background-size: 100%;
  }
}
.graphic-portcullis-large-grey {
  width: 52px;
  height: 64px;
  background-image: url("/images/graphics/graphic_portcullis-large-grey.png");

  @include device-pixel-ratio() {
    background-image: url("/images/graphics/graphic_portcullis-large-grey-2x.png");
    background-size: 100%;
  }
}
.graphic-crown {
  width: 36px;
  height: 25px;
  background-image: url("/images/graphics/graphic_crown.png");

  @include device-pixel-ratio() {
    background-image: url("/images/graphics/graphic_crown-2x.png");
    background-size: 100%;
  }
}
.graphic-crown-grey {
  width: 36px;
  height: 25px;
  background-image: url("/images/graphics/graphic_crown-grey.png");

  @include device-pixel-ratio() {
    background-image: url("/images/graphics/graphic_crown-grey-2x.png");
    background-size: 100%;
  }
}
.graphic-crown-white {
  width: 36px;
  height: 25px;
  background-image: url("/images/graphics/graphic_crown-white.png");

  @include device-pixel-ratio() {
    background-image: url("/images/graphics/graphic_crown-white-2x.png");
    background-size: 100%;
  }
}
.graphic-crest-large-grey {
  width: 80px;
  height: 64px;
  background-image: url("/images/graphics/graphic_crest-large-grey.png");

  @include device-pixel-ratio() {
    background-image: url("/images/graphics/graphic_crest-large-grey-2x.png");
    background-size: 100%;
  }
}
.graphic-pen {
  width: 25px;
  height: 35px;
  background-image: url("/images/graphics/graphic_pen.png");

  @include device-pixel-ratio() {
    background-image: url("/images/graphics/graphic_pen-2x.png");
    background-size: 100%;
  }
}
.graphic-open-government-licence {
  width: 42px;
  height: 17px;
  background-image: url("/images/graphics/graphic_open-government-licence.png");

  @include device-pixel-ratio() {
    background-image: url("/images/graphics/graphic_open-government-licence-2x.png");
    background-size: 100%;
  }
}
.icon-facebook-share {
  width: 7px;
  height: 16px;
  background-image: url("/images/icons/icon_facebook-share.png");

  @include device-pixel-ratio() {
    background-image: url("/images/icons/icon_facebook-share-2x.png");
    background-size: 100%;
  }
}
.icon-email-share {
  width: 18px;
  height: 13px;
  background-image: url("/images/icons/icon_email-share.png");

  @include device-pixel-ratio() {
    background-image: url("/images/icons/icon_email-share-2x.png");
    background-size: 100%;
  }
}
.icon-twitter-share {
  width: 16px;
  height: 13px;
  background-image: url("/images/icons/icon_twitter-share.png");

  @include device-pixel-ratio() {
    background-image: url("/images/icons/icon_twitter-share-2x.png");
    background-size: 100%;
  }
}
.icon-whatsapp-share {
  width: 19px;
  height: 19px;
  background-image: url("/images/icons/icon_whatsapp-share.png");

  @include device-pixel-ratio() {
    background-image: url("/images/icons/icon_whatsapp-share-2x.png");
    background-size: 100%;
  }
}
.icon-email {
  width: 25px;
  height: 17px;
  background-image: url("/images/icons/icon_email.png");

  @include device-pixel-ratio() {
    background-image: url("/images/icons/icon_email-2x.png");
    background-size: 100%;
  }
}
.icon-warning-white {
  width: 25px;
  height: 25px;
  background-image: url("/images/icons/icon_warning-white.png");

  @include device-pixel-ratio() {
    background-image: url("/images/icons/icon_warning-white-2x.png");
    background-size: 100%;
  }
}
.icon-confirmation-tick {
  width: 22px;
  height: 17px;
  background-image: url("/images/icons/icon_confirmation-tick.png");

  @include device-pixel-ratio() {
    background-image: url("/images/icons/icon_confirmation-tick-2x.png");
    background-size: 100%;
  }
}
.icon-search-white {
  width: 18px;
  height: 18px;
  background-image: url("/images/icons/icon_search-white.png");

  @include device-pixel-ratio() {
    background-image: url("/images/icons/icon_search-white-2x.png");
    background-size: 100%;
  }
}
.icon-location-white {
  width: 18px;
  height: 18px;
  background-image: url("/images/icons/icon_location-white.png");

  @include device-pixel-ratio() {
    background-image: url("/images/icons/icon_location-white-2x.png");
    background-size: 100%;
  }
}
.icon-play-white {
  width: 18px;
  height: 23px;
  background-image: url("/images/icons/icon_play-white.png");

  @include device-pixel-ratio() {
    background-image: url("/images/icons/icon_play-white-2x.png");
    background-size: 100%;
  }
}
