// Panels
// ==========================================================================
// GOV.UK front end toolkit dependencies
@import "helpers";

details {
  margin-bottom: $gutter-half;
}

// Indented panels with a grey left hand border
.panel-indent {
  @extend %contain-floats;
  clear: both;
  border-left: 10px solid $border-colour;

  padding: 0 0 0 $gutter-half;
  margin: ($gutter $gutter-half $gutter*1.5 0);

  legend {
    margin-top: 0;
  }

  // Remove bottom margin on last paragraph
  p:only-child,
  p:last-child {
    margin-bottom: 0;
  }

  .form-group:last-child {
    margin-bottom: 0;
  }

  h1 {
    .heading-secondary {
      padding-top: 0;
    }
  }
}

.panel-no-border {
  border-left: none;
  padding: 0;
}
