.search-inline {
  @extend %contain-floats;

  input.form-control {
    @include appearance(none);
    @include box-sizing(content-box);
    float: left;
    min-width: 0;
    margin: 0;
    border-right: 0;
    padding: 6px;
    height: 26px;
    width: 77%;
    @include calc(width, "100% - 53px");
  }
  #postcode {
    text-transform: uppercase;
  }

  .inline-submit {
    float: left;
    width: 40px;
    height: 40px;
    border: 0;
    overflow: hidden;
    text-indent: -5000px;
    cursor: pointer;
    color: $white;
    background-color: $petitions-brand;
    background-repeat: no-repeat;
    background-position: 45% 50%;
    @include background-image("icons/icon_search-white", 18px, 18px);
    &:hover, &:focus {
      background-color: darken($petitions-panel-colour, 5%);
    }
  }

  .inline-button {
    @include bold-19;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0px em(19, 24);
  }
}
