// Mostly taken from govuk_elements typography file

@import "../govuk_frontend_toolkit/typography";
@import "../govuk_frontend_toolkit/colours";
@import "helpers";

html, body, button, input, table, td, th, main {
  @include core-19;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
}

$text-indent: 50px;

// Common heading sizes
// Using the bold-xx mixins from the govuk_toolkit _typography.scss file
// Spacing is set in em, using em() in the helpers

// Headings
h1 {
  @include bold-36();

  margin-top: em(15, 24);
  margin-bottom: em(10, 24);

  @include media(tablet) {
    margin-top: em(45, 36);
    margin-bottom: em(20, 36);
  }

  .heading-secondary {
    @include heading-24();

    display: block;
    color: $secondary-text-colour;
  }

}

h2, h3, h4 {
  @include bold-19();

  margin-top: em(20, 16);
  margin-bottom: em(10, 16);

  @include media(tablet) {
    margin-top: em(30, 19);
    margin-bottom: em(10, 19);
  }

}

p {
  margin-top: em(5, 16);
  margin-bottom: em(15, 16);

  @include media(tablet) {
    margin-top: em(5);
    margin-bottom: em(15);
  }

}

.text-secondary {
  color: $secondary-text-colour;
}

// Lede, or intro text
.lede {
  @include core-24;
  margin-top: em(5, 18);
  margin-bottom: em(15, 18);

  @include media(tablet) {
    margin-top: em(5, 24);
    margin-bottom: em(15, 24);
  }
}

.heading-link {
  margin-top: em(-16, 16);
  margin-bottom: em(24, 16);

  @include media(tablet) {
    margin-top: em(-19, 19);
    margin-bottom: em(32, 19);
  }
}

.committee-note {
  background-color: $grey-3;
  padding: em(18);
  padding-top: em(9);
  padding-bottom: em(1);
  margin-bottom: em(15, 18);
}

// Link styles
a {
  color: $link-colour;
  text-decoration: underline;
  text-decoration-thickness: 2px !important;
  text-underline-offset: 3px !important;
}

a:visited {
  color: $link-colour;
}

a:hover {
  color: $link-hover-colour;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

a:hover:focus {
  text-decoration: none;
}

a:active {
  color: $link-colour;
}

.secondary, .inline-terms {
  color: $secondary-text-colour;
}
