<% content_for(:page_title) { "View archived petitions - Petitions" } %>

<h1 class="page-title">Archived petitions</h1>

  <% if @petitions.empty? %>
      <p class="no_petitions_warning">No archived petitions could be found.</p>
  <% else %>
    <form method="get" action="/archived/petitions/search" class="search-form search-inline">
      <label for="search" class="form-label">Search for an archived petition</label>
      <input type='text' name="q" id="search" class="form-control" />
      <input type='submit' value='Search' class="inline-submit" id="home_search_button"/>
    </form>
    <div class="search-results section-panel">
      <ol>
        <% @petitions.each do |petition| %>
          <li class="petition-item petition">
            <%= link_to petition.title, archived_petition_path(petition), :class => 'text_link' %>
            <%= 'Rejected' if petition.rejected? %>
            <p><%= signature_count(:default, petition.signature_count) unless petition.rejected? %></p>
          </li>
        <% end %>
      </ol>
     </div>
  <% end %>

<%= render 'search/result_list_footer', petitions: @petitions %>
