<header role="banner" id="global-header">
  <div class="wrapper">
    <%= link_to(admin_root_path, title: 'Go to the petitions admin hub', tabindex: 1, class: 'proposition') do %>
      <span class="graphic graphic-dragon-white"></span> Petitions Admin
    <% end %>
    <%= render 'admin/shared/header_user_actions' %>
  </div>
</header>
