<h1>Your feedback has been sent</h1>

<%= render 'messages' %>

<p>Thanks for sending us your feedback.</p>

<p>If you’ve requested a response, we’ll be in touch as soon as we can.</p>

<p>During busy periods this can take up to 5 working days.</p>

<p><%= link_to "Back to Petitions home", home_path, :class => 'link_button large_link_button return_to_homepage_button' %></p>
