<% content_for :title do %>
<div class="title_block">
  <h1>Your feedback has been sent</h1>
</div>
<% end %>

<div class="cta_block thank_you_block">

  <p>Thanks for sending us your feedback.  If you've requested a response, we'll get back in touch with you as soon as we can, although during busy periods this could take up to 5 working days.</p>

  <%= link_to "Return to homepage", home_path, :class => 'link_button large_link_button return_to_homepage_button' %>
</div>

