<h1><%= t(:"ui.feedback.thanks.heading") %></h1>

<%= render 'messages' %>

<%= t(:"ui.feedback.thanks.body_html") %>

<p><%= link_to t(:"ui.feedback.thanks.back_link"), home_path, :class => 'link_button large_link_button return_to_homepage_button' %></p>
