<%= render "search/petitions/shared/petition_title_link", petition: petition %>
<%= render "search/petitions/shared/signature_count", petition: petition %>
<p>Debated <%= short_date_format(petition.debate_outcome.debated_on) %></p>
