<%= form_for petition, url: admin_petition_removal_path(petition), method: :patch do |f| %>
  <p>Removing a petition from public view is final and cannot be undone</p>

  <%= f.submit 'Remove petition', name: 'save', class: 'button-secondary', disabled: @petition.editing_disabled? %>
  <%= link_to 'Cancel', admin_petition_path(@petition), class: 'button-secondary' %>
<% end %>

<%= render 'edit_lock' %>
