<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    h1, h2, h3 {
      font-family: arial;
      line-height: 1.55em;
      margin-top: 24px;
      margin-bottom: 6px;
    }

    hr {
      background-color: #666;
      border: none;
      height: 1px;
      margin: 18px 0;
    }

    p, ul, ol, li {
      font-family: arial;
      line-height: 1.55em;
      margin: 0;
    }

    p {
      margin-top: 12px;
      margin-bottom: 18px;
    }

    li {
      margin-bottom: 6px;
    }

    ul, ol {
      margin-bottom: 18px;
      padding-left: 1.5em;
    }
  </style>
</head>

<body>
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td stype="width: 20px; height: 20px;"></td>
      <td stype="width: 400px; height: 20px;"></td>
      <td stype="width: 20px; height: 20px;"></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
        <%= yield %>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td style="height: 30px;"></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td stype="width: 20px; height: 20px;"></td>
      <td stype="width: 400px; height: 20px;"></td>
      <td stype="width: 20px; height: 20px;"></td>
    </tr>
  </table>
</body>
</html>
